[2020-11-30 14:29] rootofdigits commented on #100
my problem is:-
users with windows authentication:
display name (first and last)
work email is correct.

for azureAD authentication
display name (user email)
work email is null

[2020-11-30 14:42] NaveenKanukuntla opened #109 "When 'Return security-enabled groups only' is checked, no results are returned for Groups"
When I check for 'Return security-enabled groups only'. No groups are returned. I have some Azure AD Groups and I do have groups that are synchronized from On-Prem Active Directory on my Dev Farm. I did not work either in V16 or V17 as well.

Here is my AzureCP Settings :
![image](https://user-images.githubusercontent.com/19915644/100623193-cf371c00-32ef-11eb-822f-bf3d9e811fd3.png)

Here are my Cl

[2020-11-30 14:43] NaveenKanukuntla commented on #107
@Yvand : I do have the same issue. I do not seem to get any results if 'filter guest users' is selected when configuring my Azure Connection.

[2020-11-30 15:56] Yvand commented on #107
Ok, I was waiting for @staehelir to send more data but it looks like an actual bug, I will repro it soon and let you know the result

[2020-11-30 15:58] Yvand commented on #109
Thank you for reporting this, I will test it soon and let you know if I repro

[2020-12-01 13:15] Yvand commented on #107
I tested with 2 tenants, 1 has ExcludeGuests set to true and the other to false:

[code]

It all works as expected: guest accounts of AzureTenants[0] are filtered out and both members and guests are shown in AzureTenants[1].
@NaveenKanukuntla @staehelir am I missing something?

[2020-12-01 15:01] Yvand commented on #109
It's absolutely a bug, fixed in https://github.com/Yvand/AzureCP/commit/5d1f26bbec662521fde8502ba3449c213393cbed
Thank you for reporting it!

[2020-12-02 16:27] NaveenKanukuntla commented on #107
@Yvand : I think I now understand what is going wrong.

When we add a Tenant, we have a choice to select 'Filter our Guest Users' on the configuration screen

![image](https://user-images.githubusercontent.com/19915644/100899547-f7f61780-348f-11eb-9896-2440a3a26ab1.png)

So, when I configure like above and perform a search, the below is what I get.

![image](https://user-images.githubusercontent.c

[2020-12-03 13:41] Yvand commented on #107
@NaveenKanukuntla thank you for the details, it pointed me directly to the problem, it's really a dump issue: I set property ExcludeMembers instead of ExcludeGuests when the option was set in the new AAD tenant dialog...
It's fixed in https://github.com/Yvand/AzureCP/commit/229c14dd8a81d26225b5b9535978bd2278e93b40

[2020-12-03 14:06] NaveenKanukuntla commented on #107
Great. Let me know when the latest version is out and I will test it for you.

[2020-12-04 11:54] staehelir commented on #107
@Yvand @NaveenKanukuntla thank you. It works over PowerShell!

[2020-12-04 12:53] rajalima opened #110 "Members not recognized after AzureCP installation"
Hi,
After installing AzureCP V16 ,when trying to add members in a SharePoint group, getting the message :"Sorry, you are not allowed to share this with external users."
Reset the azureCP configuration and restrated timer and IIS still no luck.

Thanks

[2020-12-04 13:48] Yvand commented on #110
Is it when searching a user or validating it?
Can you check if AzureCP throws an error in SP logs, filter on product/area "azurecp"

[2020-12-04 22:28] vargasfe opened #111 "AzureAD Groups not returned: 18.0.20201120.1245"
I created a Security group in Azure AD but it is not returned by AzureCP.
I have "Retrieve Azure AD groups" checked in the configuration.

I also tried checking "Return security-enabled groups only" but that made no difference.

I thought it might have to do with the permissions assigned to the App Registration in AAD, so I added specific permission to Group.Read.All and Directory.Read.All (both D

[2020-12-06 12:02] rajalima commented on #110
Azure CP is not throwing any error . It is when we search for the username.

On Fri, 4 Dec, 2020, 7:18 pm Yvan Duhamel, <notifications@github.com> wrote:

[2020-12-07 08:48] Yvand commented on #110
If AzureCP correctly returns the entity you are searching, it looks like the problem comes from SharePoint. The SharePoint logs on the request that causes this error may help you understand the cause

[2020-12-07 15:49] Yvand commented on #107
@NaveenKanukuntla I just published the pre-release, here is the link: https://github.com/Yvand/AzureCP/releases/tag/19.0.20201207.1262
Thanks!

[2020-12-07 16:19] vargasfe commented on #107
Hello Yvan,

I just installed release 1262 and I am still unable to get AzureAD groups in people picker.

None of the groups: Security, Microsoft 365, Distribution show up in people picker.

I’ve uninstalled, installed, reset configuration, etc. and groups are not returned.

Please help…

Fernando

From: Yvan Duhamel <notifications@github.com>
Sent: Monday, December 7, 2020 10:50 AM
To: Yvand/Azur

[2020-12-07 22:36] Grime121 opened #112 "UserLogin vs. UserName"
This isn't really an "issue" with the app (I don't think...), but more of a problem that we are having with implementation. The only way we have been able to get the display names to show up correctly (for instance, in the top right-hand corner of the SharePoint pages) is by setting the Unique Identifier in AzureCP to DisplayName. However, if we do that, it also changes the UserLogin values to i:0

[2020-12-08 08:18] Yvand commented on #107
@vargasfe this bug is for the guest accounts filter, please open a separate issue for your scenario that is different.
Thanks

[2020-12-08 08:44] Yvand commented on #112
AzureCP should always set the value with the UPN, regardless of the display name which is different.
Can you check the SharePoint logs and filter on product/area "AzureCP" to see exactly how AzureCP creates the entities?

[2020-12-08 08:46] Yvand commented on #112
And you can configure this in AzureCP "Global configuration" page, and more deeply in the "Claim types configuration" page

[2020-12-08 08:49] Yvand commented on #111
@vargasfe the only permissions that are required, and that should be actually configured, are “Group.Read.All” and “User.Read.All” of type application (not delegated).
Please make sure you followed exactly the steps documented in https://yvand.github.io/AzureCP/Register-App-In-AAD.html.

Can you also check the SharePoint logs and filter on product/area "AzureCP" when you search for groups?

[2020-12-08 09:32] Grime121 commented on #112
When you say “ AzureCP should always set the value with the UPN”, which value are you referring to? The SP UserLogin value? When we change the AzureCP unique identifier to DisplayName, it is setting the UserLogin value to <claims header>|<DisplayName>, and the SP Name value to <DisplayName>. When we set the AzureCP unique identifier to UPN, it is setting the SP UserLogin value to <claims header>|<

[2020-12-08 09:59] Yvand commented on #112
The user identifier is always **the trailing part**:
i:0e.t|aadtrust|**aaduser1@tenant.onmicrosoft.com**

With Azure AD, this identifier is always the userPrincipalName (for members) and you should really not change it.
But AzureCP lets you choose a different attribute to display (here I set it to DisplayName):

![image](https://user-images.githubusercontent.com/8788631/101468343-8e6c8200-3943-11e

[2020-12-08 19:14] vargasfe commented on #111
Yvan,

I figured it out. It turns out that the SPTrustedIdentityTokeIssuer did not have the role claim.
Fixed it by adding the claim to the SPTrustedIdentityTokenIssuer and then adding the mapping.

$Name = "The name of you Trusted Identity Provider"
$ap=Get-SPTrustedIdentityTokenIssuer $Name
$ap.ClaimTypes.Add("http://schemas.microsoft.com/ws/2008/06/identity/claims/role")
$ap.Update()

$map6 = N

[2020-12-08 19:14] #111 closed

[2020-12-08 20:21] Grime121 commented on #112
We have ours set to OnPremiseUserPrincipleName because we do not use our On-Prem AD UPNs as the identifier when syncing our users to Azure. We use the On-Prem AD user's mail attribute to sync them to Azure. This is because we have almost 800 different domains, so it was going to be impossible to add them all as additional suffixes to our On-Prem AD. So... That is why we use OnPremisesUserPrinciple

[2020-12-09 00:02] Grime121 commented on #112
We are actually having the same problem in the DEV environment now. I'm not sure what changed that could have caused the SP Name value to change from DisplayName to OnPremisesUserPrincipleName when we add new users in DEV now. It does still at least allow me to search by DisplayName, though, and the preview even shows the account as:

AzureCP
DisplayName=Sunil Kunapalli

Here's a screenshot of tha

[2020-12-09 19:36] Grime121 commented on #112
I discovered that if I reset the AzureCP config, and then add my tenant back, change the identifier to OnPremisesUserPrincipleName, and change the Display value to DisplayName, it fixes it. I am once again getting DisplayName for the SP Name values. I'm not sure why it stopped working in both my Farms. Hopefully it will stick this time, though, if I don't screw with any other settings in there.

[2020-12-09 20:13] Grime121 commented on #112
I just discovered that it is only working incorrectly for at least SOME users. For instance, I just added two other users, and it added them with the correct DisplayName values. When I add my own account though, it uses the OnPremisesUserPrincipleName. Why would it be working one way for one account, and another for another account? My account is coming from the same Claims source as theirs. In fa

[2020-12-09 20:50] Grime121 commented on #112
Ah Ha! I figured it out in QA. I had to remove my old account that was still using the UPN as the displayname (using Remove-SPUser). THEN, when I added a new permission for my account, it used my correct display name.

[2020-12-10 08:54] Yvand commented on #112
@Grime121 nice catch. To avoid this kind of confusion in such tests, you can try in new site collections, where users/groups don't exist yet in the UserInfo table.

[2020-12-10 08:54] #112 closed

[2020-12-10 10:22] Grime121 commented on #112
Is it safe to delete entries from the UserInfo table that have the tp_Deleted value (or whatever that column is called) set to a non-zero number? Or can that cause issues? Surely there is some way to clean up that table.... We’ve had these Content DBs going back to SP 2010, and are a fairly large company. So, there are a TON of deleted users in there. Not to mention (and more importantly) the user

[2020-12-10 16:47] Yvand commented on #112
There is no supported way to delete entries from the UserInfo table, even for stale, long deleted users.

[2020-12-10 23:38] Grime121 commented on #112
That’s too bad. We’re still having some sign-in issues with one of the three sites in PROD, but it doesn’t appear to be related to AzureCP. The permissions all look correct, but users are still getting “Site is not shared with you.” Hopefully we can get it sorted out this evening, though. Thanks for helping me work that issue out with you!

[2020-12-14 16:44] Yvand commented on #107
@NaveenKanukuntla were you able to test the release?

[2020-12-19 21:08] dvanboven commented on #86
I've executed this above successfully on a development server and also restarted the server. After the restart I've executed the following:

[code]

It seems not being updated, am I right?

[2020-12-23 08:05] dvanboven commented on #86
@Yvand can you re-open this issue or do I need to create a new issue? (sorry for my delay)

[2020-12-23 08:45] Yvand commented on #86
@dvanboven I believe this references issue has been completely resolved with [AzureCP 18.0.20201120.1245](https://github.com/Yvand/AzureCP/releases/tag/18.0.20201120.1245), by updating the target framework to .NET 4.7.2.
This version fixes the issue described in https://docs.microsoft.com/en-us/dotnet/standard/net-standard: "For .NET Framework projects that need to use such libraries, we recommend

[2020-12-23 11:08] dvanboven commented on #86
Last Saterday I've installed .NET Framework 4.7.2 (NDP472-KB4054530-x86-x64-AllOS-ENU.exe) and also AzureCP has been updated to version 18.0.20201120.1245.

But still I cannot select users from the people picker, which is via AzureCP. Only the on-prem AD will show users.

Also removed the AzureCP and reinstalled it, but still no luck.

[2020-12-24 08:42] Yvand commented on #86
Can you confirm what error you see in the logs with this version?

[2021-01-05 16:29] dvanboven commented on #86
The logfile won't show anything, regarding this issue. I've put it on "verbose" mode.

[2021-01-06 14:48] Yvand commented on #86
Do you see any message from AzureCP?

[2021-01-06 16:44] dvanboven commented on #86
When I searched the logfile, I found the records below:
[code]

Could this be the issue?

[2021-01-06 21:18] NaveenKanukuntla commented on #109
@Yvand : I have installed the latest release and the issue is not resolved. I can now search for users and also security groups.

[2021-01-06 21:19] NaveenKanukuntla commented on #107
@Yvand : The issue is now resolved with the latest release. Thank you very much.

[2021-01-07 10:40] Yvand commented on #109
Just to be clear, did you mean that it resolved the issue or not (you typed "not resolved")?

[2021-01-07 10:41] #107 closed

[2021-01-07 10:45] Yvand commented on #86
Yes it's definitely the issue, but I was very confident I fully resolved it by switching to  .NET 4.7.2 (starting with AzureCP 18).
It's very disappointing to see it's still there, and I don't know how to truly identify the dependency your server is missing...

[2021-01-07 19:15] vargasfe opened #113 "AzureCP for use with multiple web apps with different tenants each in a single farm"
Yvan,
I have read somewhere that is is possible to have multiple AzureCP instances running on a single farm to serve multiple web apps, each of which has it's own  separate AzureAD tenant.

Can you please explain how to achieve this?

Thanks,

[2021-01-07 21:22] NaveenKanukuntla commented on #109
@Yvand : Sorry about my typo. The issue is now resolved.

[2021-01-10 19:38] dvanboven commented on #86
Last days a colleague of mine did a great job, this with some extensive maintenance of the Sharepoint server:
- issues with the newtonsoft.json dll has been fixed
- several other issues with registering some files has been fixed
- upgrade of Sharepoint has been executed
- lots and lots of other fixes has been executed

During the upgrade the following error appeared:
[code]

The logfile is now cle

[2021-01-13 08:29] #109 closed

[2021-01-13 08:32] Yvand commented on #113
@vargasfe you can associate a claims provider with only 1 SPTrustedIdentityTokenIssuer.
Is your question related to having several SPTrustedIdentityTokenIssuer in a given web app, or a single SPTrustedIdentityTokenIssuer in multiple web apps ?

[2021-01-13 08:34] Yvand commented on #86
@dvanboven very nice, I would be curious to know exactly how it was resolved.
Based on your screenshot, it seens there is no AAD tenant registered in AzureCP. Did you add it in the AzureCP global configuration page?

[2021-01-13 09:47] #110 closed

[2021-01-13 12:43] dvanboven commented on #86
@Yvand I cannot reproduce exactly what my colleague did, but I can ask him if he could update this case.

Yes, the AAD tenant has been registered:
![azurecp_aad-tenant](https://user-images.githubusercontent.com/40298841/104453801-3f9ab380-55a5-11eb-84ed-9e5737fca132.png)

[2021-01-13 17:52] vargasfe commented on #113
I want to have a SP farm with multiple web apps and each web app is connected to its unique SPTrustedIdentityTokenIssuer  (different from the ones used by the other web apps); and each SPTrustedIdentityTokenIssuer associated with its own, unique AzureCP.
Something like this:
Farm1 - WebAPP1 - SPTITI1 - AzureCP1 - AzureTenant1
Farm1 - WebAPP2 - SPTITI2 - AzureCP2 - AzureTenant2
Farm1 - WebAPP3 - SP

[2021-01-14 20:52] wvanderwerf commented on #86
@Yvand nice to meet! First of all, thanks for your great work regarding this product! I'm the one who can answer your question, and offcourse i'm willing to share as much detail i can. If you have morge questions than answered here below, just ask. For now, i will limit myself to only the relevant parts (as far as there would be stuff left out).

@dvanboven put me on track wat was happening, the i

[2021-01-15 16:01] Yvand commented on #86
Thank you for all those details on this setup issue, I admit I was hoping that the solution was simpler than that :)
I admit I don't really understand what exactly was wrong with the Newtonsoft DLL but it's really great that you managed to fix it.
Regarding other issues, feel free to open a new issue to treat them separately.

[2021-01-15 16:07] Yvand commented on #113
This scenario is technically possible, but in practice I don't encourage you to go for something like this unless you really have to,
In fact I think it would be much easier to create 3 farms, each with it own AAD tenant, than going with this scenario,

With that said, you're right that there is a limitation: due to limitations in SharePoint API, AzureCP won't work if you set it with multiple SPTr

[2021-01-20 14:00] ooditj commented on #110
Hi  Team, we need your help, please help us to fix it :

we are getting following cert issue :

An operation failed because the following certificate has validation errors:

Subject Name: CN=graph.microsoft.com, O=Microsoft Corporation, L=Redmond, S=WA, C=US
Issuer Name: CN=Microsoft Azure TLS Issuing CA 05, O=Microsoft Corporation, C=US
Thumbprint: 48B5B869C6B5E00A14121D987DF888410C77B8D4

Errors

[2021-01-20 14:18] ooditj opened #114 "Members not recognized after AzureCP installation #110"
After installing AzureCP V16 ,when trying to add members in a SharePoint group, getting the message :"Sorry, you are not allowed to share this with external users."
 Reset the azureCP configuration and restrated timer and IIS still no luck.

we are getting following cert issue :

An operation failed because the following certificate has validation errors:

Subject Name: CN=graph.microsoft.com, O=M

[2021-01-27 12:14] plantoschka opened #115 "People Picker unreliable, timeouts"
Hello,

we've enabled AzureCP for one web application three months ago. We notice that the people picker works very unreliable. Often times I have to retype the name I'm searching for multiple times before the results appear. Sometimes this takes a couple of minutes. When I get the results it will work fine for the next couple of hours (probably the results are chached?).

When no people are found

[2021-02-01 15:04] Yvand commented on #115
@plantoschka can you try to run the following script on the SharePoint server, as the application pool account, and check if it works/how long it takes:

[code]

[2021-02-01 15:05] Yvand commented on #114
@ooditj  can you run the following script on the SharePoint server, as the application pool account, and check if it works:

[code]

[2021-02-02 07:52] ooditj commented on #114
Invoke-WebRequest : The underlying connection was closed: Could not establish trust relationship for the SSL/TLS secure
channel.
At line:1 char:1
+ Invoke-WebRequest -Uri https://login.windows.net -UseBasicParsing
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : InvalidOperation: (System.Net.HttpWebRequest:HttpWebRequest) [Invoke-WebRequest], WebExc

[2021-02-02 08:50] plantoschka commented on #115
@Yvand All three commands now work fine.
I've just had to set the proxy settings in Internet Explorer for the application pool account user. People Search now also works fine.
Maybe that was the issue. I will watch this over the next couple of days and report back.

[2021-02-02 10:25] Yvand commented on #114
@ooditj it looks like you are missing some root or intermediate certificate to access the endpoint.
You can download all the root and intermediate certificates as a P7B root cert bundle from [this page](https://docs.microsoft.com/en-us/microsoft-365/compliance/encryption-office-365-certificate-chains?view=o365-worldwide) and install the missing ones in the certificate store of the machine.
Can you

[2021-02-02 10:26] Yvand commented on #115
Looks good, keep me posted

[2021-02-08 08:10] plantoschka commented on #115
Works pretty reliable now. Thanks @Yvand

[2021-02-08 08:10] #115 closed

[2021-02-15 14:25] plantoschka opened #117 "AzureCP configuration for guest users"
Hello,

we've configured our claim mapping in Azure based on Microsoft documentation like this:
![image](https://user-images.githubusercontent.com/2125129/107957036-536c7780-6fa0-11eb-9216-63031d40e530.png)

In AzureCP for guest user we had to change the User identitfier property to UserPrincipalName:
![image](https://user-images.githubusercontent.com/2125129/107957417-e0afcc00-6fa0-11eb-9200-12ca

[2021-02-15 16:00] Yvand commented on #117
Hello @plantoschka, before explaining more, let me start by saying that this configuration is correct and you should keep it.

Regarding the display name, SharePoint gives a chance to claims providers (AzureCP) to set the display name **only** if the user is added for the very first time to the site collection. And no, it doesn't work to delete and re-add the user.

If the user is actually added f

[2021-02-17 08:41] #117 closed

[2021-02-17 11:49] totayo1000 opened #118 "applying security token provider on a new web application"
Hey  Yvand

I just linked my AzureAD  to a new web applications and followed the instruction of adding a provider realm as below

$ap = Get-SPTrustedIdentityTokenIssuer -Identity "AzureAD"
$uri = new-object System.Uri("https://www.something.com")
$ap.ProviderRealms.Add($uri, "https://www.something.com/_trust/")
$ap.Update()

but when connecting  to the new web application I am getting the below:

[2021-02-21 18:23] #113 closed

[2021-02-22 10:36] Yvand commented on #118
@totayo1000 sorry but this not the right place to report this problem: Based on the symptoms it is a setup issue between your SharePoint farm and AAD, it does not relate to AzureCP.
Can you consider posting your problem on StackOverflow?

[2021-02-22 10:53] totayo1000 commented on #118
Thanks Yvand, will do as  advised

[2021-02-22 10:53] #118 closed

[2021-03-05 09:08] aaclage opened #119 "How to remove prefix in people picker after configure AzureCP"
Hi Yvand,

Hope you already have this question.
Do you know how do i remove in the people picker the claims prefix after we configure the AzureCP?

![image](https://user-images.githubusercontent.com/8522348/110092989-841f2000-7d9a-11eb-86b9-866ae6d48f7d.png)

Thank you for you attention.

[2021-03-05 11:00] Yvand commented on #119
Hi @aaclage, no, it cannot be removed.
Note that:
- Only the results that match the identity claim type don't have any prefix
- For the others, the text displayed, e.g. "Group", comes from the property `DisplayName` returned by `(Get-SPTrustedIdentityTokenIssuer "TRUSTNAME").ClaimTypeInformation`

[2021-03-05 14:06] aaclage commented on #119
Hi @Yvand

Thank you for your response and support ,

I was confuse with your first answer "_Only the results that match the identity claim type don't have any prefix_",
Base on the claim type it's always define for "**user**", since groups cannot be incorporated in current, added new claim for groups.
Because of that "(Groups)" prefix will appear, this statement is correct?
Bellow my configuratio

[2021-03-05 15:18] Yvand commented on #119
@aaclage correct, this screenshot shows 2 claim types, and only the role results will show the prefix

[2021-03-05 15:33] aaclage commented on #119
Hi @Yvand

It's a little annoying we are not able to use one claim for both (user & group) to retrieve both and prefix disappear but understand the technical reason.

I will close this ticket.
Thank you very much for your support,

[2021-03-05 15:33] #119 closed

[2021-03-11 21:10] #114 closed

[2021-03-23 23:26] jaycallahan1973 opened #120 "Using AzureCP with Multiple Web Apps"
I have gotten AzureCP working with one web app with no issues but when I try to use multiple web apps I am having some issues. I am thinking this has more to do with what I am doing rather than a bug or issue with your code.  I was wanting to see if you had any direction on setting this up to work with Multiple Web apps. I either get it where it constantly loops back to the main site or it redirec

[2021-03-25 15:49] Yvand commented on #120
@jaycallahan1973 AzureCP can work perfectly well with multiple web apps, IMO your problem is more a configuration issue between AAD and SP.
If you really want to rule out AzureCP you can remove it from the trust using this script:

[code]

[2021-03-26 01:47] jaycallahan1973 commented on #120
So I guess my question would be do you add 1 enterprise Application for the farm and if so do you do it like this?
![image](https://user-images.githubusercontent.com/51999317/112565481-1ec3bb00-8dab-11eb-8e1e-56734744ad58.png)

or do you add different reply URLs for each [WebApp.](url)
I have tried several different ways, but never with the results I desire.

And same for the SPTrustedIdentiyToken

[2021-03-26 14:59] jaycallahan1973 commented on #120
I was correct in the fact i was making this more complicated than it was.  Just added the URLs to the  Reply URL (Assertion Consumer Service URL), and then ran
$t = Get-SPTrustedIdentityTokenIssuer "AzureAD"
 $t.UseWReplyParameter=$true
 $t.Update()

I made the mistake of putting the /_Trust/ on the end of the extra web applications.  Closing this out but thanks for the response.

[2021-03-26 14:59] #120 closed

[2021-03-30 07:32] Charlie-Gunn opened #121 "Azure CP - Failing to claim access token reliably"
Hi Yvand, been using Azure CP on a pair of our farms and in the past month or so have started encountering the following error in our ULS logs with the people picker becoming unreliable when searching for Azure users;

"[AzureCP] Could not get access token before timeout of 15000ms for tenant 'example.onmicrosoft.com' on cloud instance 'ExampleInstance'"

This repeats about 7 or 8 times at which p

[2021-03-30 09:12] Yvand commented on #121
@Charlie-Gunn so it looks like that, for some reason, AzureCP can no longer connect to Azure AD.
Did you check https://yvand.github.io/AzureCP/Troubleshoot-AzureCP.html ?
It contains multiple scripts to test the connectivity to Azure.

[2021-03-30 09:32] Charlie-Gunn commented on #121
@Yvand We just re-ran the Invoke-WebRequests as an App Pool account as well as previous attempts from administration accounts and all of them returned results without issue and virtually immediately

The second script for access tokens is virtually identical to a script we were provided for testing by our Developer. When we ran this during earlier testing no issues were identified here either.

Ho

[2021-03-30 09:41] Yvand commented on #121
There is 1 more thing which you can do:
You can redirect the traffic of AzureCP through Fiddler to inspect the actual traffic between AzureCP and AAD.
If you installed Fiddler locally and trusted its root certificate, you can do it per-web application by updating the web.config:

[code]

[2021-03-31 12:07] Charlie-Gunn commented on #121
We have not had a chance to get around to using fiddler but we noticed the Web App related to the App Pool we used for testing had stop exhibiting issues with claiming tokens. However another Web App in the same environment still had the problem. Waiting to confirm results on some testing but logging into the App Pool account may clear this issue for us.

[2021-03-31 13:27] Charlie-Gunn commented on #121
@Yvand To update the above on the instance with 19.0.20210211.1285 we have been able to clear the connectivity issues on a per web app basis by remoting into the server with their unique AppPool account. Sadly we are unsure on what exactly this is changing but its clearly having a positive effect for us.

[2021-03-31 13:31] Yvand commented on #121
@Charlie-Gunn do you mean that the issue was gone after opening a RDP session as the app pool account?

[2021-03-31 13:35] Charlie-Gunn commented on #121
@Yvand Correct, after successfully RDPing to the Machine and logging in with the App Pool account, it successfully claims the token first time every time.

[2021-03-31 13:38] Yvand commented on #121
@Charlie-Gunn it makes me immediately think about [this problem](https://docs.microsoft.com/en-us/sharepoint/troubleshoot/administration/800703fa-illegal-operation-error).
You can take a look at the event viewer to check if you see such error, and I suggest you set the resolution in [method 2](https://docs.microsoft.com/en-us/sharepoint/troubleshoot/administration/800703fa-illegal-operation-error#

[2021-04-12 07:31] Charlie-Gunn commented on #121
@Yvand Sorry about the delay in replying. We had almost the opposite to the issue in the link provided where instead the interactive login was solving the problem rather than creating one.

We believe one of the registry entries added in this case is resolving our connectivity issue but were unable to identify which one exactly made the difference.

[2021-04-13 15:46] Yvand commented on #121
@Charlie-Gunn yes it's part of the symptom: When you sign-in to the server it temporarily resolves the issue.
So this is very likely the actual issue and the solution suggested should work

[2021-04-20 13:06] Charlie-Gunn commented on #121
@Yvand I keep this in mind gong forward in the event the issue returns. So far we have had continued availability on the platforms this was completed on and I have been asked to avoid further changes on this matter for now. Thank you for your help on this!

[2021-04-20 13:06] #121 closed

[2021-04-21 09:25] Charlie-Gunn opened #122 "Dealing with Duplicate Entries due to multiple Claims Provider"
Hi Yvand,

This is a question more than a bug I think. We have some user entries in AzureAD which will share a number of details with the same users AD claim such as their email for example. When searching in a people picker field we require exact matches on AzureCP which we use to filter out the AD duplicates which works for searching.

However if you assign a user via People Picker to a field on

[2021-05-04 14:36] Yvand commented on #122
hi @Charlie-Gunn, during validation (when a user is already added and is displayed again), SharePoint should never receive multiple results.
Where do those multiple results exactly come from (which claims providers return them)?
How many authentication modes are enabled on the web application ?

[2021-05-04 15:14] Sebkpierre opened #123 "AzureCP : Add wild card feature"
Hello Yvan,

Here is the context for the client i'm working for :

- to resolve user identities we have no specific issues so far
- to resolve group identities : the end users knows only part of the DisplayName or SamAccountName

Which led us to make some modifications in the LDAPCP for SharePoint 2013, to include a wildcard for the resolveInput in the FillResolve Method , to allow the end user to

[2021-05-04 15:35] Charlie-Gunn commented on #122
Hi @Yvand we have two AD Forests (one of which hosts the domain on which SharePoint is present) as well as users coming in from AzureAD. People picker is able to return results from all three of these claims.

Domain 1 and Domain 2 both authenticate via their AD claim to SP. These domains dont share any users. But both have accounts present in our AzureAD Platform. This isnt something I can get ch

[2021-05-05 15:01] Yvand commented on #122
@Charlie-Gunn so do I understand correctly that 1 user comes from AD and 1 user comes from AAD (AzureCP)?

[2021-05-05 15:04] Yvand commented on #123
Hello @Sebkpierre is it not already doing that?
Currently, I can type "aadg", and AzureCP returns all groups which start with this name

[2021-05-05 15:57] Charlie-Gunn commented on #122
@Yvand So both accounts are relate to the same user (hence why they are identical in this case).

But you are correct that 1 comes from **AD** and 1 comes from **AAD (AzureCP)**

[2021-05-10 06:34] Sebkpierre commented on #123
Hello @Yvand , sorry i should have give you a more relevant example, our groups are structured this way :
PREFIX-SUBPREFIX-NAME-SUFFIX

Our issue here is that the end users only knows the name of the group, and not the PREFIX, SubPREfIX or the naming convention in General.
So for a group with a SamaccountName PREFIX-SUBPREFIX-AE-SUFFIX, if the user is searching only the part he is aware of, the Re

[2021-05-11 08:18] Yvand commented on #123
Hello @Sebkpierre, I understand.
This project is open source and contributions are very welcome.
Why don't you submit a PR that gives the possibility to use Contains instead of StartsWith?
By default AzureCP should remain with StartWith, but you can add a setting to use Contains instead (to set in PowerShell).
Can you do that ?

[2021-05-28 10:09] Yvand commented on #122
Sorry for my late reply.
AzureCP does not offer a way to filter AAD objects based on their group membership.
Did you consider filtering results on AD side, using property [SPPeoplePickerSettings.ActiveDirectoryCustomFilter](https://docs.microsoft.com/en-us/dotnet/api/microsoft.sharepoint.administration.sppeoplepickersettings.activedirectorycustomfilter?view=sharepoint-server#Microsoft_SharePoint_A

[2021-05-28 10:31] Charlie-Gunn commented on #122
Not a viable option with the setup and requirements unfortunately as I did pose this as an option.

Thank you for the information.

[2021-05-31 12:02] peretimo opened #124 "4000ms timeout after every request"
We have implemented AzureCP for the second time already, after not being successful the first time. Still we’re facing the same issues we had before, which is that AzureCP runs into a 4000ms timeout after every request we send, which in turn gives no results back in the people picker mask. The problem is that my team does not administrate Azure AD and has no direct access to the Azure Portal, so w

[2021-05-31 14:34] Yvand commented on #124
@peretimo in such case, the section to ["Inspect the actual traffic between AzureCP and Azure AD"](https://azurecp.yvand.net/docs/help/troubleshooting/#inspect-the-actual-traffic-between-azurecp-and-azure-ad) should really help you see what is going wrong. Have you tested it?
What do logs say?

[2021-06-11 16:47] upatel911 opened #125 "$trust.ClaimProviderName = "AzureCP" Exception setting "ClaimProviderName": "Claim provider with name AzureCP does not exist." At line:1 char:1"
Not working. I have deactivate and reactivate the feature under Central Admin.
I have removed the solution and reinstalled it again but still the same error.

![image](https://user-images.githubusercontent.com/64625880/121722190-1ed27d80-cab3-11eb-99bb-9210027e6c5c.png)

[2021-06-15 09:57] Getoffmypatch opened #126 "Differentiating People Picker results from different providers"
Hi @Yvand

We are using an extended web application with the original web/app using On-Prem AD and AzureCP configured to return users from Azure AD for the extension. The problem we have is that when you are looking to add users it returns the same user from both AD. We are trying to figure out a way that distinguish AD user from AAD user so that end users dont get confused about which one to choo

[2021-06-15 10:27] Getoffmypatch commented on #126
![image](https://user-images.githubusercontent.com/32172026/122037561-9878ad00-cdcc-11eb-97de-f4e3e3bd8978.png)

[2021-06-15 11:13] Yvand commented on #126
@Getoffmypatch you can set a prefix for all AAD results. It can be done only through PowerShell, by setting property `EntityDisplayTextPrefix`:

[code]

[2021-06-15 13:40] Getoffmypatch commented on #126
Thanks but that would impact the display name also. Is there a way that it only differentiates the lookup?

[2021-06-16 08:30] Yvand commented on #126
@Getoffmypatch it is true but it cannot be avoided, because SharePoint uses the same property for both.
But eventually, the display name will be updated by the job which syncs data from the User Profile Service

[2021-06-17 06:53] Yvand commented on #125
@upatel911, sorry for the late reply. Does cmdlet [Get-SPClaimProvider](https://docs.microsoft.com/en-us/powershell/module/sharepoint-server/get-spclaimprovider?view=sharepoint-ps) return AzureCP?

[2021-06-17 13:28] upatel911 commented on #125
Hello ,

The issue resolved when I deactivate and activate the farm feature.

Thank you so much for connecting and providing your prompt response.

Many Thanks
Uday Patel

Sent from my iPhone

[2021-06-17 15:58] #125 closed

[2021-06-19 13:51] akkindus opened #127 "Azure CP is not working at site collection level"
Azure CP is not working at site collection level for existing SharePoint web application, but same solution is working for newly created we application even with site collection.

Note : Existing site collection has public DNS pointed and SSL configured at load balancer level.
           Azure authentication provider is configured as a SPTrustedIdentityTokenIssuer for both application.

Thanks in

[2021-06-21 07:31] Yvand commented on #127
Can you check SharePoint logs and filter on Product/Area "AzureCP" to see what happens when you search in the people picker?

[2021-06-22 06:20] akkindus commented on #127
Here is the error we found in ULS logs -

Unexpected [AzureCP] Unexpected error occurred in Initialize, while refreshing configuration: System.IO.FileNotFoundException: Could not load file or assembly 'System.Net.Http, Version=4.2.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The system cannot find the file specified., Callstack:    at azurecp.AzureTenant.SetAz

[2021-06-22 06:22] akkindus commented on #127
When I search into the people picker it does not pull the Azure cloud users, Only I can get Local AD users.

[2021-06-22 08:06] Yvand commented on #127
On the SharePoint server which throws this error, can you check the version of this file:
`"C:\Windows\Microsoft.NET\Framework64\v4.0.30319\clr.dll"`

[2021-06-22 08:34] akkindus commented on #127
This is something i can see-

[cid:984c630d-1165-4dd3-ada8-9cb2bd4a5437]
________________________________
From: Yvan Duhamel ***@***.***>
Sent: 22 June 2021 09:07
To: Yvand/AzureCP ***@***.***>
Cc: Akhilesh Singh ***@***.***>; Author ***@***.***>
Subject: Re: [Yvand/AzureCP] Azure CP is not working at site collection level (#127)

On the SharePoint server which throws this error, can you check the

[2021-06-22 08:39] akkindus commented on #127
[](url)

[2021-06-22 08:41] akkindus commented on #127
The issue has been closed by mistake, Could you please re-open it? So that I can post the comment on it.

________________________________
From: Akhilesh Singh ***@***.***>
Sent: 22 June 2021 09:34
To: Yvand/AzureCP ***@***.***>; Yvand/AzureCP ***@***.***>
Cc: Author ***@***.***>
Subject: Re: [Yvand/AzureCP] Azure CP is not working at site collection level (#127)

This is something i can see-

[ci

[2021-06-22 14:35] Yvand commented on #127
@akkindus I reopened it for you but you could do it yourself. Also, screenshot is not very convenient, please copy as text

[2021-06-24 04:31] akkindus commented on #127
Hi Here is the clr.dll version.!

File Version          4.7.3750.0
Product Version   4.7.3750.0

[2021-06-24 17:18] rajh25 opened #128 "The user does not exist or is not unique when adding a 'member user'"
Hello,

I am trying to add a member user and getting error 'The user does not exist or is not unique' . I have extended the web application and enabled Azure AD claims on default zone and Windows on Intranet. Tried vice versa but still unable to add users.

Thanks in advance

[2021-06-27 13:15] akkindus commented on #127
Hi @Yvand , Any update for me.

[2021-06-28 09:11] Yvand commented on #128
@rajh25 can you look at the SharePoint logs and filter on product/area "AzureCP" to see what is going wrong?

[2021-06-28 09:16] Yvand commented on #127
@akkindus can you run this PowerShell cmdlet and let me know if it succeeds:

[code]

[2021-06-28 18:56] schrockmatthew opened #129 "Problem w/ Work Email being populated"
Using Azure federation w/ sharepoint 2019 on premise...AzureCP installed an deployed.....User profile sync using the azure trusted provider and users get imported a bit different then when a user logs in:

When a user logs in:
![image](https://user-images.githubusercontent.com/20209171/123688613-3a15ea80-d820-11eb-87d3-91e9a6351937.png)

But the user profile service import imports all attributes b

[2021-06-29 12:26] Yvand commented on #129
The very 1st time a user is added to a SPSite (and only that time), AzureCP has a chance to set the metadata of the user.
Eventually, those metadata are overwritten by the data from the User Profile Service (after 1h in the worst case).
Between that time, if you identified that the email metadata was not identical, it is because AzureCP and the User Profile Service do not use the same LDAP attribu

[2021-06-29 15:33] akkindus commented on #127
CONFIDENTIAL

Hi,

Here is the output of the command -

PS C:\Windows\system32> [System.Reflection.Assembly]::Load("System.Net.Http, Vesion=4.2.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a")

GAC    Version        Location
---    -------        --------
True   v4.0.30319     C:\Windows\Microsoft.Net\assembly\GAC_MSIL\System.Net.Http\v4.0_4.0.0.0__b03f5f7f11d50a3a\System.Net.Http.dll

____

[2021-06-29 17:51] schrockmatthew commented on #129
The enterprise app setup via azure uses UPN which is really their default email. When we configure the user profile sync, using the same trusted identity that azurecp uses, returns all users but the account name display is a bit different. I’m not sure what you mean for azurecp using email, do you mean the people picker?  I’m just trying to figure out how to have the work email from getting stripp

[2021-06-30 07:01] Yvand commented on #129
Ok, so the title of the issue is confusing since it speaks about the email.
Anyway, the mechanism with the display name is exactly the same as for the email.
In your current (default) config AzureCP uses the AAD attribute DisplayName (in previous comment I wrote LDAP by mistake, sorry).
And eventually, this will be replaced by whatever the User Profile Service has (after 1h maximum).

[2021-06-30 21:38] schrockmatthew commented on #129
Sorry I wasn't clear, the main problems are the following:

User profile service imports users as i:0e.t|fedname|username (which means UPN)

When a user logs into the site the users are: i:05.t|fedname|username (which means Email)

I need to get the logging in user to match i:0e.t|fedname|username

________________________________
From: Yvan Duhamel ***@***.***>
Sent: Wednesday, June 30, 2021 3:01

[2021-07-01 10:33] akkindus commented on #127
Sorry to chess you but I have urgent need of solution.

Please update - If any...!

[2021-07-02 07:18] Yvand commented on #127
To be honest, I cannot explain why AzureCP cannot load System.Net.Http 4.2.0.0, while it works perfectly fine in plain PowerShell.
But AzureCP uses [Microsoft.IdentityModel.Clients.ActiveDirectory](https://www.nuget.org/packages/Microsoft.IdentityModel.Clients.ActiveDirectory/5.2.6), which needs [System.Net.Http (>= 4.3.4)](https://www.nuget.org/packages/System.Net.Http) (not version 4.2.0.0).
So

[2021-07-02 09:14] IngressoDev opened #130 "The trusted login provider did not supply a token accepted by this farm"
I completed the whole guide from https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/sharepoint-on-premises-tutorial to active login with azure ad.

I set it up a whole times on other servers, but on the server now i got the following error:
`An exception occurred when trying to issue security token: The trusted login provider did not supply a token accepted by this farm`

I don't kn

[2021-07-02 13:40] Yvand commented on #130
@IngressoDev it can happen for various reasons, but most of the time, it happens because Azure AD issued a SAML 2.0 token, while SharePoint accepts only SAML 1.1 tokens.
You can verify that if you capture an HTTP trace when you sign-in, and check the SAML token, which will be in the request body of the POST to http://yourshareointsite/_trust

[2021-07-02 13:42] Yvand commented on #129
If I understand your explanation correctly, then you need to update your configuration in the User Profile Service, to map the "User Identifier Claim" to the correct profile property (apparently the email).
This has nothing to do with AzureCP, which is not used import in the User Profile Service

[2021-07-02 13:55] IngressoDev commented on #130
Thx for your response.
I checked this and it seems to be SAML 1.1 (it's what the "TokenType" looks like):

[code]

So i think this is not the problem :(

[2021-07-02 13:57] Yvand commented on #130
Indeed, it is not. But the SharePoint logs should contain more information about exactly what is wrong with this token. Did you filter on the correlation ID ?

[2021-07-02 14:05] IngressoDev commented on #130
Yes, here are the ULS Logs:

[code]

At time "07/02/2021 15:51:20.67" there is the critical error the message is from.

[2021-07-02 14:37] Yvand commented on #130
This is the POST to `https://placeholderurl.com/_login/default.aspx`. Can you get the POST to `https://placeholderurl.com/_trust/default.aspx` instead?

[2021-07-02 14:53] IngressoDev commented on #130
I hope i understand you correct.

I visit my sharepoint site and get a login form where i can choose "windows authentication" or "azure ad".
When i choose "azure ad" i will be redirected to the microsoft login page which comes from the azure portal where i changed "/saml2" to "wsfed".

Then i enter my azure ad credentials and then i will be redirected to the login form of sharepoint again.

The re

[2021-07-02 15:11] Yvand commented on #130
Yes, that is this request, this is where it goes wrong in SharePoint. Can you collect the SharePoint logs of this request?

[2021-07-02 15:23] IngressoDev commented on #130
With sharepoint logs you mean the uls logs?
These are the same as i posted earlier, only the timestamp is different.

[2021-07-02 15:36] Yvand commented on #130
Yes, this is the same thing.
The previous logs are of a POST to `https://placeholderurl.com/_login/default.aspx`.
We need the logs of a POST to `https://placeholderurl.com/_trust/default.aspx`, since it is where it goes wrong (in SharePoint).

[2021-07-02 15:55] IngressoDev commented on #130
Here are the uls logs :)

[code]

[2021-07-02 16:00] Yvand commented on #130
Here is the actual error:
`Trusted login provider 'Azure AD' is not sending configured input identity claim type 'http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name -IncomingClaimTypeDisplayName'.`

So I think you just made a little mistake with the `'` in your powershell script: You set the identity claim type as `http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name -IncomingClaimTy

[2021-07-02 17:25] IngressoDev commented on #130
OH... MY... GOD...

That it is. Now it's working.
Where did i copied this piece of code from???
Not from Microsoft i guess.

You are my hero <3

[2021-07-02 17:25] #130 closed

[2021-07-04 14:33] #122 closed

[2021-07-05 10:27] akkindus commented on #127
I have a production environment, will this affect anything?

[2021-07-07 14:56] #124 closed

[2021-07-07 15:01] Yvand commented on #127
This is a fairly safe action, as you are only adding a .NET assembly to the cache. And you can easily remove it if needed

[2021-07-08 08:50] akkindus commented on #127
CONFIDENTIAL

Do we need to install this package on all SharePoint servers? would it be possible to share the process of revert back the changes in case something goes wrong - as we have a running production environment?

________________________________
From: Yvan Duhamel ***@***.***>
Sent: 07 July 2021 16:01
To: Yvand/AzureCP ***@***.***>
Cc: Akhilesh Singh ***@***.***>; Mention ***@***.***>
Sub

[2021-07-08 13:30] Yvand commented on #127
You can install it on only 1 SharePoint server (and test AzureCP on that server only, after you ran iisreset).
If you need to uninstall the assembly, you can simply remove its folder using the file explorer. It will be located at "C:\Windows\Microsoft.NET\assembly\GAC_MSIL\System.Net.Http\v4.0_4.1.1.3__b03f5f7f11d50a3a"

[2021-07-10 05:26] akkindus commented on #127
CONFIDENTIAL

I followed the mentioned steps to install System.Net.Http 4.3.4<https://www.nuget.org/packages/System.Net.Http> dll and reset the IIS but still the same issue.

AzureCP is only working for assigning Web application user policy at central admin.

l also checked the logs but did not find any related error

________________________________
From: Yvan Duhamel ***@***.***>
Sent: 08 July 2

[2021-07-11 08:14] akkindus commented on #127
Is there any paid support available?

[2021-07-12 12:32] Yvand commented on #127
@akkindus this is not a commercial product, it is a free, open source project and there is no paid support available.
About your error, you said that you checked the logs and did not find any related error. What do you mean exactly? Is the original System.IO.FileNotFoundException gone?

[2021-07-12 18:11] akkindus commented on #127
CONFIDENTIAL

Error is still there recently I performed a search which is logged below error in the log file -

Unexpected [AzureCP] Unexpected error occurred while setting client context for tenant 'mydomain.onmicrosoft.com'.: System.IO.FileNotFoundException: Could not load file or assembly 'netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51' or one of its dependencies

[2021-07-13 15:16] Yvand commented on #127
@akkindus I believe I found a fix for this netstandard issue. I did some research:
Based on https://github.com/dotnet/standard/issues/542, .NET 4.7 projects should explicitely add a reference to netstandard if a reference needs its (which is true with AzureCP).
Based on https://github.com/dotnet/msbuild/pull/2567, that explicit reference should no longer be necessary and setting `DependsOnNETStand

[2021-07-14 19:44] vargasfe opened #131 "Insufficient Permission when performing query"
AzureCP (AzureCP 18.0.20201120.1245) is not returning results to people picker because the query to the Government Tenant fails with "Insufficient privileges to complete the operation" (See log entry at the bottom)

At the AzureAD App Registration I have assigned "Delegated Permissions" / "Directory.Read.All" and Admin consent.

When I test the App Registration with PowerShell
  $response = Invoke

[2021-07-15 07:37] Yvand commented on #131
@vargasfe AzureCP application should not have any delegated permission, only application permissions as documented in https://azurecp.yvand.net/docs/usage/register-application/#permissions-required.
Can you remove those delegated permissions?

[2021-07-15 15:51] vargasfe commented on #131
Thank you.
I set the permission as indicated and it worked once I removed the default permission.

Fernando

[2021-07-15 15:51] #131 closed

[2021-07-21 05:10] VipinKKhandelwal opened #132 "what is custom signin page to provide in authentication provider in web application in central admin?"
Hi Yvanne, I have configured AAD authentication in my SharePoint 2019 farm using AzureCP where we have already setup LDAPCP configured. for my web application, AAD authentication provider is selected only. Problem is, when I browser a site, it goes to default login page where it lists out windows authentication and AzureADTrust where i manually select AzureADTrust auth provider. I want by default

[2021-07-21 06:30] Yvand commented on #132
Hi @VipinKKhandelwal, I suggest you look at project https://github.com/Yvand/SPBypassLoginPage, which allows you to set the authentication mode to use per web application

[2021-07-23 12:52] #126 closed

[2021-07-27 10:24] VipinKKhandelwal commented on #132
Hi Yvanne, Thanks for your response. This spbypasspage helped in bypassing authentication method option page. We have successfully setup Azure AD authentication but it would be great if you could help in below 2 issues -

1. I moved one content database from webapp1(having adfs authentication) to webapp2(having azure ad authentication with azurecp) but permission is not working in site when it mov

[2021-07-27 13:25] vargasfe opened #133 "Tenant switches to AzurePublic on its own"
I had this issue with version 18 and so I decided to try the new release of 19.0.20210211.1285 but it  has the same issue.
I define a tenant that is in the AzureUSGovernment Cloud and at first people picker works as expected.

After some hours, it stops working and when I look at the configuration, it is now set to AzurePublic.

I have to keep removing and adding the tenant but it continues to fai

[2021-08-04 15:53] Yvand commented on #132
@VipinKKhandelwal
1. Migrating user and group permissions is a wide topic which goes much beyond the scope of such a discussion. I suggest you start by looking at articles https://joshroark.com/keeping-sharepoint-happy-during-your-domain-migration/ and https://www.linkedin.com/pulse/best-practice-when-migrating-users-sharepoint-yvan-duhamel/
2. The display name is ultimately set by the timer job w

[2021-08-04 15:57] Yvand commented on #133
Based on the log above, I believe that the servers which recorded this message is running with AzureCP v15, which can definitely cause this behavior.
You need to update the AzureCP bits on that server as documented in https://azurecp.yvand.net/docs/usage/install/#finish-the-installation

[2021-08-04 16:10] #128 closed

[2021-08-09 00:51] #129 closed

[2021-08-13 10:02] akkindus commented on #127
CONFIDENTIAL

We are going to test it again by tommarow

Get Outlook for Android<https://aka.ms/AAb9ysg>

________________________________
From: stale[bot] ***@***.***>
Sent: Friday, August 13, 2021 1:13:18 AM
To: Yvand/AzureCP ***@***.***>
Cc: Akhilesh Singh ***@***.***>; Mention ***@***.***>
Subject: Re: [Yvand/AzureCP] Azure CP is not working at site collection level (#127)

This issue has been

[2021-08-19 14:39] akkindus commented on #127
CONFIDENTIAL

Hi Yvand,

We have installed the AzureCP from the scratch after removing it completely from the sharepoint farm.

We followed the mentioned steps and added dependecies to avoide netstandard dll issue.

But still we are seeing the same behavior where AzureCp only working at central admin level to populate the azure accounts in the people picker.

Any suggestions?

Get Outlook for Andr

[2021-08-23 13:41] Yvand commented on #127
@akkindus assuming you still get the same error `System.IO.FileNotFoundException: Could not load file or assembly 'netstandard, Version=2.0.0.0, Culture=neutral`, I'm out of ideas.
AzureCP targets .NET framework 4.7.2, not .NET standard. I assume that one of the dependencies need it, but I don't know why this would even be a problem because [.NET Framework 4.7.2 supports .NET Standard 2.0](https:/

[2021-08-24 10:05] akkindus commented on #127
CONFIDENTIAL

Just letting you know we are using a single URL like-  https://mysite.domain.com for internal and public access and there are load balancer configured to balance the traffic on this URL.
________________________________
From: Akhilesh Singh ***@***.***>
Sent: 24 August 2021 10:35
To: Yvand/AzureCP ***@***.***>; Yvand/AzureCP ***@***.***>
Cc: Mention ***@***.***>
Subject: Re: [Yvand/A

[2021-08-24 14:16] Yvand commented on #127
@akkindus so it seems that you did fix the original error `System.IO.FileNotFoundException: Could not load file or assembly 'netstandard, Version=2.0.0.0, Culture=neutral` ?
To find out what's wrong now, as usual you can check the SharePoint logs and filter on Product/Area "AzureCP"

[2021-09-10 21:40] #132 closed

[2021-09-10 21:40] #133 closed

[2021-10-01 06:02] #127 closed

[2021-11-01 16:12] elverado opened #134 "Developers Package for V19"
I'm doing some customizations and the last of the AzureCP.Developers.zip I can find is for version 17, June 2020. Is there a way I can build or source the latest AzureCP parent library to include in my project based on the 17 dev solution? Should extracting the .dll from the latest wsp work?

If not could you please add the developer package for version 19 or include in the upcoming 20 release?

T

[2021-11-02 12:22] elverado commented on #134
Excellent, thank you!

[2021-11-02 12:22] #134 closed

[2021-11-15 23:15] powerfischi opened #135 "Issues in configuring AzureCP, i.e. adding a tenant"
Environment: SharePoint 2019 (Build Version 16.0.10372.20060), Windows Server 2019

When trying to add a new tenant via /_admin/azurecp/AzureCPSettings.aspx and hitting the button "Test connection to tenant", connection to Central Admin is resetted, resulting in an empty page. The Windows Event Log states:

So I tried adding the tenant via PowerShell. Then Central Admin is showing the configured t

[2021-11-16 08:21] Yvand commented on #135
@powerfischi based on the the behavior, I think AzureCP tries to get the group membership from Azure AD when users  sign-in, but somehow it does not work and it times out.
You can investigate the cause by looking at the SharePoint logs and/or by testing the connection to Azure AD from a SharePoint server. Both are explained in [this page](https://azurecp.yvand.net/docs/help/troubleshooting/).

[2021-11-17 22:42] powerfischi commented on #135
Thanks. I checked general connectivity. All good. Now I need to find the time to analyze the request with fiddler.

[2021-11-18 08:12] JenTonUg opened #136 "Install step "Enable the claims provider" not working"
I'm trying to install AzureCP on a fresh Sharepoint 2019 Farm (16.0.10379.20000), and followed the instructions as mentioned on the website. When I get to the step where I should activate the claims provider I get the following error:
`$trust = Get-SPTrustedIdentityTokenIssuer "SPTRUST NAME"`
`Get-SPTrustedIdentityTokenIssuer : A valid object could not be read from the provided pipebind parameter.

[2021-11-18 08:20] Yvand commented on #136
@JenTonUg can you open a new PowerShell process, run `Get-SPTrustedIdentityTokenIssuer` with no parameter and see if it works.?

[2021-11-18 08:30] JenTonUg commented on #136
@Yvand I can run it without error, but it produces no results.

[2021-11-18 10:34] Yvand commented on #136
A prereq before you can configure AzureC is to create a SPTrustedIdentityTokenIssuer, as documented in https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/sharepoint-on-premises-tutorial
Did you complete the steps in this article ?

[2021-11-18 10:43] JenTonUg commented on #136
Ah, I had no idea. I'll check it out, thank you!

[2021-11-19 15:59] JenTonUg commented on #136
Looks like that was it, thank you very much for pointing me where to go!

[2021-11-19 15:59] #136 closed

[2021-11-22 21:57] powerfischi commented on #135
Now I found the time to do the troubleshooting with fiddler. It is somehow strange. I reconfigured web.config for Central Admin and my Content Web Application to use fiddler as a proxy, as mentioned in the troubleshooting section. But fiddler is capturing nothing from AzureCP. I don't see any outgoing connection towards MS Graph.

[2021-11-23 08:34] Yvand commented on #135
@powerfischi I just updated [the documentation](https://azurecp.yvand.net/docs/help/troubleshooting/#inspect-the-traffic-to-azure-ad) to mention explicitly that you need to set the filter in Fiddler to "All Processes" or "Non-Browsers". Did you do that?

[2021-11-23 12:15] daniarno opened #137 "ResolvePrincipal did NOT find a match"
Hi, we are using SharePoint 2013 Foundation together with Azure AD and AzureCP.
Generally, everything works as it should. However, we have a bigger problem with one particular user. As soon as I add the user to a SharePoint group (e.g. Owner group), the error message "User cannot be found" is displayed. The following error messages are logged in the ULS log.

GetUserInfoFromMembershipProvider: Cal

[2021-11-23 14:34] Yvand commented on #137
@daniarno so it looks like, somehow, AzureCP cannot find this user in AAD.
To understand why, it could be helpful to inspect the traffic from AzureCP to AAD to troubleshoot the query. You can find how to do this in [this page](https://azurecp.yvand.net/docs/help/troubleshooting/#inspect-the-traffic-to-azure-ad).
Can you give this a try?

[2021-11-23 22:19] powerfischi commented on #135
Yes, I did this. So I tried resetting the AzureCP configuration and starting from scratch. When adding a tenant from Central Admin and pushing the "Test connection to tenant" button the application pool crashes.

I got this in the event log:

ULS has no entries for AzureCP:
[code]

[code]

[2021-11-23 22:34] powerfischi commented on #135
Additional remark. At the same time I get this in the event log:

[2021-11-24 07:41] Yvand commented on #135
@powerfischi that's weird, then can you get the SharePoint logs filtered on the correlation ID of the POST request when you hit "Test connection to tenant" button ?

[2021-11-24 22:44] powerfischi commented on #135
@Yvand the issue is solved. I found the culprit. :)

The farm member machines all had the SCOM agent installed. By default the agent is installed with APM enabled. However APM is not supported with SharePoint as described [here](http://sp2013.pro/2017/03/loading-assembly-produce-different-grant-set-instances/). Once I uninstalled the SCOM agent, AzureCP started working without issues.

Thanks for

[2021-11-24 22:44] #135 closed

[2021-11-29 14:52] daniarno commented on #137
@Yvand we have not found a solution yet. Would it be possible that you could support us in a remote session? Of course we would compensate you for your efforts.

[2021-11-30 07:41] Yvand commented on #137
@daniarno have you tried the steps in my previous message?
Doing this will allow you to see exactly what query is sent to AAD, and what results AAD returns, and understand why AAD returns nothing (I assume this is what happens).
I am happy to help but this is a free, open source project, which I develop to contribute to the ecosystem, I don't make money with it.

[2021-12-11 03:33] josephsaad75 opened #138 "Can I use LDAPCP and AzureCP on the same web application for 2 different zones?"

[2021-12-17 07:58] Yvand commented on #138
@josephsaad75 yes, I do this very often and it works perfectly fine

[2021-12-20 21:17] josephsaad75 commented on #138
Thanks a ton.

[2021-12-21 14:51] #138 closed

[2022-01-04 00:44] brpoddar commented on #86
I had exact same issue

Application error when access /_admin/azurecp/AzureCPSettings.aspx, Error=Could not load file or assembly 'System.Net.Http, Version=4.2.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The system cannot find the file specified.
 at azurecp.ControlTemplates.AzureCPGlobalSettings.<>c__DisplayClass12_0.<ValidateAzureTenantConnection>b__0()
 at

[2022-01-04 09:06] Yvand commented on #86
@brpoddar thank you for sharing. I documented this requirement [here](https://github.com/Yvand/AzureCP/blob/master/CHANGELOG.md#azurecp-170202006181133-enhancements--bug-fixes---published-in-june-22-2020) but clearly it is not easy to find, so I just added a [Prerequisites section here](https://azurecp.yvand.net/docs/overview/introduction/#prerequisites).

[2022-01-04 15:35] daniarno commented on #137
@Yvand We have been able to solve this problem. The problem was that for the users created before 31.08.2014 the property "userType" was not set.
Thank you for your support.

[2022-01-04 15:35] #137 closed

[2022-01-06 16:36] saep202009 opened #139 "Sharepoint 2019 peoplepicker doesnt return azure AD users"
Hi we have some problem in our SharePoint (SP) 2019 project. When we trying to search people (azure AD users) in peoplepicker we return nothing in UI but we return following error in ULS log:

01/06/2022 15:12:36.09 	w3wp.exe (0x3D90)                       	0x32F8	AzureCP                       	Claims Picking                	1337	Unexpected	[AzureCP] Unexpected error occurred in FillSearch: System

[2022-01-11 12:48] Kinumikao opened #140 "SharePoint Multi Tenancy with Azure AD"
Hi Yvan,

Our scenario requires us to have multiple AAD Tenants on a single SP Farm each Tenant having their own Web Application. We already tried to get this working with MIM but unfortunately with no success. While researching the Issue I’ve read that AzureCP would technically Support Multi tenancy.

Could you give us any leads on how we could accomplish this?

Thanks in advance.

[2022-01-11 12:49] Yvand commented on #139
hi @saep202009, this is very unexpected.
Where do you get this error.
Do you repro it whatever you type in the people picker?
Can you check if you can reproduce the issue using this script:

[code]

[2022-01-11 14:48] Yvand commented on #140
Hi @Kinumikao, you won't be able to achieve the part "each Tenant having their own Web Application" using the standard version of AzureCP, but it should be possible if you [customize it](https://azurecp.yvand.net/docs/usage/for-developers/), although this requires strong SharePoint development skills.
Regarding the multi-tenancy part specifically, I don't know if/how it would work, I never tested

[2022-01-11 22:59] mjones0204 opened #141 "Azure CP with Proxy question"
Is it possible to update the machine.config file with the proxy server information instead of updating the web.config file in each of the sharepoint/windows process locations?  Or does each location need to be updated as well?

[2022-01-12 08:47] Yvand commented on #141
It is a very good question, I never tried but I guess it woud work to set the proxy only in the machine.config file.
But of course it will impact all .NET applications running on the machine, not only SharePoint.

[2022-01-12 11:08] saep202009 commented on #139
Hi Yvand i tried to run your script and result in 0
![image](https://user-images.githubusercontent.com/70706181/149129123-fac9cd49-fc80-44c9-a55a-83ecc10388e6.png)

[2022-01-12 13:22] Yvand commented on #139
@saep202009 can you check if it reproduced the error in the SharePoint logs .

[2022-01-12 14:05] saep202009 commented on #139
Yvand i try to get more details for you, this bug is in our SP UI when we trying to delegate task for approving document. this is not exactly SP picker see picture, we try to investigate in our custom code next.
![image](https://user-images.githubusercontent.com/70706181/149155151-b7e94502-9c30-4d35-aa84-ca9f8ac66d2e.png)

[2022-01-12 14:19] saep202009 commented on #139
no any errors in log after running your script

[2022-01-12 17:39] Kinumikao commented on #140
Hi Yvan, thanks for the quick reply.

Customizing AzureCP in terms of multi tenancy (multi auth provider and claim provider) sounds like a possibility for us. It is a crucial requirement for us. We have enhanced SharePoint development knowhow and are open to deep dive on that.

Is there a way we can have a short session with you to get a short exchange and introduction?

Many thanks in advance for

[2022-01-14 14:35] Yvand commented on #140
@Kinumikao I suggest you download [AzureCP.Developers.zip](https://github.com/Yvand/AzureCP/releases/tag/19.0.20210211.1285) and play with it in a dev environment (where OOB AzureCP is not installed).
I'll be happy to answer your questions / provide guidance if needed.

[2022-01-14 18:38] saep202009 commented on #139
not from central admin site, its in portal site with url like https://ourservername.com/SitePages/Moje%20ke%20schválení.aspx (see picture above)

[2022-01-16 14:23] ondrejtucny commented on #139
Let me clarify: The error happens when using the Office UI Fabric people picker component in a custom app part. Repro using your script from PowerShell. The original exception posted was located in ULS logs. That's why it seems as an AzureCP bug to us.

[2022-01-24 16:41] edise91 opened #142 "Claim types configuration can't be edited. AzureCP not working for SharePoint 2019"
Hi there

I cannot edit the claim types configuration. Anyway the people picker doesn't work. I'm trying to setup a SharePoint-2019 On-Premise Farm with AAD SAML SSO and AzureCP as described: https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/sharepoint-on-premises-tutorial

I tried to reset the configuration, but it didn't help.
I tried to search in people picker, but i can't find

[2022-01-24 16:43] Yvand commented on #142
If you followed the article you should not have to edit the claim types configuration.
To understand what is happening, you can look at the SharePoint logs to view the AzureCP activity - as documented in https://azurecp.yvand.net/docs/help/troubleshooting/

[2022-01-24 16:47] Yvand commented on #139
@ondrejtucny yes it seems to be a bug in AzureCP, especially if you repro with the PowerShell script.
Do you repro it all the time, regardless of the input?
I think the FillSearch method is rarely used in latest versions of SharePoint, I'll test the method on my side soon (hoipefully tomorrow) and I'll let you know if I can repro.

[2022-01-24 18:29] edise91 commented on #142
I wanted to edit the claim types configuration, because the article didn't work for me. I wanted to edit the claim mapping.
I performed a troubleshooting:

Test connectivity with Azure AD -> connection successfully
Obtain the access token using PowerShell# --> Received Access Token successfully

When I inspect the SharePoint logs i see followeing entries:
1. Configuration 'AzureCPConfig' was upgra

[2022-01-24 19:24] Yvand commented on #142
It just means that the app in Azure AD does not have the required permissions.
You need to configure the app exacty as described in https://azurecp.yvand.net/docs/usage/register-application/

[2022-01-25 08:23] Yvand commented on #139
@saep202009 the exception occurs probably because there is something wrong/unexpected in your claim types list.
Can you go to central admin > Security > AzureCP Claim types configuration and send me a screenshot of this page?

[2022-01-26 09:40] saep202009 commented on #139
@Yvand here screenshot of zour requested page
![image](https://user-images.githubusercontent.com/70706181/151139520-ca70e1ce-337a-4068-a1d5-5fe99786d85c.png)

[2022-01-31 22:44] edise91 commented on #142
Hi Yvan

Sorry for my late response, I had to remove the Graph API Permissions and re-add them again. Now it works! Also for SharePoint Subscription Edition.

Thanks a lot and kind regards
Edi

[2022-01-31 22:44] #142 closed

[2022-02-01 09:25] Yvand commented on #139
The claim types configuration is the default one and is totally fine.
I must be missing something but I'm not sure what. Do you have custom alternate access mappings with different private/external urls

[2022-02-24 13:52] #140 closed

[2022-03-13 19:48] #139 closed

[2022-03-26 21:04] #141 closed

[2022-03-28 19:37] schrockmatthew opened #143 "Problem with unified sec groups using azurecp"
We use ver: AzureCP 19.0.20210211.1285 for SP 2019

recently, we have encountered an issue with the unified groups. Users who are members of these groups encounter permission denied message when going to site. Workaround is to add the directly to SP site group. I seen a similar post when users were using ver 15 but haven’t been able to track this down. This sporadic behavior as well nothing consis

[2022-03-29 12:59] Yvand commented on #143
You need to verify a couple of things:
- Is Azure AD adding the group membership in the SAML token? If yes, what is the claim type / claim value?
- Is AzureCP configured to do augmentation?

[2022-03-29 14:31] schrockmatthew commented on #143
Is Azure AD adding the group membership in the SAML token? If yes, what is the claim type / claim value? ​Good question...does the below help?

[cid:96fa75ce-bc6a-4280-af50-ee110d2c0238]

Is AzureCP configured to do augmentation? ​Yes

________________________________
From: Yvan Duhamel ***@***.***>
Sent: Tuesday, March 29, 2022 8:59 AM
To: Yvand/AzureCP ***@***.***>
Cc: schrockmatthew ***@***.***

[2022-03-30 15:59] Kinumikao opened #144 "AzureCP ID is in use"
Hi Yvand

We recently reinstalled AzureCP.
Now if we open the AzureCP Administration page we run into the following error:

The id 0e9f8fb6-b314-4ccc-866d-dec0be76c237 is in use.  An azurecp.AzureCPConfig named "AzureCPConfig" is using the same id as the new object named "AzureCPConfig" of type azurecp.AzureCPConfig.  Every object must contain a unique id.  Either update the new object's id or del

[2022-03-30 16:14] Yvand commented on #144
hi @Kinumikao, you need to delete the configuration object created by AzureCP. You can do it by running this SharePoint stsadm command line (not PowerShell):

[code]

[2022-03-31 08:13] Yvand commented on #143
@schrockmatthew I think not all your message was posted correctly, especially the picture I think you intended to attach

[2022-03-31 12:55] schrockmatthew commented on #143
(attached) Is this better?
________________________________
From: Yvan Duhamel ***@***.***>
Sent: Thursday, March 31, 2022 4:14 AM
To: Yvand/AzureCP ***@***.***>
Cc: schrockmatthew ***@***.***>; Mention ***@***.***>
Subject: Re: [Yvand/AzureCP] Problem with unified sec groups using azurecp (Issue #143)

@schrockmatthew<https://github.com/schrockmatthew> I think not all your message was posted corr

[2022-04-04 07:59] Kinumikao opened #145 "AzureCP Stops working after 31 Days."
Hi @Yvand,

We are experiencing a weird issue with a single customer.
After pretty much exactly one month AzureCP stops working, we assume it's the Token which does not get renewed, but we lack the errors to show. The only way we are aware of working around this issue is by restarting the system.

The following error is the one we could find which does not show on other customers systems.

[AzureC

[2022-04-04 08:12] Yvand commented on #145
@Kinumikao once you restart the system, how long does it work before it throws this error again?
What version of AzureCP are you using?
Could you [use Fiddler as a proxy](https://azurecp.yvand.net/docs/help/troubleshooting/#inspect-the-traffic-to-azure-ad) to inspect the traffic between AzureCP and Azure AD when the error occurs?

[2022-04-04 08:14] Yvand commented on #143
You can simply navigate to the issue and see by yourself that it is not

[2022-04-04 08:20] Kinumikao commented on #145
@Yvand, thanks for the quick reply.
The Version we use is up-to-date: 19.0.20210211.1285.
AzureCP works for almost exactly 31 Days until the Issue reoccurs again. The issue has been occurring since around December of last year.
We would like to avoid using Fiddler on the customer system but since we can't replicate the Issue on our Test Environments, we could as a last resort arrange something wit

[2022-04-04 08:25] Yvand commented on #145
How many tenants are configured?
Does the people picker continue to work when this error happens?
Does this exception happen only in the SharePoint STS process?

[2022-04-04 08:48] Yvand commented on #145
@Kinumikao SharePoint log always records the process ID along with the process name.
You can run command `cmd /r %systemroot%\system32\inetsrv\appcmd list wp` to get the exact w3wp.exe process running under this PID
Since users members of AAD groups cannot sign-in when this happens, it's most likely the SP STS process.

One more thing, IIS should restart the w3wp processes every day, so I don't se

[2022-04-04 09:08] Kinumikao commented on #145
@Yvand, In the logs for that day when the Issue occurred, we have two logs listing Process: "App Pool: SecurityTokenServiceApplicationPool". The rest of the AzureCP Log state w3wp.exe which does show up in the results of your command.

Interesting, good to know.
I could not find anything else which happens in the interval of one month. Could it technically be possible that this happens on the side

[2022-04-04 09:51] Yvand commented on #145
@Kinumikao I cannot think about anything that can cause such issue to happen every 31 days, client side or server side...
Especially if it affects only the STS, and other w3wp processes (which use the same code to get the same access token) work fine...

[2022-04-04 10:00] Kinumikao commented on #145
@Yvand I understand, is there a collection of known issues regarding AzureCP? We are going to continue monitoring this issue, but for the Time being, thanks allot for your help.

[2022-04-04 12:36] Yvand commented on #145
There is not such list of known issues, sorry
Keep me posted on your findings

[2022-04-07 02:33] bryanhart73 opened #146 "Group membership not working for permissions assignment"
Running latest binary version.  The user authenticates successfully in an interactive browser login, and authorization works if added directly to a site but gets redirected to the standard access denied page if part of a AAD group.

1) Tried both with and without a group claim set in AAD.
2) Augmentation is enabled and works correctly for "Check permissions" operations in _layouts/user.aspx

It's

[2022-04-07 07:35] Yvand commented on #146
@bryanhart73 it should work in the same way as LDAPCP. Here is what you need to validate:
- As your tests suggest, it is not mandatory that AAD includes the group membership, but it doesn't hurt if it does.
- One important thing is that (for good reasons) AzureCP uses the group ID as the value (not the group name)
- If check permissions work, it is very unexpected that interactive sign-in does not

[2022-04-07 16:21] bryanhart73 commented on #146
Dug in more deeply and it appears the augmentation requests at sign in are being blocked by a Conditional Access policy in Azure but those done during Check Permissions are not.  Are there any differences in the requests that might explain that?  What appears in the logs makes the requests look identical.

[2022-04-08 08:03] Yvand commented on #146
There is really no difference (except the process where it runs), both use exactly the same code path.
How do you know that the request is denied due to conditional access? It was my understanding that it applies only to user authentication, not apps

[2022-04-08 15:41] mdoherty29 opened #147 "Does AzureCP work with On premise AD groups synced to Azure for authentication in Sharepoint 2013?"
Hi There,

Looking for some help with a Sharepoint portal and Azure SSO.

Background,

Our current Sharepoint 2013 portal uses a product called Ellucian Portal and has the permissions assigned to various sites using the AD groups that a Ellucian Identity Provider is giving us from ADFS authentication and the claims that are setup. The groups that the Ellucian Identity Provider and that ADFS is sen

[2022-04-08 18:44] bryanhart73 commented on #146
The AzureCP log entries in the ULS make a specific mention of them.  The environment in question has a conditional access policy in place that restricts by source IP (against a list of their outbound proxy servers).  I *think* we have it traced down to the fact those 2 operations ended up using different outbound IPs and one of those is missing in the allow list.  Waiting for the IT group that con

[2022-04-08 18:44] #146 closed

[2022-04-08 19:40] mdoherty29 commented on #147
In further testing I've confirmed that my permissions work if I assign a On premise AD synced user or group to a new AAD group and then assign that group to the Sharepoint site I want them to have access too. I see in Azure AD I can send the "On premise Security Identifier" and in the AzureCP Claims type Configuration I can select the OnPremiseSecurityIdentifier, but that doesn't seem to work and

[2022-04-08 20:02] mdoherty29 commented on #147
Further testing and checking off the "Return security-enabled groups only" now also return my On premise AD groups that have been synced into Azure, but in the People picker they naturally appear as a different group since I'm passing the Azure Group ID, and not the On premise sAMeAccountName or ObjectID. If I can't somehow use the On premise AD group passed with the AzureCP,.this will mean I have

[2022-04-11 12:17] Yvand commented on #147
@mdoherty29 AzureCP is not (really) involved during the authN: SPS computes the SAML token issued by AAD, and compares it with the permissions (claims) present on the target site.
AzureCP does mainly 2 things:
- It creates claims based on the user input in the people picker, that SPS uses to create permissions
- It may also get the group membership of the user who signs-in, to create claims based

[2022-04-11 16:40] mdoherty29 commented on #147
We are syncing our on-premise groups to AAD, and I am including them in my SAML token as a "Role" type with the SamAccount Name. I'm just not sure in the Claim configuration of AzureCP am I supposed to pick that as the "Property to query, OnPremiseSamAccountName" to get it to match what I've done in SPS from the ADFS identity provider.
![AzureCP_Claims](https://user-images.githubusercontent.com/10

[2022-04-12 17:08] mdoherty29 commented on #147
Hi Yvand,

Question I have from a novice Sharepoint administrator. In my scenario that I'm trying to setup. I can see I am passing the on premise SamAccountName for my groups from AAD in my claim tokens ok. but it is to a SPTrustedIdentityProvider called "AzureAD" I have another SpTrustedIdentityProvider called "Ellucian Identity Provider" that was setup with our on premise ADFS and we setup the p

[2022-04-13 11:59] #144 closed

[2022-04-13 12:15] Kinumikao opened #148 "Question about AAD Application Permissions"
Hi Yvand,

I've got two questions regarding the Azure Application Permissions.

Your documentation links to the following Microsoft Documentation: https://docs.microsoft.com/en-us/graph/api/directoryobject-getmembergroups, which states that the Permission User.Read.All and Groupmember.read.all are sufficient to query the Group memberships of Users.

In the AzureCP Documentation, you state that Gro

[2022-04-13 15:32] Yvand commented on #148
Hi @Kinumikao, thank you very much for reporting this. I tested the permmission GroupMember.Read.All and, indeed, it is enough!
When I wrote the article this permission did not exist, it seems it was introduced in late 2020 and I never noticed it until your message.
AzureCP does not check what permissions are granted, it just tries to run queries.
Could you also test to remove Group.Read.All and a

[2022-04-14 07:06] Kinumikao commented on #148
@Yvand, thank you so much for your answers.
Just to clarify, sign-in for Users who only have their permission over AAD Groups is possible with Groupmember.read.all?

We will be testing this configuration on multiple test systems, I'll give you feedback as soon as possible.

[2022-04-14 07:50] Yvand commented on #148
@Kinumikao yes, it should have no impact on any feature

[2022-04-14 08:45] Kinumikao commented on #148
@Yvand, we tested GroupMember.read.all on multiple test environments (SP13 and SP19) and I can confirm it is working as intended.

[2022-04-21 09:54] ivanrusso opened #150 "Question about User Information List"
is it possible that the metadata in the UIL is updated via AzureCP (e.g. JobTitle)?
What is responsible that the UIL is updated if you do not have a User Profile Service?

[2022-04-22 08:54] Yvand commented on #150
@ivanrusso yes it is possible (and it does it by default). If there is no User Profile Service, it will remain with what is set by AzureCP.
But there was a bug in AzureCP: If you changed the config related to the JobTitle in AzureCP, it was no longer set correctly in UIL.
This is fixed in [v20](https://github.com/Yvand/AzureCP/releases/tag/20.0.20220421.1391) (just published).

[2022-04-22 09:13] ivanrusso commented on #150
@Yvand I have updated to v20, but JobTitle and Department are still empty on UIL.
how is the metadata updated in the UIL, according to the source code there is no job that updates this information?

[2022-04-22 16:40] bryanhart73 opened #151 "People Picker filter availability/configuration"
We are long time LDAPCP users transitioning to AzureCP.  One of the features we use heavily in the LDAPCP environments is the "additional LDAP filter" values on each claim.  Is there an equivalent in AzureCP and/or another way to do this?

[2022-04-25 08:28] Yvand commented on #151
@bryanhart73 no, with current design AzureCP will query your whole Azure AD tenant using the input of the user.
It might be possible to implement the same notion of filter, but Microsoft Graph is quite restrictive in the complexity of the queries it accepts and may reject one that contains such additional filter (currently, requests have some complexity to correctly manage guest/member users, and

[2022-04-25 08:58] ivanrusso commented on #150
@Yvand I have tested it on a new SiteCollection.
When I add a user to a SP Group, then JobTitle and Department, OfficeLocation are empty.

![image](https://user-images.githubusercontent.com/2790090/165054507-52bcb2c7-4c61-415f-94f4-416ab3816a77.png)

With the following PS Script I was able to update the the UIL

[code]

[2022-04-25 09:10] Yvand commented on #150
Can you set the logs to verbose:

[code]

Then, when you add a user from the people picker, LDAPCP will record (in verbose) the metadata it sets for each user added (including the title, office, etc...)

[2022-04-25 11:41] ivanrusso commented on #150
@Yvand

I have set the log to verbose.

[code]

In the log I can't see any metadata for (title, office, etc...)
[code]

[2022-04-25 13:19] Yvand commented on #150
Ok, so it looks like Azure AD does not return any of those properties.
Can you use the [Graph explorer](https://developer.microsoft.com/en-us/graph/graph-explorer) to replay the query below and confirm if Azure AD returns the metadata?
`https://graph.microsoft.com/v1.0/users?$select=UserType, Mail, UserPrincipalName, DisplayName, GivenName, Surname, DisplayName, Mail, MobilePhone, JobTitle, Depart

[2022-04-25 14:08] ivanrusso commented on #150
@Yvand

The query returns the metadata.

[code]

[2022-04-26 06:44] Yvand commented on #150
@ivanrusso ok, thank you for the verifications, I will do some tests on my side and come back to you

[2022-04-26 14:31] Yvand commented on #150
@ivanrusso there were some confusions I'll try to clarify:

- To see the metadata set by AzureCP in SharePoint logs, you need to set logging to verboseEx (verbose is not enough, my mistake)
[code]

Then you get an output like this:
[code]

Things to note:
- The metadata Title does not correspond to column tp_Title in SQL table UserInfo. Metadata Title is used in the people picker, as the 2nd line

[2022-04-27 09:31] ivanrusso commented on #150
@Yvand This is the log output:

[code]

but on the UIL the Information is not updated:
![image](https://user-images.githubusercontent.com/2790090/165488193-84262b6c-75b6-408f-b738-998d6aa102cb.png)

[2022-04-27 14:16] Yvand commented on #150
@ivanrusso SharePoint does not **update** the data in the userinfo list based on metadata returned by AzureCP.
SharePoint uses the metadata  returned by AzureCP only if the user is **added** for the very 1st time to the site collection. Then, within 5 minutes, the quick sync job will overwrite it using the data in the User Profile service.

[2022-05-12 12:01] Kinumikao opened #152 "Question regarding attribute filter possibilities"
Hi @Yvand,

Is it possible with AzureCP to filter out Users with a specific User Attribute so that either only user with or without the specified attribute get shown in PeoplePicker?

Many thanks for your help and kind regards,
Claudio

[2022-05-24 15:05] Yvand commented on #152
hi Claudio. this is not possible unfortunately, for the same reason I mentioned in https://github.com/Yvand/AzureCP/issues/151#issuecomment-1108245335

[2022-06-02 13:36] schrockmatthew commented on #143
Sorry to be so late but this is the exact error we're receiving:

[AzureCP] Unexpected error(s) occurred in AugmentEntity:  [EXCEPTION 1]: System.FormatException: Cannot add value because header 'Authorization' does not support multiple values.. Callstack:
 at System.Net.Http.Headers.HttpHeaders.ParseAndAddValue(String name, HeaderStoreItemInfo info, String value)
 at System.Net.Http.Headers.HttpH

[2022-06-02 13:40] schrockmatthew commented on #143
The lookup gets the following:

[AzureCP] Unexpected error occurred while getting access token for tenant 'btlaw.microsoftonline.com' on cloud instance 'AzurePublic': System.Net.WebException: The underlying connection was closed: Could not establish trust relationship for the SSL/TLS secure channel., Callstack:
 at System.Net.HttpWebRequest.EndGetRequestStream(IAsyncResult asyncResult, TransportCo

[2022-06-07 07:33] Yvand commented on #143
It looks like a TLS 1.2 is not enabled / not enabled correctly on the SharePoint servers.
Can you follow [this article](https://docs.microsoft.com/en-us/mem/configmgr/core/plan-design/security/enable-tls-1-2-client) to configure it?

[2022-06-10 18:56] #145 closed

[2022-06-10 18:56] #147 closed

[2022-06-10 18:56] #148 closed

[2022-06-10 18:56] #150 closed

[2022-06-10 18:56] #151 closed

[2022-06-17 16:44] bartvermeersch opened #153 "Keep user metadata in sync"
Looking for some help or ideas on user metadata:

What is the best way to keep metadata (eg mail address, department) in sync (with Azure AD)?

If we include this info in our claims, is it also updated in the User Profile Service (when the values have changed)?

I read in another post that AzureCP can only set profiles properties in the site collections, where user is added for the 1st time in the

[2022-06-17 17:11] RaZz85 commented on #153
I'm also interested in the answer to this question, thank you for asking it!

[2022-06-21 10:59] bartvermeersch commented on #153
Thank you for the info!

Do you know when using hybrid profiles, is the UPS on-prem still in use and do we need to keep it up to date with PowerShell?

[2022-06-22 10:29] bartvermeersch commented on #153
Merci! I'll let you know when we're that far ;-)

[2022-06-22 10:29] #153 closed

[2022-06-30 15:15] RaZz85 opened #154 "AzureCP returning no results when using browse button"
AzureCP is currently not working for me when using the browse button in the User Policy button for a web application.
Steps to reproduce:

On Central Admin
1. Click Manage Web Applications
2. Choose any web application
3. Click User Policy Button
4. Choose Any zone
5. Click the browse icon
![image](https://user-images.githubusercontent.com/623957/176702176-0fa3a749-175a-4a57-aabf-054d52ebe0cb.png)

[2022-07-01 13:39] Yvand commented on #154
@RaZz85 I guess that it depends on the server where AzureCP runs, and it never works on the server running the central administration.
Since AzureCP authenticates tu Azure AD using a certificate, did you double check that the w3wp.exe process can access the private key of that certificate in this machine?

[2022-07-04 13:05] RaZz85 commented on #154
Hi @Yvand, thank you for your response. All three of our app+search servers run the central admin. That would explain why it almost never works on our central admin, since we load balance it only on those machines. (and only accessible from one of these machines too). However, I did see in the ULS logs that once in a while it does work, and I'm expecting that AzureCP itself connects from a Webfron

[2022-07-05 08:00] Yvand commented on #154
AzureCP can run on any SharePoint process / server of the SharePoint farm.
It is also very important to **fully** install AzureCP, which includes this mandatory [extra step](https://azurecp.yvand.net/docs/usage/install/#finalize-the-installation).

Regarding your scenario, since you use a client certificate, it is equally required that the private key of this certificate is deployed in all SharePo

[2022-07-06 08:54] RaZz85 commented on #154
Hi Yvan, thank you for replying.

The extra step was not required in our farm since we have:
- Three application + search servers, all running Central Admin
- Three WebFrontends + Cache, all running Microsoft Sharepoint Foundation Web Application
The solution was deployed on all servers.

The certificate was installed via the Global Configuration page on the central admin. I would assume this will

[2022-07-06 09:17] Yvand commented on #154
@RaZz85 you are correct, I did this 2 year ago and already I forgot that the private key is stored in the persisted object...
I will try in my env to create a certificate using `New-SelfSignedCertificate -KeyExportPolicy Exportable` and let you know the outcome.
Can you just clarify if, using certificate, it worked on any server?

[2022-07-11 12:00] RaZz85 commented on #154
Hi Yvan,
It worked sporadically on any server as far as I know. Now and then I could see it switching to a new server in ULS. At that time, ULS reports getting a new token from AAD. This was usually when it worked. However, when it was stuck on one server for a longer time, AzureCP was not able to find any results. I was unable to find what triggered the switch in server. I was wondering if toke l

[2022-07-11 14:15] senn00 opened #155 "Timeout People Picker (AzureCP used) - reprocued with SP2019 and SE (not the case if we remove AzureCP)"
Hello,

We noticed an issue with People Picker when AzureCP is installed and configured (same behavior on SP2019 and also SE).
It is about a timeout (only occurring the first try after some inactivity time  ... second try - to search people- usually is OK and super fast).
After this first search try (timing out) - a Red error message is dispalyed on the bottom of the search Windows (People Picker)

[2022-07-13 09:47] Yvand commented on #154
@RaZz85 just to be sure I understand the scenario, does what you describe happen only when using a certificate, or it is the same when using a secret?

[2022-07-13 09:53] Yvand commented on #155
hi @senn00, there are 2 options to troubleshoot this timeout:
- Analyzing SharePoint logs to find what operation exactly takes too long (it seems it is while getting the access token but this needs to be confirmed). For that, you can filter the logs on the **message** contains AzureCP: It will output the monitored scope messages that AzureCP records on key operations and show how long they take in

[2022-07-13 10:31] senn00 commented on #155
Hi Yvan

Thank you for the inputs …

Had in mind to proceed with more troubleshooting using Fiddler. Will update you.

BR

From: Yvan Duhamel ***@***.***>
Sent: Wednesday, July 13, 2022 11:53 AM
To: Yvand/AzureCP ***@***.***>
Cc: Ennaifar, Sofiane ***@***.***>; Mention ***@***.***>
Subject: Re: [Yvand/AzureCP] Timeout People Picker (AzureCP used) - reprocued with SP2019 and SE (not the case if we

[2022-07-13 13:33] senn00 commented on #155
Below the logs (already collected a couple of days ago) … If I am not wrong, not really related to the token acquisition …

Timestamp                    Process                                      TID       Area                                      Category                        EventID Level                Message           Correlation
07/11/2022 14:24:22.43             w3wp.exe (GLCHBS-SP32092

[2022-07-14 19:28] schrockmatthew opened #156 "Can not update picker data in the AZURECP - ClaimTypesConfig.aspx page #65"
Ver. 19.0.20210211.1285....will not stick...Any suggestions

![AzureCPCapture](https://user-images.githubusercontent.com/20209171/179067331-2f5bf52a-5975-4114-8ee2-4308c50dc3dc.PNG)

[2022-07-15 14:08] Yvand commented on #155
Well, can you open the issue in the browser and format the log in a way where it can actually be read? Because as is I just give up trying to make sense of it.
Also, the first "Leaving Monitored Scope" is missing the time taken information

[2022-07-15 14:11] senn00 commented on #155
Hi – Could prepare a CSV/XLSX file but not sure if I could attach it (or upload it) …

Well, can you open the issue in the browser and format the log in a way where it can actually be read? Because as is I just give up trying to make sense of it.
Also, the first "Leaving Monitored Scope" is missing the time taken information

—
Reply to this email directly, view it on GitHub<https://urldefense.com

[2022-07-20 14:00] Yvand commented on #154
@RaZz85 I tried to repro your issue using a client certificate in SharePoint SE, but it works as expected in my environment:

I used this script to generate the certificate:
[code]

Then I set it in AzureCP. In the logs I see the following:
Initially:
[code]

Before access token expires:
[code]

Once access token expired:
[code]

One difference is that I did that on a single farm environment. Do y

[2022-07-21 21:47] RaZz85 commented on #154
Hi Yvan,

I'll be away on holiday for three weeks. I'll get back to you as soon as
possible. Since the farm that was showing the issue is now in production,
I'll get a second farm up and running so we can test the issue there. Thank
you for all your work so far, and have a great vacation.

Op wo 20 jul. 2022 om 16:00 schreef Yvan Duhamel ***@***.***>:

--
Vriendelijke groeten,

Jenne Tondeleir

[2022-07-25 08:56] senn00 commented on #155
Dear Yvan

Did you have the change to have a look at the log (Excel file sent the 18th of the July) ?

Also, I had a look at the CAPI2 event logs … I have a feeling that this could be related to the Revocation check related to the call to graph.microsoft.com (a full extract of the log is below – see the bottom … an particularly : - Result The revocation function was unable to check revocation beca

[2022-07-25 09:29] Yvand commented on #154
Thank you, enjoy your vacation and feel free to re-open the issue if it was closed autmatically

[2022-07-25 09:30] #156 closed

[2022-07-25 10:15] senn00 commented on #155
Hi -

For the 3 Invoke-WebRequest --> perfectly working when I use my account (on the SP server and also from my laptop)

I also tried to run that using the IIS Pool Account (behind the Web Application) and I did figure out that the last  call (graph.microsoft.com) is failing ... no idea why ... do you have some clues ?

Best Regards

[2022-07-25 11:43] Yvand commented on #155
It is interesting that the app pool account fails to query graph.microsoft.com, it reproduces the AzureCP error.
Could it be a particular proxy setting that prevents CRL validation for this account on the SharePoint servers?

[2022-07-25 13:05] Yvand commented on #155
Yes, it is compatible with the CRL verification error: It times out the 1st time, then it gives up and next requests work fine.
It is not a good idea to use an interactive account as an app pool account as it can have side effects (besides the potential security issues).
It seems to me that the app pool accounts is just denied by a firewall the access to the CRL endpoints set in the graph.microsof

[2022-07-25 13:11] senn00 commented on #155
Agree 100% (reg the interactive account used with the pool). As I mentioned: idea is just to test it (temporary setup)

Could you please let me know the required permission for the app pool account and I will try to implement that.

By the way, the test server hosting this farm is not behind the FW (only FW: Windows built-in one).

Final setup: will be more complex (as the farm will be behind a Re

[2022-07-25 14:30] Yvand commented on #155
I can only imagine a proxy/firewall configuration issue to explain why a specific AD account is not able to validate the CRL of graph.microsoft.com certificate (assuming it is the actual issue in CAPI2 logs).
If you already excluded both, sorry I'm out of idea...

[2022-07-25 14:46] senn00 commented on #155
I did try to add the below list of possible CRL to the local hosts file (not helpfull)
127.0.0.1 crl3.digicert.com
127.0.0.1 crl4.digicert.com
127.0.0.1 ocsp.digicert.com
127.0.0.1 www.d-trust.net
127.0.0.1 root-c3-ca2-2009.ocsp.d-trust.net
127.0.0.1 crl.microsoft.com
127.0.0.1 oneocsp.microsoft.com
127.0.0.1 ocsp.msocsp.com

Any idea how to get the full list of the CRL end points used by graph.mi

[2022-07-25 15:35] senn00 commented on #155
Update:
temporary tested (on the server hosting the POC SP farm) to use my Server Admin account (behind the pool)
perfectly working (no more timeout)

Using the dedicated pool account --> leading to the timeout issue

Any idea what is the direction to take for the troubleshooting ?

[2022-07-25 16:58] senn00 commented on #155
Update 2:

I did run the below PS script using the pool account --> super fast (no timeout) and I got the expected result (for 1 given account) ...

Still wondering why we have issue (timeout) when this is done through AzureCP ...

Start-Transcript -Path "C:\temp\troubleshooting_azurecp.log" -Append

#Invoke-WebRequest -Uri "https://login.windows.net" -UseBasicParsing
#Invoke-WebRequest -Uri "http

[2022-07-26 07:13] Yvand commented on #155
To be sure I understand correctly:
- Running `Invoke-WebRequest -Uri "https://graph.microsoft.com/" -UseBasicParsing` as the app pool reproduces the issue
- Running `Invoke-RestMethod -Uri "https://graph.microsoft.com/" ` as the app pool does not reproduce the issue
Is this correct?

[2022-07-26 07:31] senn00 commented on #155
Hi - Not really

I did implement a scheduled task (executed with the POOL ACCOUNT) in order to simply:

1. get the token
2. make a simple GET call to graph (get basic input related to a user)

PS script is below ...

The scheduled task was running since yesterday EOB (every 15mn) with the POOL ACCOUNT and it is perfectly working (getting the input related to the user) ... no timeout - super fast (

[2022-07-26 07:49] senn00 commented on #155
Update 2 (for Tuesday 26th of July)

Hi Yvan

I am not sure if the simple unitarian test using

Invoke-WebRequest -Uri "https://graph.microsoft.com" -UseBasicParsing

is REALLY RELEVANT for the below reasons:

1. this last invoke is not working with my admin account (this last was used as pool account and leading to the expected result - no timeout)
2. there is a redirection when you simply try ht

[2022-07-26 08:10] Yvand commented on #155
I found this script ([credit](https://amgeneral.wordpress.com/2019/01/03/powershell-download-certificate-chain-from-https-site/)) that can download the certificate chain of a specific site locally:

[code]

I'm not sure it can be really useful here, but at least you can see the CRL endpoints that need to be reached.
Did you consider to [run Fiddler as a proxy](https://azurecp.yvand.net/docs/help/t

[2022-07-26 12:32] senn00 commented on #155
Hi Yvan
Adding all the certificate chain did not help at all ...
Tried with fiddler but I am not able to capture the calls (graph) or the crl tries ...
Maybe you need to guide me what to do exactly with Fiddler ...
Thank you in advance for you patience ;-)

[2022-07-26 16:15] senn00 commented on #155
Hi Yvan

Good News: Setting the Proxy on the server helped to fix the issue (after collecting trace with netsh - discovered many retransmission for the 23.55.112.217 -->www.microsoft.com --> it should be used for the CRL Distribution Points (check the details behind of the certificate used with graph.microsfot.com/v1.0).

Now: We need to find a solution as the Proxy could no be used for our final

[2022-07-26 16:20] senn00 commented on #155
1 extra piece of details ... in our setup - servers could easily communicate over https with graph.micorsoft.com and also login.microsoft.com ... see below
But for CRL, it seems that we need www.microsoft.com over 80 (not always acceptable by the security experts !)

see the behavior from 1 of our servers !

PS C:\windows\system32> tnc -ComputerName www.microsoft.com -port 80
WARNING: TCP connect

[2022-07-27 12:37] senn00 commented on #155
Hi Yvan

back to you to know if you had the chance to look at my last update.

Still wondering if you could Skip/Disable the Online CRL checking for AzureCP* ...
It is the case when PS is used (to make some graph call - we are extensively using that with servers protected by FWs).

*/ and/or offer to option to enable/disable the CRL check through the GUI as it is the case for Edge
https://www.ssl.

[2022-07-27 16:12] Yvand commented on #155
Just to clarify, it is not AzureCP that does CRL check, or not even IIS, it is the crypto API of Windows.
It is possible to deactivate it on a per-user basis but I did that a very long time ago and I don't know how to do it now.
But you should not do it: It is a security mechanism to guarantee that a certificate was not compromised, it should never be deactivated in a production environment.

[2022-08-02 06:46] samir07 opened #157 "Post Successful login If I click on any link present on the site it gets redirected to login page - SP2016 AzureAD SSO AzureCP"
@Yvand - I have SP2016 multi server farm and configured it with AzureAD SSO, I have installed the Azure CP and SPBypassLoginPage solution as well, the issue I'm facing is, after the successful login to site, if I click on any of the link present on the site I get redirected to login page, I have a single server farm as well done the same configs there I don't see this issue, can you please help wh

[2022-08-02 15:40] Yvand commented on #157
@samir07 there can be multiple causes for this issue. To identify what went wrong, you need to:
- Capture the HTTP traffic during authentication
- Identify the POST request to /_trust, when the browser sends the SAML token to SharePoint
- Identify the correlation ID of this request
- Filter the SharePoint logs on this correlation ID and inspect it to find what went wrong

[2022-08-12 01:59] #143 closed

[2022-08-26 13:26] amcg1989 opened #158 "Documentation issue"
Hello,

i am
Trying to configure AzureCP, in the configure section it states:

“if the share point servers connect to the internet through a proxy, additional configuration is required in the configuration files”

however it doesn’t specify the name and location of said file

thank you

[2022-08-26 13:36] Yvand commented on #158
Documentation is not very clear, but those are the web.config files of the sites listed just after the code snippet in the same page

[2022-09-01 15:53] saep202009 opened #159 "AzureAD account in Sharepoint on premise"
Hello,

I would like to kindly ask You for the advice;
I use Sharepoint 2019 on premise and AzureAD, which is linked to this environment via AzureCP.

My question is - How can I set User's name as a DisplayName ("Name"+"Surname"), instead of UserPrincipalName ("name.surname@domain365.onmicrosoft.com") to be displayed in Sharepoint, please.

Thank You very much!

Greetings,

Daniel

[2022-09-02 08:57] Yvand commented on #159
hi @saep202009, in the AzureCP global configuration page, in section "Display of user identifier results", in the list "Show the value of another property, e.g the display name:", you can set the value to DisplayName.
That will change the display of the results in the people picker.

[2022-09-02 13:15] saep202009 commented on #159
Hello, Yvand,

Thank you for your reply.

I have the Global configuration set the same way you described and the people picker does work correctly.
Although, I don't know, how to set the AzureAD to also format the rest of Sharepoint user profiles (for example emails visible in custom workflows etc.

I have tried the "Add new synchronization connection".
Do you think, it could lead to the general "

[2022-09-02 14:50] Yvand commented on #159
In the SharePoint pages, the display of users is indeed determined by the profile in the User Profile Service.
Before creating the connection, you can simply try to create the AAD user profile manually and set the display name yourself.
Regarding the proper way to create the connection itself, I strongly recommend [this article](https://joshroark.com/sharepoint-active-directory-import-with-trusted

[2022-09-09 01:55] #152 closed

[2022-09-20 18:09] #154 closed

[2022-09-20 18:09] #155 closed

[2022-09-20 18:09] #157 closed

[2022-10-11 08:29] senn00 commented on #155
Great … Will prepare the full set of logs (on SE & 2019) and upload the files

—
Reply to this email directly, view it on GitHub<https://urldefense.com/v3/__https:/github.com/Yvand/AzureCP/issues/155*issuecomment-1185588765__;Iw!!N3hqHg43uw!ogd9MoFmZPFHFtgHW0jhJ5Y-zwzGVKx0TJw9AgLwBKEFuwNcbM1wzFgsfxltyBXJ5K7hPKz2cL0kgU5atjEb55JIwTeYajM$>, or unsubscribe<https://urldefense.com/v3/__https:/github.com

[2022-10-11 09:29] senn00 commented on #155
Here we go (will do tomorrow more tests and collect more logs) …

Timestamp                    TID       Area                               Category                        Level                 Message
18:53:42           0x3480 SharePoint Foundation               Config Cache                              Medium Refreshed SPPersistedObject with Name AzureCPConfig, Id 0e9f8fb6-b314-4ccc-866d-dec0be7

[2022-10-12 15:21] Yvand commented on #155
So AzureCP is not able to get an access token.
Can you try the scripts documented in https://azurecp.yvand.net/docs/help/troubleshooting/#test-connectivity-with-azure-ad and confirm if you can get the access token using PowerShell?

[2022-10-14 04:09] #158 closed

[2022-11-04 02:04] ezmedia opened #160 "Having issues with SP2013 and 'System.Net.Http, Version=4.2.0.0'"
This is a great tool and will really help out my client.   Tried to push several versions of System.Net.Http into the GAC and have tried versions 17-20 of AzureCP.   Still cannot get rid of the error....

[AzureCP] Unexpected error occurred in Initialize, while refreshing configuration: System.IO.FileNotFoundException: Could not load file or assembly 'System.Net.Http, Version=4.2.0.0, Culture=neut

[2022-11-04 09:24] Yvand commented on #160
@ezmedia I was very much hoping that v20 would fix this problem for good.
I spent a lot of time trying to understand why it occurs, but tbh I don't know what the cause is, only that somehow it affects a few machines and I was never able to reproduce it myself.
What version of .NET is installed on the SPS server? Can you try to update to [.NET 4.8.1](https://dotnet.microsoft.com/en-us/download/dotn

[2022-11-04 14:01] ezmedia commented on #160
So I did another round of checking and discovered that my 2013 Dev box has 4.8.03761 and the AAD connection test works great.   The production farm is at 4.6.01950 and I get the File Not Found error when running the connection test.    I will push 4.8 to the farm today and test again.

[2022-11-04 16:38] Yvand commented on #160
Then it might simply be caused by the [prerequisites](https://azurecp.yvand.net/docs/overview/introduction/#prerequisites) not met

[2022-11-04 22:55] ezmedia commented on #160
Ok,  So that was the issue.    For all those who get this error here is your fix.

I am running SharePoint 2013  Enterprise version 15.0.4571.1502.

Check the version of .net running on your server with this powershell:

` Set-Location ‘HKLM:\SOFTWARE\Microsoft\NET Framework Setup\NDP\v4\Client’
 Get-ItemProperty -Path . | Select-Object Version`

If you get 4.6 as your current version then you wil

[2022-11-06 01:03] #160 closed

[2022-11-07 08:06] saep202009 opened #161 "SPuser profile missing claim atributes from AAD"
We configured AzureCP claim provider for Sharepoint 2019 on premise. Both configuation AzureCP and Azure AD contains claims artibutes upn and emailaddress but in SP user profile after login to the SharePoint with AAD account is missing atribute emailaddress. Please help us fix this bug. See example of user details in AAD and in SPUserprofile.

![image](https://user-images.githubusercontent.com/707

[2022-11-07 08:57] Yvand commented on #161
SharePoint does not use (custom) claims providers to set the user profile properties in User Profile service, so AzureCP can not populate those entries.
AzureCP can only populate the user data in the site collection where the user is added.
This is due to SharePoint design, not a limitation of AzureCP

[2022-11-07 21:36] ondrejtucny commented on #161
And how do we populate AzureCP can only populate the user data in the site collection where the user is added? This doesn't work either. We have four different environments, and two different Azure AD tenants, and no configuration worked so far. Any help or advice will be really greatly appreciated.

![image](https://user-images.githubusercontent.com/78753310/200419967-443c2740-b0c1-47c6-a760-00ca

[2022-11-23 10:55] Yvand commented on #161
@ondrejtucny sorry for the delay I completely missed your message.
The configuration of AzureCP looks correct and I believe it does set the user metadata, but they are either ignored (user already exists in the site collection) or eventually overwritten by the UPA sync job which copies the data from the User Profile service to the site collection.
Does the ADFS user exist in the User Profile servi

[2022-11-23 12:46] Yvand commented on #161
@ondrejtucny sorry I did not pay attention to the screenshot. So it shows that the user profile of the AAD user does not have any data.
For this reason, whatever AzureCP does, SharePoint will always eventually overwrite it with the data from the user profile service.
To confirm this, you can test to delete the user profile, create a new site collection and add the user. You should see the user wit

[2022-11-23 13:56] ondrejtucny commented on #161
@Yvand ok, let us test this hypothesis.

[2022-11-23 16:30] saep202009 commented on #161
yes of course we use updated skript from this article and below is attached
https://www.sharepointdiary.com/2019/03/sharepoint-online-import-user-profile-property-from-azure-ad-using-powershell.html
[update_Email_DN.zip](https://github.com/Yvand/AzureCP/files/10077421/update_Email_DN.zip)

[2022-11-24 10:29] saep202009 commented on #161
Hi, Yvand,
I deleted my UserProfile, created a new site collection and then I added (invited) myself as Reader to the collection.
Sadly, the information of the user (work e-mail etc) has not appeared in the profile.

[2022-11-24 10:34] sujeetsharma opened #162 "Request to add support for custom claim identifiers in AzureCP other than default"
My company is trying to integrate Azure AD federated authentication in its SharePoint 2019 farm. Current we use custom user identifier in on-prem AD like "EmpID". The old ADFS server will be decommissioned soon and we will transition to Azure AD federated authentication.

We have this custom property synced with the AzureAD too and currently can federate authentication using Azure AD Enterprise ap

[2022-11-24 10:48] Yvand commented on #161
@saep202009 then one thing you can do is to replay exactly this procedure, but this time with LDAPCP logs in VerboseEx:
`"LDAPCP:*"| Set-SPLogLevel -TraceSeverity VerboseEx`
Then you can check the logs and filter on Product/Area LDAPCP: LDAPCP records in VerboseEx the metadata it sets for each result it returns. This metadata is used by SharePoint to populate the profile properties in the site col

[2022-11-30 05:56] gauravPOC opened #163 "AT Office LAN we are not getting USE token when user move from 1 page tp another page"
This is something I repeatedly see in the ULS, but I don't think this is relevant to your custom page load.

11/25/2022 14:58:44.32        w3wp.exe (HCLT-PC6297-1:0x4B28)        0x3054        SharePoint Foundation        Resolve        ax7no        Medium        Could not find idenitty for input. Input: 'i:0e.t|azuread|', Exception: 'System.Security.Principal.IdentityNotMappedException: Some or al

[2022-11-30 09:50] Yvand commented on #162
@sujeetsharma thank you for sharing your feedback.

About 3.: Dlegated permission means that a user needs to sign-in whenever AzureCP needs an access token. Since AzureCP runs in many SharePoint processes, this is impossible by design

About 1. and 2.: It is a fair request and technically possible to implement, but challenging and risky because of the risk of breaking the AzureCP configuration whe

[2022-11-30 10:01] Yvand commented on #163
@gauravPOC the exception occurs in method NTAccount.Translate(), so yes it is unlikely to be caused by AzureCP since no input coming from it should be treated as an AD account

[2022-11-30 10:04] gauravPOC commented on #163
Thanks Yvan. So what would be the remedy for this?

Regards
Gaurav

From: Yvan Duhamel ***@***.***>
Sent: Wednesday, November 30, 2022 3:32 PM
To: Yvand/AzureCP ***@***.***>
Cc: Gaurav Agarwal ***@***.***>; Mention ***@***.***>
Subject: Re: [Yvand/AzureCP] AT Office LAN we are not getting USE token when user move from 1 page tp another page (Issue #163)

[CAUTION: This Email is from outside the Or