[2015-09-10 10:27] Yvand opened #1 "Images for README"
![azurecp people picker](https://cloud.githubusercontent.com/assets/8788631/9786028/28938be0-57b7-11e5-8119-ea759f5c508e.png)

[2016-02-10 14:23] oriolqc opened #2 "Role claim not working"
Role claim appears as missing from ACS provider, although it is configured.

[2016-02-10 16:22] Yvand commented on #2
Hello, can you confirm that role claim type it is present in SharePoint trust, when you run cmdlet Get-SPTrustedIdentityTokenIssuer?

[2016-02-10 17:30] oriolqc commented on #2
Thanks, the problem was I didn't add it. A little bit tricky by the way. This article was useful: http://samirvaidya.blogspot.com.es/2013/05/incoming-claim-types-do-not-include.html

[2016-07-25 15:04] #2 closed

[2017-02-02 03:53] benpea opened #3 "Configuration for all account types"
Hi, I am having trouble with getting the solution to work with all type of users within azure AD.

Currently we have the AzureCP configured to map claims/upn to property to query: mail.
This allows the following account types to login/resolve:
-Guest Users within a Federated Directory (B2B user with ADFS on their side)
-Guest User without a Federated Directory (B2B user without ADFS)
-AAD Security

[2017-02-08 12:05] Yvand commented on #3
Hello, I will test this configuration and come back to you ASAP, hopefully this week

[2017-02-08 15:02] Yvand commented on #3
AzureCP expects that you always use property UserPrincipalName for users, because AAD sets the main claim type (<i>http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name</i>) with this property, and SAML token doesn't contain the email address.

Then in ACS or ADFS, you may transform this claim type in either <i>http://schemas.xmlsoap.org/ws/2005/05/identity/claims/upn</i> or <i>http://schemas

[2017-02-10 07:00] benpea commented on #3
Hi Yvand,

First of all, thanks for getting back to me, I appreciate it.

I think I didn't explain the issue I am facing correctly; We are using B2B user accounts as such the UPN for these account types are a bit strange in the back end "test.user_domain.com.au#EXT#@tenantname.onmicrosoft.com" the same format that is stored for MS accounts

as such with the Claims configuration set to "UPN -> User

[2017-02-21 16:02] Yvand commented on #3
Hello, I didn't configure this myself but I discussed this with a colleague who did and we discussed your scenario.
I'll come back to you later, hopefully this week, with more information for your scenario

[2017-02-21 23:12] mrpullen opened #4 "README Get-SPTrustedIdentityTokenIssuer"
What are the steps to create a new SPTrustedIdentityTokenIssuer. The directions require that you update an existing token issuer, however, if you are going from scratch, you won't have an existing token issuer created.

I am unsure about claim mappings, SignInUrl, Realm, IdentifierClaim, MetadataEndPoint, ImportTrustCertificate settings that are required when I generate the TrustedIdentityTokenIss

[2017-02-22 14:57] Yvand commented on #4
Hello, it's very dependent on your environment so it's not possible to provide an example ready to use.
Below is the script I use to configure the trust with my AAD tenant, which uses Azure ACS to issue the SAML token:

[code]

[2017-02-22 21:58] mrpullen commented on #4
that is perfect. thanks so much !!!

[2017-02-23 08:18] #4 closed

[2017-03-16 13:06] Yvand commented on #3
Hi @benpea,
sorry for the late reply. I reproduced your issue, and you are correct:
- For B2B (guest) users: AAD does not issue claim http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name that would contain userPrincipalName value (typically "yvand_external.com#EXT#@TENANT.onmicrosoft.com"), instead it issues claims http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress with the a

[2017-04-03 19:46] aboredman commented on #3
I have a very similar use case and I would like to reproduce the config achieved by benpea but the comment from Feb 10th has no screenshot. Yvan or Ben, could you include them?

[2017-04-04 01:11] benpea commented on #3
Hi Yvand,

Sorry i took a while to respond,

Your proposed solution via ADFS unfortunately defeats the purpose of the entire B2B model. B2B (Business to business) is designed to users can sign in using their own organisations credentials, so as such they will be authenticating against THIER OWN ADFS server, currently my client has 170+ business partners connecting via B2B, so you can understand we

[2017-04-04 19:52] aboredman commented on #3
Thanks to Ben I managed to reproduce his config where B2B guest accounts can be used.

If it helps someone esle it can be done by adding those 2 rules in ACS Rule Group

![image](https://cloud.githubusercontent.com/assets/7316670/24675715/3bce5f64-194e-11e7-960a-b5f12cc65d8a.png)

![image](https://cloud.githubusercontent.com/assets/7316670/24675735/493e7f12-194e-11e7-8ea0-9f75d422fa48.png)

Then s

[2017-11-21 21:48] abrmed opened #5 "ClaimProviderName"
Hi Yvand;
i'm trying to install AzureCP, and when I type this command:
$trust = Get-SPTrustedIdentityTokenIssuer "NAME"
$trust.ClaimProviderName = "AzureCP"
i got the error:
Exception setting "ClaimProviderName": "Claim provider with name AzureCP does not exist."

Any idea Please :( ??

[2017-11-22 09:16] Yvand commented on #5
hi @abrmed, can you run this cmdlet below and confirm if AzureCP is listed?
[code]

[2017-11-22 14:24] abrmed commented on #5
Hi Yvand,
Thank you for the email, after lunching the command got:

DisplayName
-----------
System
Active Directory
All Users
Forms Auth
User Profile Claim Provider

Regards

2017-11-22 4:16 GMT-05:00 Yvan Duhamel <notifications@github.com>:

[2017-11-23 15:07] Yvand commented on #5
Hi @abrmed, this means that for some reason AzureCP is not installed on the farm.
Do you see AzureCP solution in farm solutions?
Do you see AzureCP feature activated in farm features?

[2017-11-27 17:35] abrmed commented on #5
Hi Yvand,
Thanks for the replay, I reinstalled AzureCP.wsp and after that all it's
ok. Now, when i tried to add new Tenant in Central Administration, after
typing the information and test tenant connecton get this error:
Unable to connect to Azure tenant
It may be expected if w3wp process of central admin has intentionally no
access to Azure.
One or more errors occurred.
Error detail: 'authority'

[2017-11-28 09:10] Yvand commented on #5
hi @abrmed
did you follow instructions on https://yvand.github.io/AzureCP/Create-App-In-AAD.html to create the app and fill required information in AzureCP?
Yesterday I publised a new version, it contains many improvements, please make sure to download it in https://yvand.github.io/AzureCP/ and follow instructions in https://yvand.github.io/AzureCP/Update-AzureCP.html to update AzureCP

[2017-11-30 09:01] benpea commented on #3
Ummm closed?

Its still an issue that I have to deal with almost daily, common man!

[2017-11-30 09:08] Yvand commented on #3
Hi @benpea
sorry I should have given some justification:
This is an actual issue, but I closed it because I don't see any possible solution on AzureCP side.

I think this should be addressed on ADFS side: create custom rules on ADFS to change the claim type type of B2B accounts from http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name to whatever the identity claim type is in SharePoint (e.g

[2017-11-30 09:13] benpea commented on #3
Hi Yvand, I would love to be able to discuss the issue with you, as this is an issue with b2b accounts and by definition environments outside of our control.

For example we invite a user from company 'xyz' "user@xyz.com' to use our system. they are loggin in using their infrastructure, they may have ADFS installed in their environment but we can not re-configure that.  They may not, and just be u

[2017-11-30 09:20] benpea commented on #3
If it helps, a network trace of the login shows the communication flow as such:

User -> site -> azure ACS (accesscontrol.winsows.net) -> login.windows.net -> Either A) stays at login.windows.net or goes to users ADFS login page -> login.windows.net -> site.

So they do not pass through any environment we could make the rule you suggest.

[2017-12-11 14:47] Yvand commented on #3
Hi @benpea, sorry for the late reply.
I do understand the issue, and I was not suggesting that you fix the issue in the ADFS of your customers.

About your flow, I think it is like this because you use ACS, can you confirm this?
In this case yes, you are probably in a deadend.

But instead of ACS you could use ADFS of your organization. In this case, all SAML tokens of all users would go to ADFS a

[2017-12-14 16:20] flyingMagnus opened #7 "ACS Retirement"
With Microsoft announcing the retirement of ACS for November 2018, have you looked at migration options to authenticate directly with Azure AD, bypassing ACS?

[2017-12-15 08:34] Yvand commented on #7
AzureCP cannot substitute ACS, both have a completely different role.
But ACS can be replaced by ADFS (which would trust Azure AD directly without using ACS). This would change nothing for AzureCP as it would continue to query Azure AD.

[2018-01-09 10:17] cblomart opened #8 "Multiple tennant and invitation APIs"
Hello,

When working with multiple tennants, the invitations process and api can generate confusion.

If Sharepoint is linked with one tennant:
- multiple result on lookup: invited users and native users in their tennant.
- inviting a user from another tenant does not work until the user is properly invited.
- previous question is valid on inviting a group (role)

What would you think of the propo

[2018-01-09 16:56] Yvand commented on #8
Hello, thank you for your feedback, and sorry but I think I don't understand what you propose.
I didn't know the AAD invitation API so I [found and read this](https://cloudblogs.microsoft.com/enterprisemobility/2016/10/31/azuread-b2b-invitation-api-is-now-in-public-preview/).
Can you make your point more explicit?
Do you propose that AzureCP replaces the site invitation process of SharePoint (and

[2018-01-09 20:46] cblomart commented on #8
We are trying out AzureCP for our solution.

Basicaly, we want to user AzureAD for sharepoint on permises and leverage B2B as well as MSA (i.e: hotmail).

We spotted few points that we would like to be able to handle:
1/Invitation
Authorization does work correctly for the different kind of users. but every user needs an account in azure ad, right. In B2B a guest would have a shadow account.
So use

[2018-01-15 10:11] Yvand commented on #8
hello,
thank you for the detailed description, it makes much more sense now.
Technically speaking what you describe sounds possible, but it's a big work to do.
To be honest, I have other priorities and I don't think I'm going to invest time to implement this. The most important change I'd like to make is to rely on Microsoft Graph instead of the old Azure Active Directory Graph Client Library ([as

[2018-01-15 20:27] cblomart commented on #8
Knowing were to implement a function to filter search results would great.

Envoyé de mon iPhone

[2018-01-16 11:34] benjamingournay2 opened #9 "Error when adding a tenant"
When i click "test tenant connection", i get the following error:

Unable to connect to Azure tenantIt may be expected if w3wp process of central admin has intentionally no access to Azure.One or more errors occurred.Error detail: Insufficient privileges to complete the operation.

When i look at the error logs, I can see that error:
[AzureCP] Unexpected error while testing connectivity: System.Da

[2018-01-17 15:13] Yvand commented on #9
The app registered on Azure probably misses permission "Read directory data".
Please follow [this link](https://yvand.github.io/AzureCP/Create-App-In-AAD.html) to register the app correctly

[2018-01-18 07:54] benjamingournay2 commented on #9
The app registered on Azure has the permission "Read directory data".
Do you have any ideas what else it could be ?

[2018-01-18 07:56] benjamingournay2 commented on #9
Do we need to enable Microsoft Graph ? and to give permissions to that service ?

[2018-01-18 09:22] benjamingournay2 commented on #9
I granted Read directory data yesterday in application permissions and I did not grant anything in delegated permissions. This morning, I still have the issue unfortunately

[2018-01-18 12:02] Yvand commented on #9
Just in case, can you try to register a new application, grant only "Read directory data" under "Application permissions" and test if it works?

[2018-01-18 15:54] cblomart commented on #8
Could a simple patch doing the following be suffisient?

- when listing users
  - if user is of type guest
    - if signinname is in a regitered tenant domain
        - do not add to people picker

[2018-01-19 11:07] benjamingournay2 commented on #9
We created a new app but still the same error:
![tenantcustomclaims](https://user-images.githubusercontent.com/35489873/35148102-e8cdb9dc-fd08-11e7-850f-b05b9b97e9f2.png)

[2018-01-19 14:37] guptas-abhishek commented on #7
Hi Yvand,

Thanks for your comment to flyingMagnus,  I also have the same query which you answered partially but the other half which i am not able to understand is that -- as of now if we need to configure and connect Azure CP with out Sharepoint 2013 as Custonm Claims Provider, we give info (screenshot attached) like Provider URI, ProviderRealms, UPN etc  but when you create  Azure AD applicatio

[2018-01-22 15:48] benjamingournay2 commented on #9
Do you have an idea what can cause that issue when I click "test tenant connection" ?
![image](https://user-images.githubusercontent.com/35489873/35229591-119d5588-ff94-11e7-9752-67f812bb52ca.png)

[2018-01-22 16:56] Yvand commented on #7
Hello,
You can use ADFS as an intermediate between SharePoint and Azure AD.
ADFS will get the SAML 2.0 token from Azure AD and generate a proper SAML 1.1 token that SharePoint can understand.
In this scenario SharePoint trusts ADFS (and its signing certificate).
The configuration to make is described in [this blog post](https://blogs.msdn.microsoft.com/mrochon/2017/04/07/using-azure-ad-to-enable-p

[2018-01-23 07:56] Yvand commented on #9
Can you ignore this error, add the connection and test directly the people picker?
You can monitor AzureCP activity in SharePoint logs if you filter on Product/Area "AzureCP"
If people picker doesn't work, can you try to [update AzureCP](https://yvand.github.io/AzureCP/Update-AzureCP.html) with the latest Beta, which you can [download here](https://github.com/Yvand/AzureCP/releases/tag/v10.Beta)?

[2018-01-23 08:12] benjamingournay2 commented on #9
Hi Yvan,

We have the following unexpected errors :

[AzureCP] Validation with AAD lookup created 0 permissions instead of 1 expected. Aborting operation

[AzureCP] Unexpected error while getting users in tenant hugge.onMicrosoft.com: System.Data.Services.Client.DataServiceQueryException: An error occurred while processing this request., Callstack:
 at System.Data.Services.Client.QueryResult.EndEx

[2018-01-24 13:23] cblomart commented on #8
Hello,

We installed a test sharepoint and dev tools (vs2013) to look further at customisation.
On compilation we get these errors and warning:
``C:\Users\<user>\Documents\AzureCP\AzureCP\AzureCP.cs(911,37): error CS1985: Cannot await in the body of a catch clause
C:\Users\<user>\Documents\AzureCP\AzureCP\AuthenticationHelper.cs(17,42): warning CS1998: This async method lacks 'await' operators and

[2018-01-24 14:40] Yvand commented on #8
Hello, can I try to sync the [latest commit](https://github.com/Yvand/AzureCP/commit/c22853a3783a7cf3d9018bbbd9c8a50e164c1fa9) in dev branch?
I pushed an update this afternoon, and part from a lot of optimizations, code is also easier to understand.

With that said, I can't explain the errors you mention, compilation should succeed...

[2018-01-24 17:46] cblomart commented on #8
Compiles correctly from dev branch without signature.
If signature is enabled (with self cert), visual studio complains that Nito.AsyncEx is not strong named.

[2018-01-30 09:47] Yvand commented on #9
Error message is "Insufficient privileges to complete the operation", which should be resolved by granting "Read directory data" only under "Application permissions" (and not to delegate permissions).
I cannot explain why you keep getting this error after setting permissions like described above...

[2018-02-22 08:11] jedv opened #13 "AzureCP and LdapCP in the same farm"
Hello Yvand,

I have one web application using ADFS authentication, I have a Trusted Identity Provider for that. Everything works fine with LdapCP.
I have a second web application in the same SharePoint farm where I want to authenticate Azure AD users.
Is it possible to create a second Trusted Identity Provider and use AzureCP to retrieve Azure AD users in the people picker ? Or can I configure Ld

[2018-02-22 11:42] Yvand commented on #13
Hi @jedv, yes it is safe to use AzureCP and LDAPCP in the same farm (I have this setup for a very long time), but each must be associated to its own SPTrustedLoginProvider (SPTrustedIdentityTokenIssuer)

[2018-02-22 13:58] jedv commented on #13
Hi,

Thanks for your answer.

When I add a second SPTrustedIdentityTokenIssuer with AzureCP as ClaimProviderName, seems like there is a side-effect :
the first web application configured with the first SPTrustedIdentityTokenIssuer seems to use the second one (i'm redirected with the DefaultProviderRealm of the second SPTrustedIdentityTokenIssuer)
Did you encounter this issue ?

Thanks in advance.

[2018-02-22 15:31] Yvand commented on #13
I'm not sure to understand: each SPTrustedIdentityTokenIssuer has its own DefaultProviderRealm / ClaimProviderName.
I don't see how LDAPCP's SPTrustedIdentityTokenIssuer could use the DefaultProviderRealm set in AzureCP's SPTrustedIdentityTokenIssuer

[2018-02-23 09:11] jedv commented on #13
Each SPTrustedIdentityTokenIssuer has its own DefaultProviderRealm/ClaimProvider
The ADFS one : LDAPCP
The AzureAD one : AzureCP
When I browse a siteURL from the web application using the ADFS SPTrustedIdentityTokenIssuer i'm redirected here :
https://[adfsURL]/adfs/ls?wa=wsignin1.0&wtrealm=urn%3asharepoint%3a[URN of ADFS SPTrustedIdentityTokenIssuer]&wctx=[siteURL]%2f_layouts%2f15%2fAuthenticate.

[2018-02-23 12:51] Yvand commented on #13
This is weird. To clarify your setup, can you run this script:
[code]

[2018-02-23 13:28] jedv commented on #13
For each web application, I have Default and Intranet zone.

This is the configuration for the web application using the ADFS SPTrustedIdentityTokenIssuer :
Get settings for zone Default :
DisplayName                        : Windows Authentication
ClaimProviderName                  : AD
AllowAnonymous                     : False
UseBasicAuthentication             : False
DisableKerberos

[2018-02-23 15:41] Yvand commented on #13
The configuration is correct, so I'm thinking about all possible explanations.
Are you 100% the IIS websites / AAMs are not mixed up between both web apps?
Could you be hitting ADFS web app instead of AzureAD web app without noticing it?

[2018-02-23 16:59] jedv commented on #13
AAMs don't seem to be mixed up between both web apps.
Before naming the Azure AD SPStrustedIdentityTokenIssuer "AzureAD", I named it "AAD" : it came first in the SPTrustedIdentityTokenIssuer list. The web application using ADFS SPTrustedIdentityTokenIssuer had the side-effect.

[2018-03-09 23:16] mleary9 opened #14 "Azure AD authentication failing after changing claims provider to AzureCP"
I followed all instructions and installed AzureCP and created App in Azure AD.  After changing the claims provider name as follows:
$trust = Get-SPTrustedIdentityTokenIssuer "AzureAD New"
$trust.ClaimProviderName = "AzureCP"
$trust.Update()

When i try to authenticate to SharePoint i get the following error in event log
EventID 8306
An exception occurred when trying to issue security token: The se

[2018-03-12 12:18] stevep4 commented on #7
Just to update things here:

https://docs.microsoft.com/en-us/office365/enterprise/using-azure-ad-for-sharepoint-server-authentication

AAD can now issue SAML 1.1 directly... which I've got working.

Then I came across AzureCP, and I'm really muddled should I use this instead of the MS method, or do they work hand in hand?!

[2018-03-12 13:39] Yvand commented on #7
Hello, yes you can now federate Azure AD directly with SharePoint, which is very good news since you don't need ADFS anymore.
But this doesn't really change anything for AzureCP, it talks with Azure AD the same way, whether you ADFS or not.

[2018-03-12 13:40] Yvand commented on #14
Hello, can you send a screenshot of the claims mapping page?
It is in central administration > Security > AzureCP claims mapping

[2018-03-12 13:45] mleary9 commented on #14
![claimsmapping](https://user-images.githubusercontent.com/37228953/37286985-79c74406-25fb-11e8-94a7-5f3827391925.png)
Screen shot attached.

[2018-03-12 17:18] Yvand commented on #14
I will look at your scenario more in detail and give you a feedback this week.
Thanks

[2018-03-12 17:22] mleary9 commented on #14
Thank you Yvand.
I should mention, we are on SharePoint 2016 (16.0.4639.1002)

[2018-03-16 14:37] Yvand commented on #14
Hi @mleary9, ok, now I actually have time to focus on this
Can you please:
- Set AzureCP logs in verbose:
[code]
- repro the error
- Check SharePoint logs and filter on Product/Area "AzureCP"

[2018-03-16 14:48] Yvand commented on #14
Looking at the code, I can make an assumption on the error:
Did you register a claim type in the trust configuration, that is not registered in AzureCP claims mapping?
If so, and if some permissions were created with this claim type (before installing AzureCP), you should add this claim type in AzureCP claims mapping, it might fix the issue.

[2018-03-16 14:51] #5 closed

[2018-03-16 14:56] Yvand commented on #7
Hi @stevep4
AzureCP can fix the display name of users if:
- User is added for the very first time in the site collection (if user was deleted and is re-added this won't work)
- In central admin > Security > AzureCP claims mapping page: a Graph property has the Metadata "DisplayName" set

But, whatever you configure this or not, the User Profile Application service is the component that synchronize

[2018-03-16 20:26] mleary9 commented on #14
Yvand,

Thank you for the information but I am still having issues, let me summarize every we did:

Configured Azure AD Trusted token provider with SharePoint 2013/2016. Tested the authentication by adding user to "user policy" on CA. everything worked. Removed the AzureAD users added previously from "User Policy" on CA.

Installed the AzureCP, associated the AzureCP to SPTrustedIdentityTokenIssue

[2018-03-16 20:52] mleary9 commented on #14
Yvand,

Thank you for all your help. We figured it out, the part of the problem was having users added before Azure CP installed. Everything works now....

Mike.

[2018-03-19 09:27] #14 closed

[2018-03-19 09:30] Yvand commented on #3
@benpea can you please confirm if [version 11](https://github.com/Yvand/AzureCP/releases/tag/v11) addressed your needs?

[2018-03-24 21:05] jlcate opened #15 "Developer samples available?"
Hi Yvan,

I'd like to extend AzureCP and do it your approved way.  I see that you have a developer samples download for LDAPCP, but can't find the same for AzureCP.   I've looked over the developer sample for LDAPCP and LDAPCP itself, but am not sure if I can just follow that same pattern with AzureCP or not.

My specific project is to have multiple SP web applications in my farm, each with a tena

[2018-03-26 13:41] Markus-MEEQIT commented on #9
Make sure you have actually granted the saved permissions in Azure Portal, by clicking the Grant Permissions button in the blade prior to the Enable Access blade. The portal is a bit confusing in that it first asks you to save permissions but you then also have to grant the saved permissions.

[2018-04-04 13:46] jlcate commented on #15
Thanks for the response, Yvand.

Jeff

[2018-04-05 21:59] #7 closed

[2018-05-09 15:28] guptas-abhishek opened #16 "Powershell script for configuring Azure CP"
Hi Yvand,

 I had been using this lovely solution "AzureCP" from a long time for authentication via ACS.  After installing the wsp, had created Application in Azure AD to get Client ID , Client Secret etc and then creating a SPcustomidentityprovider  using powershell. In this new world of Azure AD authentication, slightly confused as in what to use and what not.....

Do you have any such documenta

[2018-05-09 20:34] grizzljt opened #17 "AzureCP works in all web applications except central admin"
I am using AzureCP v12.Beta, version committed May 14

AzureCP does not return results from Central Administration.

From the 'Add users to this group' dialog, I see "Sorry, we're having trouble reaching the server."  From the Web Applications page -> User Policy -> Add Users -> 'Select People and Groups' dialog, I get the error "No results were found to match your search item.  Please enter a new

[2018-05-14 08:13] Yvand commented on #16
Hi @guptas-abhishek
To establish the trust between SharePoint OnPrem and Azure AD, you can read [this article](https://docs.microsoft.com/en-us/office365/enterprise/using-azure-ad-for-sharepoint-server-authentication)
To register the AzureCP app in Azure AD, you can read [this article](https://yvand.github.io/AzureCP/Create-App-In-AAD.html)

[2018-05-14 12:54] grizzljt opened #18 "Issue on AzureCPSettings.aspx page"
I am using AzureCP v12.Beta, version committed May 14

When navigating to the page, I see the generic error:

In the logs, the following is captured.

I added the tenant as the GUID identifier initially before the updated to the May 14th commit.  Once no results were returned from the claim picker, I added tenant.onmicrosoft.com as well as tenant.microsoftonline.com. Once the other two tenant iden

[2018-05-14 13:05] grizzljt commented on #17
I downloaded the update, updated via Update-SPSolution, and manually ran IISRESET on all servers.

Unfortunately I am still unable to resolve from Central Admin and now I am unable to resolve from any Web Application.  The error has changed and is now:

I added the tenant as the GUID identifier and tried tenant.onmicrosoft.com as well as tenant.microsoftonline.com.   Once the other two tenant iden

[2018-05-14 13:08] grizzljt opened #19 "Unable to test tenant connection"
I am using AzureCP v12.Beta, version committed May 14 (but this issue was noticed while using the may 4th commit).

Clicking test connection on the AzureCPSettings.aspx refreshes the page without any indication of a successful or failed test.  This behavior is repeatable on IE 11 and the latest version Google Chrome.

[2018-05-14 13:20] Yvand commented on #17
Ah yes, sorry I forgot to mention that you need to reset the claim types list after you updated AzureCP.
You have 2 options:
- central admin > AzureCP global settings page > "Reset AzureCP Configuration" (but that will also remove all tenants registered)
- PowerShell: run this script:
[code]

Thank you very much for your feedback!

[2018-05-14 13:28] Yvand commented on #18
I'm not able to repro that error, I don't know why it occurs.
I suggest you try to reset the configuration and add the tenants again. You have 2 options:
- If AzureCP global settings page works: click on "Reset AzureCP Configuration"
- Otherwise you can use PowerShell:
[code]

[2018-05-14 13:45] grizzljt commented on #18
Thank you so much for your time and effort!  As per your other suggestion, I ran

[code]
The page now loads correctly. Those two PowerShell commands could be very helpful to others if placed on the debugging page (which seems to be missing on Github.io?).

[2018-05-14 13:45] #18 closed

[2018-05-14 13:47] Yvand commented on #18
Great
It's new to v12, I'll update the documentation once v12 is RTM

[2018-05-14 14:20] grizzljt commented on #17
Thank you for the suggestion; I appreciate all your help!  I am still getting the same error after resetting the claim types list.  I also tried resetting the AzureCP configuration and starting from scratch with no change in behavior.   The error message is the same.

I am using the Tenant identifier GUID as the Tenant name in the 'Informations to add new Azure tenant' form.  This worked prior to

[2018-05-14 15:43] grizzljt commented on #17
I tried both of the following (individually) in addition to the GUID
TENANT.onMicrosoft.com
tenant.microsoftonline.com

Is there anything that needs to be done to the Enterprise App in Azure AD after upgrading the solution version?

The claims mapping looks good:

![image](https://user-images.githubusercontent.com/2603440/40007783-b652a8a6-576b-11e8-89cb-29c1eb98ab11.png)

Same error:

[2018-05-14 18:41] moojjoo opened #20 "Proxy Settings netsh winhttp show proxy"
For the PowerShell command > netsh winhttp show proxy I get "Current WinHTTP proxy Settings: Direct access (no proxy server).

With those results what instructions am I to follow? https://yvand.github.io/AzureCP/Configure-AzureCP.html

[code]
Thank you in advance, also small type on page - •SharePoine central administration site should be - •SharePoint central administration site

[2018-05-14 19:42] cblomart commented on #20
Looks like netsh says you’re not behind a proxy.
If what he says is true I would figure you don’t need to set any proxy.

Cedric

Envoyé de mon iPhone

[2018-05-15 08:00] Yvand commented on #17
Nope, claims mapping page is not good: look at the properties column: it shows numbers instead of actual property names.
That's the reason why you have this error (I changed the enum type that stores property names).
For some reason the reset of claim types configuration didn't work. Can you reset it again from claims mapping page and see if it works?

[2018-05-15 17:26] grizzljt commented on #17
I swear I tried that before posting the error message but I just tried again anyway.  It works just fine now.  Sorry to waste your time!  Thank you so much for your help.

[2018-05-15 17:26] #17 closed

[2018-05-16 12:05] joker-it opened #21 "Problem with nested Groups"
Permission with Nested Groups didn't work for me.. somebody else with this Problem?

[2018-05-17 09:13] Yvand commented on #21
Hello, what version of AzureCP did you try?

[2018-05-18 17:16] moojjoo opened #22 "Getting PS error when running the following."
[code]

[code]

[2018-05-18 17:50] moojjoo opened #23 "Unable to get MD5 checksum for the key file "AzureCP strong name key.pfx""
Couple of issues.

1. Keys missing
2. Console app, did you not remove that from the project?

![azurecp](https://user-images.githubusercontent.com/6118065/40249877-f415dc8e-5ac3-11e8-8faa-c80f9e7ffc55.png)

[2018-05-18 19:25] moojjoo commented on #22
Closing, got it working from your other repository notes, totally removed and re-installed.

How to remove:

[code]

[2018-05-18 19:25] #22 closed

[2018-05-18 21:48] moojjoo commented on #20
Sounds good!

[2018-05-18 21:48] #20 closed

[2018-05-22 05:51] joker-it commented on #21
i use AzureCP v11 #12

[2018-05-22 12:47] Yvand commented on #21
I fixed nested groups in v12, which brigs many changes and is still a beta for now.
Nested groups will work only if group claims are created with the ID of groups (and not their DisplayName).
More information on https://github.com/Yvand/AzureCP/releases/tag/v12

[2018-05-22 12:53] Yvand commented on #23
1. I removed the private key which signs the assembly on purpose, you can create your own private key and it will compile successfully
2. It's now removed in the new version 12, which is in development in branch [migrate-to-microsoft-graph](https://github.com/Yvand/AzureCP/tree/migrate-to-microsoft-graph)

I strongly recommend that you start from this new branch [migrate-to-microsoft-graph](https:

[2018-05-22 12:57] moojjoo commented on #23
Thank you.

[2018-05-23 14:26] Yvand commented on #21
Apart from still being a beta, v12 has breaking changes compared to previous versions, especially for group permissions.
To test permissions reliably, you need to create a new site collection, so that entities already added (regardless if there where deleted or not) do not interfere with the ones you are trying now.
With v12, assuming you use default claim types configuration:
- group permissions

[2018-05-24 14:37] SDMcMillan opened #24 "Azurecp.wsp does not deploy"
When following the install instructions, I received an error "Claim provider with the name AzureCP does not exist."  When I followed a previous issue that was logged, I confirmed that wsp is not deployed.  I tried removing and redeploying with no success and have tried deploying through Central Administration and the manual deployment of the DLL suggested for servers not running SharePoint Foundat

[2018-05-24 14:52] Yvand commented on #24
How many servers do you have?
Does central admin run web application service?
On servers, can you check if you can find directories "AzureCP" and "AzureCP_Administration" in directory 15(/16)\TEMPLATE\FEATURES?

[2018-05-25 17:48] moojjoo opened #25 "Groups can't get them mapped"
@Yvand can't get AzureCP to pick up Groups:

http://schemas.microsoft.com/ws/2008/06/identity/claims/role UserType None SharePointGroupId User

Not working - "RED" in the claims mapping

[2018-05-25 20:42] SDMcMillan commented on #24
Hi Yvan,

I now have it deployed.

Thanks.

[2018-05-25 20:42] #24 closed

[2018-05-25 20:54] SDMcMillan opened #26 "Azure AD authentication failing after installing AzureCP"
Hi Yvan,

I am seeing the following behaviour after installing AzureCP.  User account created in Azure AD appear as username_FQDN#EXT#@AzureDomain.onmicrosoft.com for a user with username@FQDN.  This name appears in the picker in SharePoint 2013 and can be used for alerts, etc. (email and other property values are accessible), however, if you try to login with the email address and password, it fa

[2018-05-28 10:08] Yvand commented on #25
Line is red because AzureCP didn't find the claim type "http://schemas.microsoft.com/ws/2008/06/identity/claims/role" in the SPTrustedIdentityTokenIssuer.
So either you use another claim type for the groups (and you can update the red line with this claim type), or you didn't set any and you need to add it in the SPTrustedIdentityTokenIssuer.

[2018-05-28 10:10] Yvand commented on #26
Do you by any chance have 2 users who look like this in your Azure AD:
username1_FQDN#EXT#@AzureDomain.onmicrosoft.com
username1@FQDN

[2018-05-28 10:13] Yvand commented on #26
Ah, I think you face the same issue as https://github.com/Yvand/AzureCP/issues/3
Can you please check?

[2018-05-29 03:37] SDMcMillan commented on #26
Hi Yvan,

The step outlined by aboredman <https://github.com/aboredman> worked for
the login, we are using mainly Guest access so it should be fine.  We still
have one issue and that is, how do we extract the mapped information, eg.
phone number or email for the user?

Thanks.

On Mon, May 28, 2018 at 4:13 AM, Yvan Duhamel <notifications@github.com>
wrote:

[2018-06-01 13:03] Yvand commented on #26
Hi @SDMcMillan
what do you mean exactly? What should be done with the phone number?

[2018-06-01 13:29] SDMcMillan commented on #26
The users can access the site now, but the mapped fields are not accessible
to the user profile service in SharePoint, so if I choose the person field
and mobile phone for example, it is blank for SAML users.

On Fri, Jun 1, 2018, 7:03 AM Yvan Duhamel, <notifications@github.com> wrote:

[2018-06-01 13:39] Yvand commented on #26
A claims provider cannot ("normally") write in the User Profile Application, it can only populate metadata of the entity (user) in the site collection IF the entity is created for the 1st time.
So in AzureCP you can add PickerEntity metadata for the email and the MobilePhone to populate them in the user properties in the site collection, but it will not write them in the user profile because it's

[2018-06-04 11:37] guptas-abhishek opened #27 "Users Suggestion not coming up"
Hi,

After installing and integrating AzureCP with the AzureAD, the users are not able to get authenticated and neither I am getting any suggesions, but able to do a successful login.
below is the sptrustedprovider output. Please suggest

PS C:\Users\Admin> Get-SPTrustedIdentityTokenIssuer

ProviderUri                   : https://login.microsoftonline.com/e4f2b803-7c85

[2018-06-04 12:06] Yvand commented on #27
Hi,
what version of AzureCP are you using?
Can you check SharePoint logs and filter on Product/Area "AzureCP" to get more information?

[2018-06-11 12:58] guptas-abhishek opened #31 "AzureCP V12 not getting installed properly"
Hi,
 I had been using AzureCP from a long time and recently when  I tried installing the latest version V12 of Azure CP,   I can't see it under get-spclaimprovider, thus cannot associate it with my TrustedIdentityprovider. But on the same server if  I try to install the old version of Azure CP (version 2) , it works perfectly fine.

is there any dependency or anything which  I need to install or t

[2018-06-11 15:29] Yvand commented on #31
Hi, did you try to update from a previous version?
Do you have more information about the error that occurred?
Did you restore the old version of AzureCP by doing running Update-SPSolution, or by removing and installing it from scratch?

[2018-06-12 07:45] guptas-abhishek commented on #27
Hi Yvand,   I have sorted this issue after reconfiguring SAML1.1 with Azure ad from scratch, so you can close this case....

[2018-06-12 08:56] #27 closed

[2018-06-19 11:16] guptas-abhishek commented on #31
Well.... yes Update solution has actually worked but sometimes uninstallation and reinstallation becomes a pain... Cheers Yvand.....

[2018-06-19 11:17] guptas-abhishek commented on #16
This has been sorted, you can close this :) thanks a lot for the help

[2018-06-20 06:21] #31 closed

[2018-06-20 06:21] #16 closed

[2018-06-20 06:22] #23 closed

[2018-07-25 01:58] moojjoo opened #32 "Unable to connect to Azure tenant It may be expected if w3wp process of central admin has intentionally no access to Azure. One or more errors occurred. Error detail: Insufficient privileges to complete the operation."
I know this has been an issue before.  However, I have two environmnets running both on Windows Server 2012.

I am using a different tenant for each environment, and I have checked, double checked and triple checked the settings and I keep getting the nasty:

1) Environment works perfect
2) Environment throwing the following error, and I will state all the Azure settings match up with Environment

[2018-07-25 02:12] moojjoo commented on #32
Solved on the Azure Blade - Clicked on Required permissions after 5 minutes. I worked.

[2018-07-25 02:12] #32 closed

[2018-07-26 09:22] #25 closed

[2018-07-26 09:24] Yvand commented on #19
Fixed in final [v12](https://github.com/Yvand/AzureCP/releases/tag/v12)

[2018-07-26 09:24] #19 closed

[2018-08-06 13:46] lexxus93600 opened #33 "After upgrading to the last version"
STS Call Claims Windows: Problem getting output claims identity. Exception: 'System.Reflection.TargetInvocationException: Exception has been thrown by the target of an invocation. ---> System.IO.FileNotFoundException: Could not load file or assembly 'Nito.AsyncEx, Version=4.0.1.0, Culture=neutral, PublicKeyToken=65dc6b5903b51636' or one of its dependencies. The system cannot find the file specifie

[2018-08-06 13:51] Yvand commented on #33
I think you just need to recycle the w3wp running the SharePoint STS (not the site). Can you do that and check if it fixes the error?

[2018-08-06 14:03] lexxus93600 commented on #33
Yes, it works after recycling the w3wp.
Thank you so much !

________________________________
De : Yvan Duhamel <notifications@github.com>
Envoyé : Monday, August 6, 2018 3:51:24 PM
À : Yvand/AzureCP
Cc : lexxus93600; Author
Objet : Re: [Yvand/AzureCP] After upgrading to the last version (#33)

I think you just need to recycle the w3wp running the SharePoint STS (not the site). Can you do that and

[2018-08-07 12:48] #33 closed

[2018-08-10 09:03] benpea commented on #3
Hi Yvand, Thanks for the update, I will inform the client of the update and see about getting this tested and will let you know, and you are correct we are using ACS (work coming up to migrate to ADFS as ACS is retiring). I will let you know how we go. Thanks!

From: Yvan Duhamel <notifications@github.com>
Sent: Monday, March 19, 2018 5:30 PM
To: Yvand/AzureCP <AzureCP@noreply.github.com>
Cc: Ben

[2018-08-15 19:32] jfalgout1956 opened #34 "SPTrustedIdentityTokenIssuer"
I'm afraid I'm not understanding where this is coming from? Do I first need to create this? If so, it would be good to put it in the install instructions :-)

[2018-08-20 13:56] lexxus93600 opened #35 "Members not recognize"
Hi,
After installing AzureCP when I try to put members in a SharePoint group, I have this message :"Sorry, you are not allowed to share this with external users."
But they are not external users.

[2018-08-28 13:05] Yvand commented on #35
@lexxus93600 Can you provide more context?
Does it throw this error during the search, or when you validate the permission?
Does the people picker returns users from AzureCP?

[2018-08-28 13:07] Yvand commented on #34
@jfalgout1956 This is the SharePoint object you create to configure the trust between SharePoint and Azure AD.
As I mentionned in https://yvand.github.io/AzureCP/index.html, you can find more information to configure this in https://docs.microsoft.com/en-us/office365/enterprise/using-azure-ad-for-sharepoint-server-authentication

[2018-08-28 13:15] jfalgout1956 commented on #34
Thanks, yeah, I found it a few days ago, thanks! It would be helpful to include this as a prerequisite, rather than just a link – for us neophytes 😊

From: Yvan Duhamel <notifications@github.com>
Sent: Tuesday, August 28, 2018 9:07 AM
To: Yvand/AzureCP <AzureCP@noreply.github.com>
Cc: Jim Falgout <Jim.Falgout@catapultsystems.com>; Mention <mention@noreply.github.com>
Subject: Re: [Yvand/AzureCP] S

[2018-08-30 16:11] lunarridge opened #37 "Feature request to help support Multi-Tenant scenarios"
We have started using this to support Multitenant deployments where each tenant has its own AzureAD Tenant for showing people to pick from, and at the moment we are making custom packages inheriting from the base AzureCP and overriding the CheckIfShouldProcessInput method to add a hardcoded filter against the context parameter.  This works great to limit the people pickers output based on the tena

[2018-09-11 15:45] Yvand commented on #37
If I understand, you want a custom field in the persisted object that you can use for your own needs.
What would be the type of this field?

[2018-09-11 16:38] lunarridge commented on #37
That's it exactly... a simple String property for additional data would be perfect as then I can customize the settings UI to set it and read from it in the CheckIfShouldProcessInput to get the URL (or anything more complex I could parse it as JSON), and apply the filter.

[2018-09-13 15:10] lunarridge commented on #37
It's not urgent, as we currently use the data hardcoded in each WSP and that does work.  It's more a matter of ops process improvement for us.  Whenever you update next would be fine, as knowing its coming at some point at least allows us to plan ahead.

[2018-09-17 08:54] #35 closed

[2018-09-17 08:54] #26 closed

[2018-09-17 08:54] #13 closed

[2018-09-17 08:55] #3 closed

[2018-09-17 22:22] AussieDavo opened #38 "Hybrid Search does not support SAML based authentication"
There is a limitation in Hybrid Search where any objects with SAML based permissions submitted to SharePoint Online Search index are security trimmed.

This causes these SharePoint objects to be unsearchable when authenticating with AzureAD.

Reference (Hybrid Search supports Windows Claims only): https://blogs.msdn.microsoft.com/spses/2016/07/19/sharepoint-2016-hybrid-search-stuff-you-should-know

[2018-10-19 12:44] VinceWeir opened #39 "Azure AD users not recognized"
I have installed AzureCP v13 on our on-prem SharePoint 2016 Farm. This installation seemed faultless, however when trying to add users to a site, the on-prem AD account is showing, and the Azure AD account is not showing in the people picker. In other words, I cannot select the correct Azure AD account (view attached screenshot).
![peoplepicker](https://user-images.githubusercontent.com/40571360/4

[2018-10-19 13:36] Yvand commented on #39
Can you check logs and filter on Product/Area "AzureCP" to see what's going on?

[2018-11-01 00:31] joker-it opened #40 "An operation failed because the following certificate has validation errors: Subject Name: CN=graph.microsoft.com"
Hello

we installed azurecp and we're very happy :) now we have a problem at one of our customer..
we use azurecp, after installation it works fine.. now after some weeks one of our SharePoint tools stops working..

in the uls log and in the eventlog i found this errors:

An operation failed because the following certificate has validation errors:  Subject Name: CN=graph.microsoft.com Issuer Name:

[2018-11-02 19:06] mfu2019 opened #41 "azureCP do not contact the azure AD Application"
we ahve successfully installed azureCP on a Front end and deployed dll with powershell to backend SP2016 server running on azure Servers (SAAS).
we get addres from on prem but nothinh from AAD. we are using guest users and normal users in AAD.
pleas hepl appeciated!

[2018-11-05 03:11] mfu2019 commented on #41
Sry for typos
Help needed!

[2018-11-06 15:14] Yvand commented on #41
@mfu2019 Can you check SharePoint logs and filter on Product/Area "AzureCP" to see what's wrong when AzureCP attempts to connect to Azure AD?

[2018-11-14 17:35] Yvand commented on #41
@mfu2019 any update on this?

[2018-11-15 15:59] #41 closed

[2018-11-15 16:01] Yvand commented on #40
hi @joker-it sorry for the late reply, did you resolve the issue?
It looks like Windows had a deprecated root/intermediate certificate, you may fix this by updating Windows

[2018-11-15 16:01] #39 closed

[2018-11-15 16:02] Yvand commented on #38
Thank you for your comment, but I'm closing this issue as this is not the place for this

[2018-11-15 16:02] #38 closed

[2018-11-22 05:02] chrisbrownie opened #42 "Show only members of Group"
Is there any way to limit the people picker to show only members of a particular Azure AD group?

We have a scenario where a SharePoint farm is deployed for a subset of users within an Active Directory forest. Users are granted access by membership of an Azure AD group, and we'd like to restrict the people picker to show only members of that group.

[2018-11-22 16:02] joelhaslerfhnw opened #43 "Is the AzureCP also SP2019 ready?"
I was able to install it and it seems to work but not like as expected. It I type joelhasler i got 3 Results:
1. from UserProfile Service: joelhasler@hotmail.com --> should not be shown
2. from AzureCP solved as role --> which does not exists
3. from AzureCP solved as email --> correct

I expect if i search for a identity the AzureCP resolves only option 3 and if i look for a role only option 2. o

[2018-11-26 09:30] Yvand commented on #43
Current version of AzureCP should work just fine in SharePoint 2019, I'm testing current dev version on SharePoint 2019 and didn't notice any issue so far.
To troubleshoot your issue, can you filter SharePoint logs on Product/Area "AzureCP" and inspect the output?

[2018-12-03 07:59] joelhaslerfhnw commented on #43
Hi Yvan
Nice to hear from you over this channel :-)
We have a problem with the role verification. I we type a username (ex. datthien.tran)
![image](https://user-images.githubusercontent.com/19284962/49360461-7d943080-f6d9-11e8-87c1-2dc22fc6de19.png)

We get 3 results. The first is assigned to role. The question is why?

Have a nice day
Regards,
Joël

[2018-12-04 11:15] joelhaslerfhnw commented on #43
Sorry Yvan! When I check the ULS Logs, i see that only one user found.
![image](https://user-images.githubusercontent.com/19284962/49438241-14d2b400-f7be-11e8-9cc5-99ffc4861234.png)

Does the AzureCP only to a people picker validation against the identity claim? I alos mapped role as you can see below:
![image](https://user-images.githubusercontent.com/19284962/49438321-51061480-f7be-11e8-94af-59c

[2018-12-05 21:57] chrisbrownie commented on #42
Hi @Yvand thanks! We've progressed with the full directory scoping, but very keen to see this implemented if and when you have time.

Thanks, Chris

[2018-12-06 01:55] AussieDavo opened #44 "Filter out Member users on this tenant"
Hi Yvand,

I have multiple authentication providers setup in SharePoint 2016. On-prem Active Directory for our internal users and Azure AD for Guest users.

I have Azure AD Connect synchronising all On-prem Active Directory accounts to our Office 365 Tenancy and noticed you have a setting in AzureCP to "Filter out Guest users on this tenant".

Would it be possible to put in a feature request to "F

[2018-12-07 17:01] moojjoo opened #45 "Custom domains allowed?"
@Yvand, are custom domains allowed to use this solution?  I am able to add accounts as guest such as @gmail.com, @yahoo.com, @live.com, however custom domains such as @customname.biz or @customname.com are not working.  They get (Sorry, this site hasn't been shared with you) and I have put them in both as individual users to the SharePoint site and in Groups.

I am actually working with Microsoft

[2018-12-10 13:36] Yvand commented on #45
@moojjoo Can you be more explicit on what you want to know exactly?
For AzureCP it doesn't matter if you have custom domains or not, it works with both scenarios

[2018-12-10 14:01] Yvand commented on #44
Hi @AussieDavo, thank you for your feedback, I will investigate this and report to this thread if I implement it.

[2018-12-10 19:42] moojjoo commented on #45
Yvand not a problem, herer are the more details; the ULS logs are showing users with gmail accounts as 'username_gmail.com#ext#@tenantname.onmicrosoft.com' and being passed to the Sharepoint site as 'username_gmail.com#ext#@tenantname.onmicrosoft.com' and getting into the external SharePoint site with no problems.

The 'username@mmwebs.biz' is being sent through AzureCP, but in the site when we ar

[2018-12-12 14:51] Yvand commented on #44
Hi @AussieDavo I implemented this feature and it will be in the next version

[2018-12-12 15:10] Yvand commented on #42
Hi @chrisbrownie this feature is actually more complex to develop than I thought:
As you can see [here](https://stackoverflow.com/questions/53707703/allow-to-find-only-users-members-of-a-specific-group-in-1-query), Microsoft Graph does not allow to create a filter on user and group in 1 query, so I cannot make a query like this:
`/users?$filter=(startswith(UserPrincipalName, 'aad') and memberOf eq

[2018-12-13 02:06] chrisbrownie commented on #42
Hi @Yvand no worries! Thank you for taking the time to investigate it.

[2018-12-31 00:18] AussieDavo commented on #45
Hi @Yvand ,
I believe I have the same problem. It seems that there is no consistency in the UPN set within the SAML token presented to SharePoint by the Azure AD Enterprise Application.

I am using AzureCP primarily for Guest account access to my on-prem SharePoint 2016 environment. I am getting a mix of UPN's being presented for Guest users, some in the "username_domain.com#ext#@tenantname.onmicr

[2018-12-31 15:00] moojjoo commented on #45
@cblomart in the following statement are you saying you have creating a work around?

The guest accounts we are having problems with are not in other tenants myname@mycompany.com  they do not get the #ext# ---  Does not matter if has #ext# because than they could access the SharePoint account.

[2019-01-01 09:12] cblomart commented on #45
This was implemented a while ago to demonstrate sharepoint (on permises) integration with azure ad.

For your second remark... maybe I was not clear... or i don’t understand the issue.

The understanding i have is the if there is no « #ext# » in the upn present in the openid token_id then the account was directly validated via azure ad. Most commonly present with a tenant.

[2019-01-02 06:25] kmdabubakar opened #46 "Can we migrate the questions and solutions raised in codeplex?"
Hello All,
I am an issue related to people picker search which is using Azure AD. I found related questions in discussions section of CodePlex version but I cannot see the answers there.
Click of any link will keep you on the same page and it is saying that the 'This project migrated to https://github.com/Yvand/AzureCP'.
I checked the issues in Git hub, but did not get the questions which was rais

[2019-01-02 13:41] Yvand commented on #45
Guys, can you please check and confirm if your issue is correctly described in [this user voice](https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/36274663-sign-in-to-sharepoint-2016-with-guest-accounts-is)?
If that is so, in the short term:
- Consider to vote/comment on the entry
- Starting with AzureCP 13, you can choose what attribute to use for Guest account:
  - By d

[2019-01-02 13:43] Yvand commented on #46
@kmdabubakar I cannot migrate the questions from Codeplex.
But to troubleshoot your issue, can you filter SharePoint logs on Product/Area "AzureCP" and check the output?

[2019-01-03 02:08] moojjoo commented on #45
Either way, we are having issues that are guests from custom domains.  They are missing the #ext#.  They get through to SharePoint, but because the UPN with the #ext# is not in SharePoint users are getting "This site has not been shared with you"

[2019-01-03 06:51] cblomart commented on #45
I am not saying that what was implemented is a complete solution.
By adding the tenant of the custom domain you know of you can add access to users directly from their azure ad without the "#ext#" and they get access properly.
The limitation is that you need to have access to the tenant azure ad to enumerate users.

@Yvand is right in saying that the solution lies within the azure ad team.

They s

[2019-01-28 20:35] vargasfe opened #47 "Question: Authenticatin against multiple Azure AD directories"
I have installed and tested AzureCP to authenticate a single SP WebApp against a single Azuer AD.
The questions are:
1. how to install and configure AzureCP to authenticate a SP WebApp against multiple Azure AD directories.  For example I may have users from two or more partner companies logging in to my SP Web App.

2. How to install and confiure AzureCP to authenticate multiple SP WebApps, each

[2019-01-30 15:45] Yvand commented on #47
About 1: in central admin > Security > AzureCP config you can add as many Azure AD tenants as you need
About 2: this is not possible with the standard version. To implement this, you must download ["AzureCP.Developers.zip"](https://github.com/Yvand/AzureCP/releases) and create your own unique claims provider, that inherits AzureCP. This requires SharePoint development skills.

[2019-01-31 14:57] Yvand commented on #47
Setting up multiple Azure AD is the same as 1 Azure AD tenant, you just need to set them in AzureCP configuration
To troubleshoot why it doesn't work, check ULS logs and filter on Product/Area "AzureCP"

[2019-02-15 16:24] test10keystep opened #48 "Unable to get access token for tenant"
The installation is related to a test environment prior to implementing the AzureCP in the production environment.

While configuring AzureCP in accordance with the instructions, the following error pops up while testing the connection to the tenant ( the name, AppID and App secret are correct)

The error message:
"Unable to get access token for tenant '**********.onmicrosoft.com': One or more err

[2019-02-18 22:27] AussieDavo opened #49 "Change User identifier property using PowerShell"
Hi Yvand,

Is it possible to change the "User identifier for 'Guest' users" setting in the global configuration of AzureCP using PowerShell?

![image](https://user-images.githubusercontent.com/5260349/52978506-5ec25200-341d-11e9-9a1f-f6fa1e363826.png)

I am working on a PowerShell script to switch the User Identifier to Mail then add the user using the mail attribute to the site collection, once c

[2019-02-21 07:38] Yvand commented on #49
Hi @AussieDavo you can use method ClaimTypeConfigCollection.UpdateIdentifierForGuestUsers():

[code]

[2019-02-21 07:40] Yvand commented on #48
@test10keystep can you open a Windows session on the central admin server, as the SharePoint farm account (which runs the central admin process), and double check that there is no proxy configured?

[2019-02-21 07:41] Yvand commented on #47
Closing as unresponsive

[2019-02-21 07:41] #47 closed

[2019-02-21 07:41] Yvand commented on #46
Closing as unresponsive

[2019-02-21 07:41] #46 closed

[2019-02-21 07:41] Yvand commented on #40
Closing as unresponsive

[2019-02-21 07:41] #40 closed

[2019-02-22 11:44] test10keystep commented on #48
I have checked in "internet options" and even the winHTTP proxy using netsh. No proxy is configured. I talked to the network guys and explicitly asked them to turn off proxy settings for this server completely (not just proxy authentication).
In addition I checked that all servers have access to the internet on port 443 out.
All network scans show the SharePoint server attempting a connection to 1

[2019-02-22 13:32] test10keystep commented on #48
It looks like adding this **defaultProxy useDefaultCredentials="true"**  to all config files in question on all farm servers allows for a successful test of the tenant connection and the test is accesses the tenant token.

[2019-02-22 15:15] test10keystep commented on #48
The remaining question as a result of the AzureCP, is it possible to delegate permissions to users in bulk after AzureCP is in place using PowerShell?
The GUI seems to process delation requests, while in PS the error "The specified user could not be found" shows up.
Any comment is welcomed as I feel we are almost reaching our set goals and would hate to see a reversal on the AzureCP by management.

[2019-02-25 15:58] Yvand commented on #48
@test10keystep Thanks for posting how you fixed the proxy issue.
I'm not sure I get your question. What do you mean by delegating permissions to users in bulk? You can grant permissions with PowerShell using [New-SPUser](https://docs.microsoft.com/en-us/powershell/module/sharepoint-server/new-spuser?view=sharepoint-ps), which will work just fine with AzureCP

[2019-02-26 16:04] test10keystep commented on #48
Using the New-SPuser did not work for me, I receive the following error message "The specified user externaluser@external_domain.com could not be found"

After attempting a multitude of scenarios, we were capable of importing external users in bulk into groups using Add-PnPUserToGroup which seems to validate across AzureCP in PowerShell.

[2019-02-26 16:54] Yvand commented on #48
Your scenario is not clear to me. Those users you can't add with New-SPUser, are they Azure AD users?
If so, can you check the SharePoint logs and filter on Product/Area AzureCP to see why AzureCP couldn't find them?

[2019-02-26 17:11] test10keystep commented on #48
The users in question here are Azure invited guest users.

[2019-02-26 17:24] test10keystep commented on #48
When using the Add-PnPUserToGroup it works.
When I utilize the New-SPuser I receive the following 3 errors:
► [AzureCP] Unexpected error(s) occurred while querying Azure AD tenant 'Tenant.onMicrosoft.com':
[EXCEPTION 1]: System.Net.Http.HttpRequestException: An error occurred while sending the request.. Callstack:
 at System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw()
 at System.Runtim

[2019-02-27 17:43] Yvand commented on #48
AzureCP works with Azure AD Guest users works, but there is a design issue in Azure AD which makes it difficult to handle, you can find more information here: https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/36274663-sign-in-to-sharepoint-2016-with-guest-accounts-is

About the error in the logs, it's not normal, do you reproduce it each time or is it random?

[2019-02-28 09:12] test10keystep commented on #48
Hello. thank you for the information, I am already familiar with Azure's #EXT# issue.
The majority of our invited external guest users are capable of authenticating with the constructed claim string without the #EXT#.

As for your question regarding the errors, yes, this is something that can be regenerated and happens each time we use the new-spuser cmdlet and for all guest accounts regardless of

[2019-02-28 10:27] Yvand commented on #48
@test10keystep since it's not random I should be able to reproduce this issue.
Can you please describe the exact steps I need to follow to repro it?

[2019-02-28 12:37] test10keystep commented on #48
It was a very basic standard installation of AzureCP as described in the instructional information on the web.
The actually configuration was troublesome from a proxy persepective as previously documented earlier in my initial regestration of the issue. That was resolved as you know by securing that proxy was turned off and that the .config file edited to contain **defaultProxy useDefaultCredentia

[2019-02-28 16:24] Yvand commented on #48
I tested both cmdlets in a new site collection and both can successfully add guest accounts:

[code]

For both I see that AzureCP validated them successfully:

[code]

Can you get verbose logs on Product/Area AzureCP when you run New-SPUser?
Are you using the default configuration of AzureCP?

[2019-03-01 14:07] test10keystep commented on #48
Yes, the we are using the default configuration of AzureCP.
This is the entry referencing the transaction from a verbose log:

Could not find idenitty for input. Input: 'i:05.t|blablabla|user@domain.com',
Exception: 'System.Security.Principal.IdentityNotMappedException:
Some or all identity references could not be translated.
at System.Security.Principal.NTAccount.Translate(IdentityReferenceCollec

[2019-03-05 08:17] #49 closed

[2019-03-05 08:20] Yvand commented on #48
@test10keystep You only copied a very little fragment of the error so I'm missing much of the context, but it doesn't seem to be related to AzureCP: SharePoint tries to resolve user as a Windows user.

[2019-03-05 08:21] #1 closed

[2019-03-14 10:24] Yvand commented on #44
@AussieDavo The release is now published: https://github.com/Yvand/AzureCP/releases/tag/14.0.20190307.660

[2019-03-14 10:24] Yvand commented on #37
@lunarridge The release is now published: https://github.com/Yvand/AzureCP/releases/tag/14.0.20190307.660

[2019-03-14 14:54] lunarridge commented on #37
Awesome.  Thanks so much, I will grab the latest and test it out in the next week or so.

[2019-04-02 16:38] sav169 opened #51 "How to find the Application secret"
I am going through - https://yvand.github.io/AzureCP/Register-App-In-AAD.html
below section
----------------
•Click on Keys: In “Password” section type a key description (e.g. “AzureCP for SP”), choose a Duration and Save.
Note: “Password” corresponds to the “Application Secret” in new tenant form in AzureCP.
-----------------

I don't see "Keys" in the enterprise application in Azure.
can you hel

[2019-04-03 07:12] Yvand commented on #51
@sav169
In the current "App registrations" tab: link is "Keys"
In the "App registrations (Preview)" tab: link is "Certificates & secrets". Here you can generate a new secret

[2019-04-03 07:13] Yvand commented on #48
@test10keystep do you have updates on this issue?

[2019-04-03 12:08] sav169 commented on #51
Thanks , I was able to generate the secret. The connection to the tenant was successful.
Now when I browse to the site and try to give permission to any user, it says "no result found". It cant find any user.

[2019-04-03 12:21] Yvand commented on #51
You can get more information about this issue by checking the SharePoint logs and filtering Product/Area on "AzureCP"

[2019-04-03 13:09] sav169 commented on #51
Thanks for the response. In uls it says the below
----------------------
[AzureCP] There is no Azure tenant registered in the configuration 'AzureCPConfig'. Visit AzureCP in central administration to add it, or override method GetConfiguration.
-----------------------
I have followed your article and the test connection to tenant from central admin says successfully connected. is there any thing I

[2019-04-03 13:14] Yvand commented on #51
Did you click "Add tenant" to actually add the tenant to the list?

[2019-04-03 13:51] sav169 commented on #51
Thanks! It was not added. I have now added it. The ULS log now shows permissions error when I try to add user permissions.
-------------------
[AzureCP] Unexpected error(s) occurred while querying Azure AD tenant 'mycompany.onMicrosoft.com':  [EXCEPTION 1]: Microsoft.Graph.ServiceException: Code: Authorization_RequestDenied  Message: Insufficient privileges to complete the operation.    Inner erro

[2019-04-03 14:46] Yvand commented on #51
Did you grant the permission **exactly** as documented in https://yvand.github.io/AzureCP/Register-App-In-AAD.html ?

[2019-04-04 11:41] sav169 commented on #51
Thanks. This has been resolved.

[2019-04-04 11:44] sav169 commented on #51
Thanks! this is now working and is a great way to add new Azure AD user permissions. Howevere, we have existing site collection with hundreds of existing AD users. Is there a way to convert the existing AD users to Azure AD users ? This way we can avoid adding same users again. Any pointers would be usefull.
Thanks!!

[2019-04-05 06:55] Yvand commented on #51
@sav169 migrating users from Windows to Trusted is possible but it has many impacts, so it must be very carefully tested before it is run in production.
In a nutshell, you migrate each user individually like this;

[code]

This will migrate Windows user "user1" to the trusted authentication mode in the whole farm

[2019-04-05 06:56] #51 closed

[2019-04-05 06:57] #48 closed

[2019-04-05 07:01] Yvand commented on #45
Hi guys, I come back to this old topic as I tested a workaround that works well:

In the enterprise application in Azure AD: set claim types name / NameIdentifier to user.mail (instead of user.userprincipalname), this will fix the inconsistent usage of “#EXT#” for Guest accounts.
For this to work:

- AAD Connect must be configured to sync mail property of AD OnPrem users
- Azure AD cloud users don

[2019-04-05 07:01] #44 closed

[2019-04-05 07:02] Yvand commented on #37
@lunarridge were you able to test if the new release fits your needs?

[2019-04-06 16:02] moojjoo commented on #45
I know it fixed me Yvand.  Now true Azure AD Guests and Azure AD Tenant to Tenant Guest can access SharePoint without any issue.

[2019-04-24 08:40] test10keystep commented on #48
Sorry for a delayed response.
The implementation of AzureCP has been arrested for the time being.
The results have been unstable for us to proceed into production.
I thank you for your assistance. I will give feedback if we ever decide to try AzureCP again.

[2019-05-02 17:20] joshtransient opened #52 "Group membership doesn't calculate for Office groups (Unified groups/O365 Groups)"
Running v13 on SharePoint 2016.

Added an Office 365 Group (Unified Group) to any ACL (item, list, site, web app policy), and no one who is a member of that group can access the resource. Security groups work fine, but figured that since SPO can handle O365 Groups, then maybe on-prem can, as well.

After enabling verbose logging, I discovered that AzureCP only augments a claim with groups that are

[2019-05-03 10:58] abdulhafizmmuallah opened #53 "https://yvand.github.io/AzureCP/Register-App-In-AAD.html need an update"
Hi, from my checking Azure AD already updating their interface therefore steps for above article is not working anymore. Could you please provide us with the latest steps based on the new interface of Azure AD?

Thank you!

[2019-05-03 13:21] Yvand commented on #53
Hi @abdulhafizmmuallah, thank you for reporting this, indeed the interface changed quite significantly.
I'll upate the documentation and report here when it's done.

[2019-05-03 13:21] #37 closed

[2019-05-03 14:02] Yvand commented on #52
It's a great question.
The reason why AzureCP does not return O365 groups is that when it gets group membership of the user, it sets "securityEnabledOnly: true", which excludes them.
I tested with the [Graph explorer](https://developer.microsoft.com/en-us/graph/graph-explorer) to set "securityEnabledOnly: false" and it includes O365 groups as you would expect.

So I can change the code to retrieve

[2019-05-04 02:28] joshtransient commented on #52
On v13, my People Pickers return all groups (including the O365 Groups) when I add the _role_ claim type to my TrustedIdentityTokenIssuer. Hence the reason the issue was opened...didn't know if it was SharePoint not calculating group membership, or if the group not being security-enabled caused the disconnect :)

IMHO, a switch on the global configuration page allowing non-security-enabled groups

[2019-05-08 00:03] AussieDavo commented on #44
Thanks @Yvand I updated to 14.0.20190307.660 last weekend and can confirm that this works well. I am now able to only see Guest user accounts from AzureAD in People Picker which is exactly what I was looking for.

I did take me a few minutes to realise that the config was only available using PowerShell though. I removed my Tenant config and set it up again including the ExcludeMemberUsers option

[2019-05-08 00:35] AussieDavo commented on #45
Hi @Yvand I made this change in my environment last weekend and eventually got it working. I found that the issue was also lying withing my SPTrustedIdentityTokenIssuer SPClaimTypeMapping configuration.

Previously I had configured my SPTrustedIdentityTokenIssuer like this:

`$realm = "urn:sharepoint:URL"`
`$wsfedurl="https://login.microsoftonline.com/GUID/wsfed"`
`$filepath="D:\Temp\latest.cer"`

[2019-05-22 23:56] mjones0204 opened #54 "Issue in powershell with $config when configuring AzureCP"
I am having an issue in powershell when trying to configure AzureCP.  I have it installed and deployed in this single server farm and have verified the dll is in the gac.  Server has been rebooted after install.

When I issue the powershell command:
$config = [azurecp.AzureCPConfig]::GetConfiguration("AzureCPConfig")

Nothing is being returned as when I type in $config or $config.ClaimTypes, nothi

[2019-06-06 16:28] Yvand commented on #53
Finally I just updated the page https://yvand.github.io/AzureCP/Register-App-In-AAD.html to match the new UI in the Azure portal

[2019-06-06 16:28] #53 closed

[2019-06-06 16:29] Yvand commented on #54
That is because you need to explicitly load AzureCP assembly first:

[code]

[2019-06-07 13:31] Yvand commented on #52
@joshtransient sorry I didn't come back to you earlier on this topic.
I've been looking at this, and, as you suggested, I'll add an option in global config page to choose if only securityEnabled groups should be returned. I think it it should be set to true by default.
Please let me know if you have comments/suggestions on this.

[2019-06-10 09:45] #54 closed

[2019-06-12 10:26] sabeehsharif opened #55 "SharePoint 2010 AzureCP"
Hi,

How i can use AzureCP with SharePoint 2010?

[2019-06-14 07:49] Yvand commented on #55
Not as-is, as AzureCP is compiled for .NET 4.5, which is not supported by SharePoint 2010.
If you wish to use it on SharePoint 2010, you will have to compile the source code yourself for this version.

[2019-06-14 07:49] #55 closed

[2019-06-14 13:37] sabeehsharif commented on #55
Thanks.
Can you please give me a way to implement this for SharePoint 2010?
i am thinking to implement using Direct Graph API call is it possible?

[2019-06-14 14:12] joshtransient commented on #52
@Yvand sincerely appreciate it, my dude.

[2019-06-17 06:14] sabeehsharif opened #56 "Azure AD Graph API Query"
Can you please give me a way to implement this for SharePoint 2010?
i am thinking to implement using Direct Graph Rest API call is it possible?

[2019-06-17 07:43] Yvand commented on #56
AzureCP is free and open source.
You can fork the project, get the source code and make all necessary changes to the project so that it works with SharePoint 2010. I don't know if it will be simple or not, as I don't know what APIs are missing in .NET 3.5

[2019-06-25 11:08] sabeehsharif opened #57 "Check Permissions SharePoint for Auzre AD groups"
Thanks for the great way out i have implemented this for SharePoint 2010 but facing issue regarding Check Permission SharePoint.

1: Check Permissions functionality is implemented in this Azure CP code for Azure AD groups?
Like in which security group user belong. but keeping in mind Security group have Azure AD group to traverse users.

[2019-06-25 13:46] Yvand commented on #57
Check Permissions functionality uses a token that is valid for 24h, and bound to the current site collection.
If you wish to test it in a reliable way, you should either:

- Test it in a new site collection
- Or lower its lifetime to 1 min using the cmdlet below:

[code]

[2019-06-25 13:48] Yvand commented on #52
@joshtransient last week I published a pre-release that includes this improvement: https://github.com/Yvand/AzureCP/releases/tag/15.0.20190621.906
Are you able to test it and let me know if it fits your needs?

[2019-06-25 16:40] sabeehsharif commented on #57
For Check Permissions which functions called from SPClaimProvider class?

[2019-07-02 11:00] Yvand commented on #57
It will call either one of the AzureCP.FillClaimsForEntity() methods

[2019-07-05 05:28] DilaFernan opened #59 "Duplicate users with same email with different display name"
I have configured azureCP with sharePoint 2013 following below [reference](https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/sharepoint-on-premises-tutorial). But when users are adding to sharepoint user group, its giving me error saying "user does not exist or not unique".
![image](https://user-images.githubusercontent.com/52557819/60699656-86204400-9f12-11e9-9f77-a28b55b4ba50.png

[2019-07-05 13:53] Yvand commented on #59
Can you check SharePoint logs and filter on Product/Area "AzureCP" while you reproduce the issue, to see AzureCP does?

[2019-07-08 04:44] DilaFernan commented on #59
Thanks Yvand for the response.

These are the log entries found.
![image](https://user-images.githubusercontent.com/52557819/60783432-3f2b8c00-a168-11e9-9789-b22786263ec1.png)

as per logs for the user hdi, 0 users returns , but i can see results on people picker. Really appreciate if you can give me a clue. why is this happening. And also there is a valid user on Azure Ad with the email address h

[2019-07-10 14:01] Yvand commented on #59
Clearly AAD does not return any user from the query sent by AzureCP.
If you want to understand why, you may configure Fiddler as a proxy in the web.config of the site, to capture the traffic between AzureCP and AAD and see the exact query sent by AzureCP.

The change to make in the web.config is very similar to the proxy configuration described [here](https://yvand.github.io/AzureCP/Configure-Azur

[2019-07-11 03:00] DilaFernan commented on #59
Thanks for the guidance.
After seen the query passes to AAD ((UserPrincipalName eq 'hdi@xxxxx.com' and UserType eq 'Member') ), figure out that, some users which are giving error "user does not exist or not unique " do not have the user type property populated.   Now i want to find a solution to validate selected user from suggestions list  while resolve before hitting share button to avoid that e

[2019-07-18 14:42] Yvand commented on #59
About validating before sharing, sorry it's not clear what exactlu you want to do, and on for which reason.

About the duplicates, I guess it's because all those users have the same surname. The only solution is to select a property that does not have such duplicates.

[2019-07-18 14:42] #57 closed

[2019-07-18 14:43] #56 closed

[2019-07-18 14:43] #52 closed

[2019-07-26 12:41] sergey-tihon opened #62 "Question: FeadAuth cookie update / Access token renewal"
By default Azure AD generate Access token with 1 hour Lifetime.
https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-configurable-token-lifetimes#configurable-token-lifetime-properties

This means that `FedAuth` cookie will be valid only for 1h.
(If you do not have `Azure AD Premium` for [Conditional Access](https://docs.microsoft.com/en-us/azure/active-directory/condit

[2019-07-29 07:17] sergey-tihon commented on #62
I am asking this because by default `AccessTokenLifetime`  is 1 hour. So, token expires every hour and SharePoint redirect us to AAD for login (not very pleasant user experience)

[Configurable token lifetimes in Azure Active Directory (Preview)](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-configurable-token-lifetimes)  works till Nov 1, and will be replaced by

[2019-08-15 03:41] AussieDavo commented on #45
I solved the issue in my previous comment about:

All I needed to do was add the "Email" attribute to the PickerEntity Metadata for my main claim type: "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/upn"

Like this:
![image](https://user-images.githubusercontent.com/5260349/63071242-da7f0080-bf61-11e9-9cb2-ae946893251c.png)

Found in the in the AzureCP Claim types configuration in central

[2019-08-16 23:52] sesellis opened #63 "Error when configuring AzureCP with powershell"
Hello, I'm trying to run the powershell script to configure AzureCP provided here: https://yvand.github.io/AzureCP/Configure-AzureCP.html

I get the following error when running the powershell: "The property 'EnableAugmentation' cannot be found on this object. Verify that the property exists and can be set."

I believe I have followed the installation steps correctly, however when I run the SQL in

[2019-08-19 13:53] sergey-tihon opened #64 "Certificate based authentication in Azure AD"
Current version of `AzureCP` uses `ApplicationSecret` to authenticate in Azure AD and acquire `AuthenticationHeader` for MS Graph.

[code]

Azure AD application page states

Is there a way to use `certificate`-based authentication with `AzureCP`?

[2019-08-20 08:10] Yvand commented on #64
AzureCP does not not support certificate-based authentication, but it can be considered for a future version, thanks for the suggestion

[2019-08-20 08:11] Yvand commented on #63
@sesellis It looks like the AzureCP.dll assembly is somehow not in the GAC, can you double check this?

[2019-08-20 08:29] Yvand commented on #62
This is interesting, I was not aware about this.
I agree that the default lifetime of 1h will be a painful limitation on non-premium Azure AD tenants after configurable token lifetime feature will be retired on November 1.
But I don't see what can be done on AzureCP/SharePoint side to deal with this. Silently refreshing the access token on behalf of the user is not possible, only the user can refr

[2019-08-20 08:30] Yvand commented on #59
Closing this since it's inactive, feel free to reopen if needed

[2019-08-20 08:30] #59 closed

[2019-09-12 09:11] totayo1000 opened #65 "Can not update picker data in the AZURECP - ClaimTypesConfig.aspx page"
Hi

I am trying to update the field PickerEntity metadata field but each time i hit save it gets back to empty

Thanks for your help

Regards
![Capture](https://user-images.githubusercontent.com/55228538/64770705-9c1b3800-d545-11e9-9f06-7bd81e8be96a.PNG)

[2019-09-13 11:36] Yvand commented on #65
This is not an error, just a call stack of AzureCP updating its persisted object, which is expected since it holds the configuration

[2019-09-13 11:43] totayo1000 commented on #65
Thanks for the clarification.. i guess there is an issue with the GUI i will try doing it through the powershell

[2019-09-14 06:10] vargasfe opened #66 "Guest Users in AzureAD are denied access in SharePoint despite being in SP group with permissions"
normal Users in AzureAD DomainA can login to SP without a problem
Guest users in AzureAD DomainA who are AzureAD DomainB users can login without problems
Guest users in AzureAD DomainA who have gmail.com account show up twice in people picker:
once with UserPrincipalName=user@gmail.com and once with Mail=user@gmail.com

If I try to add the Mail=user@gmail.com instance to the SP group I get the mes

[2019-09-15 19:56] vargasfe commented on #66
further testing has revealed the following:

When "User identifier for 'Member' users:" is set to Mail,
1. guest users with accounts in their own AzureAD are able to login successfully by virtue of SP group membership.
2. Guest users with user@gmail.com accounts are NOT able to login successfully despite SP group membership -(Why do you need access).

When "User identifier for 'Member' users:" is

[2019-09-17 14:10] cblomart commented on #42
This is actually a use case that would be relevant for us too.

I did some work on group membership check earlier but it effectively requires an extra call to graph api (https://github.com/cblomart/AADIsMemberOf).

[2019-09-17 15:18] Yvand commented on #66
Hi guys, the issues that you describe are related to [this uservoice](https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/36274663-sign-in-to-sharepoint-2016-with-guest-accounts-is)

I verified that the solution implemented by the Azure AD team and described in the uservoice above works: when you set the source attribute of nameidentifier to "user.localuserprincipalname", b

[2019-09-17 15:22] Yvand commented on #42
@cblomart did you check by any chance if this was improved in beta endpoint v2?

[2019-09-17 15:33] cblomart commented on #42
what do you mean by v2... for graph i know of "v1.0" or "beta"... the tests i made were on v1.0 if not mistaken... will check on v2 but i think this is still calling ismemberof separately.

[2019-09-17 15:34] cblomart commented on #42
limited to 20 groups if my memory serves me well...

[2019-09-17 15:38] Yvand commented on #42
Yes I was talking about the beta endpoint, I wonder if it makes this operations easier (possible with a single query)

[2019-09-17 16:20] cblomart commented on #42
Allways an extra call...

If there is a list of groups to check, it looks like [checkMamberGroups](https://docs.microsoft.com/en-us/graph/api/user-checkmembergroups?view=graph-rest-beta&tabs=http) may be a good idea.

If all the groups the user is member of are of intrest [transitiveMemberOf](https://docs.microsoft.com/en-us/graph/api/user-list-transitivememberof?view=graph-rest-beta&tabs=http) ma

[2019-09-17 19:18] cblomart commented on #42
If i read well the request made to graph api is a request on the user endpoint with some odata filtering to get only the intresting object (1).

Assuming group membership whitelisting in this case:
Maybe a way to do this would be to list members of whitelisted groups via [transitiveMembers](https://docs.microsoft.com/en-us/graph/api/group-list-transitivemembers?view=graph-rest-beta&tabs=http).

Th

[2019-09-25 15:16] totayo1000 commented on #65
Hi again updating using powershell is not providing the desired effects .. i guess there is an issue with the from ,because doing the same update on the level of the group is working normally .. appreciating in advance  your help in advance as i am really stuck with  user emails not populating

[2019-10-24 14:09] jeefberkey opened #67 "Installation issues"
Sharepoint: Sharepoint Server 2019, all-in-one (version 16.0.10337.12109)
OS: Windows Server 2019 Datacenter (Version 1809, build 17763.805)

I'm having trouble following the installation guide for AzureCP. I have the following script in an admin session of Powershell ISE:

[code]
It errors when I run the `$trust.ClaimProviderName = "AzureCP"` line:

[code]
and if I run that command by itself to l

[2019-10-25 13:06] Yvand commented on #67
@jeefberkey this is strange, can you try to deactivate and reactivate farm feature AzureCP?
You can do that from central administration or with PowerShell

[2019-10-25 19:52] jeefberkey commented on #67
I used central administration to deactivate and reactivate the feature. I didn't know you could do that, so that's cool.

And it looks like that worked! I was able to update the `$trust` var and finish installation.

[2019-10-25 19:52] #67 closed

[2019-10-28 13:29] Yvand commented on #65
@totayo1000 sorry I completely forgot to follow up this issue. Did you make progress on it?

[2019-10-30 08:00] totayo1000 commented on #65
hi yvand, glad to hear from you,  i am still stuck  as i tried all fields not only email and got the same result ... currently as a workaround i am adding manually the email to key users profiles .. i know it is not a solution but hoping the form issue will be resolved soon

[2019-10-30 16:30] Yvand commented on #65
@totayo1000 can you switch AzureCP logs to VerboseEx and add an AAD user?
In the logs, AzureCP records in VerboseEx the metadata properties it sets on users that it returns to the people picker.

[2019-11-07 15:36] Yvand commented on #66
@vargasfe did you make tests on this?
FYI AzureCP 15.2, released last week, fixes an issue with the resolution of guest users

[2019-11-07 15:36] Yvand commented on #65
@totayo1000 any update on this?

[2019-11-07 15:39] Yvand commented on #45
@totayo1000 sorry I forgot this issue. Did you manage to edit the entry successfully?

[2019-11-08 13:02] totayo1000 commented on #65
Hi Yvand, i wasn't able to get any clue from the returned logs , I am creating a cloned environment and wanna try this as i am suspecting the way the mapping were done on azure .. as now i am facing a new issue with users logged on with their azure account to SharePoint and want to sync their document library to their PC OneDrive application they are getting access denied . in other words the oned

[2019-11-08 13:49] Yvand commented on #65
@totayo1000 the SharePoint logs should show something like this:

[code]

As you can see, metadata Email was set in the entity, which is what you need

[2019-11-18 16:44] sumanthraichuracn opened #69 "Unable to assign permissions on SharePoint onPremise with AzureCP to Security groups having '{' in the name"
Hello Yvand,

We have a SharePoint OnPremise site which is integrated with Azure AD authentication along with ADFS 4.0, We have installed AzureCP to manage the claims.

We are successfully able to search for the users and assign permissions to them, but we are facing an issue with the security groups.

Our Active Directory has certain security groups which have a { in the group name, these groups

[2019-11-18 16:48] sumanthraichuracn commented on #69
Also I would like to confirm a few things:
1. The same  works on SharePoint Online
2. The same works with LDAPCP with SharePoint OnPremise and we are able to add site permissions to groups which have { in their names with LDAPCP.

[2019-11-19 09:06] Yvand commented on #69
@sumanthraichuracn thank you for reporting this, this is caused by String.Format that throws an exception if input contains a '{', as [explained here](https://stackoverflow.com/questions/1118529/string-format-exception-when-format-string-contains)

I just replaced it with String.Replace in https://github.com/Yvand/AzureCP/commit/1ffe4874eae483d95e2e53d0139cddad94234e8d

[2019-11-19 09:24] sumanthraichuracn commented on #69
Hello Yvand,

Thanks for responding to us. Do you mean to say you already fixed it in this commit (1ffe487).

Should we download a latest version of AzureCP now and give it a try or you want us to modify the files manually?

Thanks,
Sumanth

[2019-11-19 13:57] Yvand commented on #69
The fix is committed but there is no new version of AzureCP published yet.
I don't know when I'll release it, I'll update this thread when it is available.

[2019-11-19 16:16] sumanthraichuracn commented on #69
Could you please guide me how I can add this changed code in my AzureCP.wsp file?

[2019-11-20 12:00] Yvand commented on #69
@sumanthraichuracn I just published a pre-release of AzureCP 15.3, which includes the fix for this issue, it is available [here](https://github.com/Yvand/AzureCP/releases/tag/15.3.20191120.1028).
Can you please test it and let me know if it works fine?
To update AzureCP, follow **all the steps** described at https://yvand.github.io/AzureCP/Update-AzureCP.html

[2019-11-20 18:17] totayo1000 commented on #65
Hello Yvand
i have rebuilt a staging farm on sp2019  with the below configs
Azure claim attributes:
<img width="826" alt="657A8CFD" src="https://user-images.githubusercontent.com/55228538/69265352-fcbb9680-0bc0-11ea-813c-3071485c9a44.PNG">
and i run the below script to create the :

$realm = "urn:sharepoint:2016"
$wsfedurl="https://login.microsoftonline.com/586337a3-91dd-4b49-ac08-d11b29d94448/wsf

[2019-11-21 09:26] Yvand commented on #65
@totayo1000 In your screenshot, PickerEntity Email is already set in the last line, it's why you cannot set it in emailaddress claim type.
You must delete the last line first, then you can set it in emailaddress claim type.

[2019-11-21 10:15] totayo1000 commented on #65
Hi Yvand
I did that but it did not work ,
are my azure claim settings correct
Thanks

[2019-11-25 15:36] Yvand commented on #69
@sumanthraichuracn were you able to test the pre-release?

[2019-11-28 13:00] Yvand commented on #69
@sumanthraichuracn last chance to give feedback before I publish the release

[2019-11-28 13:00] #66 closed

[2019-11-28 13:01] Yvand commented on #65
@totayo1000 sorry for the late reply, what happens when you try to add it, does any error is displayed in the page?

[2019-12-05 06:54] totayo1000 commented on #65
@Yvand no error is shown on the page , is there a way i can trace what is happening

[2019-12-05 13:34] Yvand commented on #65
Does it work with any other PickerEntity? Are you able to assign the PickerEntity to a new dummy claim type?

[2019-12-06 07:38] totayo1000 commented on #65
No it does not work for any picker entity .. but it do work for a dummy claim type as below highlighted
![dummyclaim](https://user-images.githubusercontent.com/55228538/70305067-534ce580-17fb-11ea-987e-51740ad44512.PNG)

[2019-12-06 13:23] Yvand commented on #65
I have no idea why this is not working, but in last resort, you can try to reset the configuration:
First you can try to click Reset from the AzureCP "Claim types configuration" page, it will only reset the list.
If it still does not work, you can do the reset from AzureCP "Global configuration" page, but this will revert all AzureCP configuration it is default state, you will lose all customizati

[2019-12-06 15:27] totayo1000 commented on #65
@Yvand I tried both methods without success , would it be possible to have a Azure "Claim types configuration" page edited with breakpoints variable values to catch where this issue is occurring

[2019-12-18 21:26] PChanana opened #71 "Compatibility with SP2010?"
Hi ,
Is this solution compatible with SharePoint 2010? If not , is there anything else that we can use with 2010?
KR
PC

[2019-12-20 13:26] vasiliiburca opened #72 "After Installation the is no Claim provider created"
Can you please help me with this issue ?

 PS C:\Windows\system32> Get-SPSolution

Name                           SolutionId                           Deployed
----                           ----------                           --------
azurecp.wsp                    1db45b9b-2fff-4f07-992b-344dde907316 True

PS C:\Windows\system32> $trust = Get-SPTrustedIdentityTokenIssuer "AzureAD"

PS C:\Window

[2019-12-20 13:28] vasiliiburca commented on #67
Thank you

[2019-12-20 13:29] vasiliiburca commented on #72
Found the solution in recently closed issues

[2019-12-20 13:29] #72 closed

[2019-12-20 14:34] vasiliiburca opened #73 "Installation ISSUE"
Hello,
I have an issue installing the solution please see the picture:

![image](https://user-images.githubusercontent.com/32271922/71261495-2c87c680-2346-11ea-8b6c-a62ee64b2d15.png)

I am able to install it by passing -Force argument at the end of the command but I get another error by forcing it: (IT seem like it does not register a Claim Provider)

Exception setting "ClaimProviderName": "Claim

[2019-12-20 15:11] Yvand commented on #73
This happens sometimes with SharePoint, carefully follow article https://yvand.github.io/AzureCP/Fix-setup-issues.html to fix it

[2019-12-20 15:45] Yvand commented on #71
Hi, it is not. To use it with SharePoint 2010, you would need to recompile the project to target .NET 3.5.
I suspect it may not be straightforward but I never tried

[2020-01-15 06:16] martinaffectoericsson opened #74 "Debug AzureCP group claims"
Hi,
I would like to debug AzureCP and would like to view all group/role claims for a logged on user. I have done this for adfs before with Fiddler. If I use that method I can see all group claims derived from Azure security groups. That’s great but I was looking for my claims from 0365 groups that I use inside SP on-Prem as access groups. The AzureCP works great but I need to find a solid method f

[2020-01-22 07:21] Yvand commented on #74
@martinaffectoericsson the easiest way to see all the groups returned by AzureCP is to check SharePoint logs and filter on product/area "AzureCP". If you set it to verbose, you will see all groups returned for users.
You can also download the source code / private symbols published with each release, and live debug with Visual Studio.

[2020-01-22 07:22] Yvand commented on #73
@vasiliiburca did you resolve the issue?

[2020-01-22 07:22] #71 closed

[2020-01-22 07:22] #69 closed

[2020-01-22 07:23] Yvand commented on #69
Bug resolved in 15.3 https://github.com/Yvand/AzureCP/commit/0132206b215efc28bfdd2ed649c6629e6a9064cf

[2020-01-22 07:24] Yvand commented on #65
@totayo1000 sorry for this very late reply.
If are you still willing to investigate this issue, you can download the source code and private symbols corresponding to you released and do live debug with Visual Studio.

[2020-01-22 07:25] sumanthraichuracn commented on #69
Thanks Yvan for the support. Much Appreciated.

Thanks & Regards,
Sumanth A Raichur
Accenture Security
Accenture Solutions India [p] Ltd.
+ Bangalore, Karnataka 560059 India
Mobile: (91) 9740284382

Upcoming Planned Leaves : Jan 31st  , Feb 3rd

From: Yvan Duhamel <notifications@github.com>
Sent: Wednesday, January 22, 2020 12:53 PM
To: Yvand/AzureCP <AzureCP@noreply.github.com>
Cc: Raichur, Suman

[2020-01-22 07:25] #45 closed

[2020-01-22 09:11] martinaffectoericsson commented on #74
Thanks a lot!!

[2020-01-22 13:08] sergey-tihon commented on #62
I see the update on MSDN: https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-configurable-token-lifetimes

Does last sentence mean that access token lifetime will be configurable  after `May 1, 2020` and it is enough for AzureCP?

[2020-01-24 23:48] hat-cat opened #75 ""Modified By" metadata"
The "Modified By" metadata (for documents, site pages, etc.) currently shows our users' UPN, but we would like it to show the Display Name instead:
![image](https://user-images.githubusercontent.com/60277556/73111884-ec75af80-3ec0-11ea-8493-51b7c60083bf.png)

I looked into our user profiles and UPN is being mapped to the Preferred Name filed as well. Is there any way to change these mappings?

Tha

[2020-01-25 00:22] hat-cat opened #76 "Cannot send "People with existing access" share link to external guest user"
When sharing a document by sending a link, if I set the type to "People with existing access" before picking an external guest user, the Send Link dialogue claims that the recipient does not have permissions to access the item:
![image](https://user-images.githubusercontent.com/60277556/73112351-ee407280-3ec2-11ea-8469-b2aacec10753.png)

I have confirmed that the external guest user in question ha

[2020-01-27 19:28] hat-cat commented on #75
I found the answer in this issue - https://github.com/Yvand/AzureCP/issues/7

In AzureCP claim types config, I needed to add a mapping for DisplayName on object User to picker entity DisplayName.

I tried this before, but now I realize that my tests of deleting the user then re-adding were not working.

This is resolved, but I would like to know - is there an easy way for me to fix the user profil

[2020-01-27 19:31] hat-cat commented on #76
I went to AzureCP global config and changed the user identifier for guest users to E-mail, which fixed the sending problem. However, this change blocked guest users from signing in (even though I re-added them to the site after the identifier change), so the problem remains.

[2020-01-28 10:32] Yvand commented on #75
The format shown in people columns is determined by the display name of the user profile, set in the User Profile Application.
AzureCP itself has a very limited (almost none) ability to set the format displayed in this column, you can consider that it is not playing a role.

[2020-01-28 13:50] Yvand commented on #76
You should not change the default configuration of AzureCP, the mapping must be set with the UPN since its the configuration in Azure AD.

I tested this scenario to understand how it works.
To be able to use this dialog, the user you select must have his email synchronized from the User Profile to the current site collection.
As soon as the email was present, I was able to send him an email invita

[2020-01-28 16:13] hat-cat commented on #75
Ah, I understand now that this is a UPS configuration problem.

Does AzureCP work with profiles imported from on-prem AD when using Azure Active Directory Sync? When I set up the User Profile Service application to import from our on-prem AD, I ran into a problem where users authenticated via Azure AD do not start using the imported profile.

Essentially it led to a case where there were two user

[2020-01-28 17:33] hat-cat commented on #76
I added the user's e-mail under "Work E-mail" in their user profile, and made sure that the site collection had the updated information before testing. It still will not send the link, claiming that they don't have access. This problem only applies to the "users with existing access" link option; the other options for sending a link work as expected.

I'm willing to put this issue aside until I ha

[2020-02-03 20:02] Grime121 opened #77 "Additional Unique Identifiers?"
Is there any way to add an additional unique identifier? We do not use our On-Prem UPNs as the unique identifiers in Azure. We use the mail attribute. For SharePoint we use DOMAIN\username format, but would also be OK with using the ON-PREM UPNs (username@on-premisedomain.local). We have to use one of those two because we have custom code that needs to find the user using their domain name and use

[2020-02-04 09:13] Yvand commented on #77
AzureCP allows you to choose what Azure AD attribute should be used as the unique identifier. You can do that in Central Administration > Security > AzureCP global configuration, and set the "user identifier property".
Of course, this attribute must match the one you set in the Azure AD Enterprise Application for SharePoint.
Note that the Azure AD application created for AzureCP is not playing any

[2020-02-04 09:24] Yvand commented on #76
@hat-cat I did the exact same test as you described and it fixed the error message, but I didn't validate the user received the link (I tested with a fake email). Did you double check that the mail was synchronized the the local user profile in the current site collection?

Yes it's a good idea to properly sync profile properties but the test was anyway relevant.

[2020-02-04 09:28] Yvand commented on #75
This area is poorly documented, so it's perfectly understandable that you are confused.
The important thing to understand are:
- "i:0#.w|domain\testuser" and "i:0e.t|azuread|testuser@domain" are NOT the same user, as far as SharePoint is concerned they are 2 completely different users
- User Profile Service application has nothing to do with permissions, its only purpose is to populate metadata ab

[2020-02-04 09:29] #73 closed

[2020-02-04 09:35] #74 closed

[2020-02-04 09:35] #65 closed

[2020-02-04 14:02] Grime121 commented on #77
Is there a way to add additional options to that list though? For instance, the On-Prem UPN attribute, or the DOMAIN\username formatted-attribute (not sure what it’s called)? I know these are available attributes in Azure... We use them for the Trusted Identity Provider....

---
Evan Talley
etalley@gmail.com

﻿
AzureCP allows you to choose what Azure AD attribute should be used as the unique ident

[2020-02-05 10:24] Yvand commented on #77
Unfortunately this list is not dynamic, it is a simple enumeration type.
I will update it to include all the [possible properties for User class](https://docs.microsoft.com/en-us/graph/api/resources/user?view=graph-rest-1.0#properties), but you will need to update AzureCP to use it.

[2020-02-05 15:41] Grime121 commented on #77
That would be great. Thanks!

﻿
Unfortunately this list is not dynamic, it is a simple enumeration type.
I will update it to include all the possible properties for User class, but you will need to update AzureCP to use it.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-02-07 09:55] Yvand opened #78 "Hang while using "check permissions" feature"
In some scenario, AzureCP hangs while using "check permissions" feature.
So far I could reproduce it only in SharePoint 2019 in a multi-server farm, in the w3wp of a site while using "check permissions" feature.

[2020-02-07 10:05] Yvand commented on #78
In AzureCP.GetGroupMembershipFromAzureADAsync(), await on tasks somehow causes the hang:
[code]

This is somehow caused by the way ASP.NET runs async tasks.
Workaround found: instead of awaiting on the async task directly, run it in a parent task, and await on the parent task:
[code]

[2020-02-07 10:16] Yvand opened #79 "Update Microsoft.Graph to 1.21.0"
* Update NuGet package Microsoft.Graph.1.18.0 -> Microsoft.Graph.1.21.0
* Update NuGet package Microsoft.Graph.Core.1.18.0 -> Microsoft.Graph.Core.1.19.0
* Update NuGet package Microsoft.IdentityModel.Clients.ActiveDirectory.5.2.3 -> Microsoft.IdentityModel.Clients.ActiveDirectory.5.2.6
* Update NuGet package NUnit3TestAdapter.3.15.1 -> NUnit3TestAdapter.3.16.1
* Update NuGet package Newtonsoft.Js

[2020-02-07 10:16] #79 closed

[2020-02-13 08:03] Yvand commented on #76
@hat-cat any news on this?

[2020-02-13 08:04] Yvand commented on #75
Closing this issue, feel free to reopen it if needed

[2020-02-13 08:04] #75 closed

[2020-02-13 14:59] Yvand commented on #64
@sergey-tihon I know it's been a while but today I started working on this.
I [committed changes](https://github.com/Yvand/AzureCP/tree/implement-cert-authN) to support this scenario, it still needs work but it's working in my test box and it will be ready for the next version.
Please let me know if you have any comment about this.

[2020-02-13 15:01] Yvand commented on #77
@Grime121 I added the missing properties in https://github.com/Yvand/AzureCP/commit/9439b99a24f1bc163642767959177c453b67f137 and it will be available in the next version.
Please let me know if you have any comment

[2020-02-13 15:10] Yvand commented on #62
@sergey-tihon can you please explain what is your concern?
When the access token expires, AzureCP (actually, Microsoft.Graph) has the plumbing to use the refresh token to acquire a new access token.
In my tests the access tokens are valid 1h, but I don't know about the refresh token.

[2020-02-13 16:54] Grime121 commented on #77
Excellent! This is a huge help. Thanks!

[2020-02-13 16:54] #77 closed

[2020-02-17 18:40] sergey-tihon commented on #64
Thank you for you work @Yvand !
I quickly take a look on changes and don't fully understand how installation of AzureCP + cert auth will look like ...
https://github.com/Yvand/AzureCP/compare/implement-cert-authN

Current code use hardcoded  `ClientCertificatePrivateKeyPassword`, this is probably covered by `it still needs work` 😊

1. How do you see installation guide? (what admin will have to do

[2020-02-17 18:51] sergey-tihon commented on #62
it is not a concern, it is `new hope`

I see the solution for my initial concern in following sentence

Even after deprecation of `Configurable token lifetimes in Azure Active Directory (Preview)`, we will be able to increate `access token lifetimes` (even without Azure AD Premium).

This means that we can increase `access token lifetimes` from default `1h` to lets say `12h` and do not re-login/re

[2020-02-18 13:18] Yvand commented on #64
@sergey-tihon I am happy to discuss the security concerns and determine the best implementation, I have much to learn on this area.

While using the Windows certificate store is technically feasible, it has significant drawbacks:

- The administrator must ensure that the certificate is present in all SharePoint servers, with proper permissions.
- The list of accounts that need access to the privat

[2020-02-18 15:21] Yvand commented on #62
The lifetime of the AzureCP access token is totally decorrelated from the user sessions.
If its access token expires in the middle of an active user session (for example, during a POST), AzureCP will merely renew it (which will not cause a sign-out/re-authentication of the user).
User session is valid as long as the FedAuth cookie (and its associated SAML token) is valid, AzureCP never touches thi

[2020-02-18 15:22] Yvand commented on #76
Closing this issue due to lack of response, feel free to reopen it if needed

[2020-02-18 15:22] #76 closed

[2020-02-18 16:49] sergey-tihon commented on #62
Probably I misunderstood something, but I always though that lifetime of `FedAuth` cookie is equal to SAML token lifetime.

As a final step of login SharePoint receive POST request to `_trust/default.aspx` with SAML token
[code]
SAML is valid for `12h` because I increased my access token lifetime from `1h` to `12h`
In response to this call `default.aspx` set cookie
[code]
that expires with SAML to

[2020-02-18 17:38] sergey-tihon commented on #64
What do you think about storing secrets inside `Secure Store Service`?

Drawback: One more dependency and more complicated configuration.
Benefit: Secure encrypted storage to secrets provided by SharePoint.

https://social.technet.microsoft.com/wiki/contents/articles/20110.sharepoint-retrieving-credentials-from-the-secure-store-application-using-c.aspx (never use it before)

[2020-02-18 22:18] YayForJam commented on #62
I ran into a similar issue today when using the ShareGate migration tool to move a large document library to an offsite SharePoint location that was set up to authenticate using AzureCP.

Using ShareGate's browser based authentication, it is not able to renew the token automatically so the migration just fails after 50 minutes when the token expires.

I had to create a new Azure AD policy setting

[2020-02-19 09:44] w3-dev commented on #62
The Sharepoint AzureAD application is using implicit grant with ID tokens for authentication. You might be able to implement the following for the AzureCP

https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-implicit-grant-flow#refreshing-tokens

**Refreshing tokens**
The implicit grant does not provide refresh tokens. Both id_tokens and access_tokens will expire after a shor

[2020-02-19 14:16] Yvand commented on #62
@sergey-tihon initially I thought you were talking about the lifetime of the AzureCP access token, but now I understand you meant the lifetime of the SAML token that users receive from Azure AD upon successful authentication.

@w3-dev AzureCP is not impacted about the 1h lifetime of its access token: When it expires, it just gets a new one and it's completely transparent.

@YayForJam setting Acces

[2020-02-19 14:29] Yvand commented on #64
In theory it's the perfect solution, in practice, it makes the configuration and the implementation significantly more complex.
Besides, from my experience the Secure Store is not commonly used, so it would also require a particular effort to document how to properly configure it for AzureCP, including the maintenance (update the secret).
It also creates a very significant dependency: if for some

[2020-02-19 22:56] antuantc opened #81 "AzureCP not associate with any TrustedLoginProvider"
Can you help me to get through this error so I can add a tenant to AzureCP?

![image](https://user-images.githubusercontent.com/9366859/74884398-b64d1380-5338-11ea-83d0-096c573badea.png)

[2020-02-20 13:39] jeefberkey commented on #81
Re-run this section from the [installation](https://yvand.github.io/AzureCP/Install-AzureCP.html):

[code]

[2020-02-20 17:54] sergey-tihon commented on #64
Then I prose to store certificate and `ClientCertificatePrivateKeyPassword` the same way as you stored `ApplicationSecret` and open new issue `Implement Secure Secret Store` for refactoring that will encrypt all secrets or more them in secure place. This should not postpone `V16` release.

[2020-02-21 15:16] Yvand commented on #64
You mean to keep the current implementation as-is for v16, and plan the implementation of the Secure Store for a future version?

[2020-03-03 13:22] Yvand commented on #81
Thanks @jeefberkey for helping out
@antuantc can this issue be closed?

[2020-03-03 13:24] Yvand commented on #62
@sergey-tihon any comment/remark? Can this issue be closed?

[2020-03-03 13:26] sergey-tihon commented on #62
Yes, you can close it. I'll open new one if we found any issue.
When do you plan to release V16?

[2020-03-05 14:32] Yvand commented on #62
I plan to release it very soon, yesterday I published https://github.com/Yvand/AzureCP/releases/tag/16.0.20200303.1092 as a pre-release and it passed all my tests, so it will become the actual release if I don't find any blocking issue.
Are you willing to test it yourself to validate the certificate scenario?

[2020-03-05 14:47] sergey-tihon commented on #62
yes, we plan to configure new SP2019 farm soon and I would love to try latest version with cert-based authentication

[2020-03-05 16:30] Yvand commented on #62
Perfect, when do you plan to make the test?

[2020-03-10 09:47] Yvand commented on #62
@sergey-tihon were you able to test the pre-release?

[2020-03-10 09:50] sergey-tihon commented on #62
@Yvand still in-progress. Not working for us, at least for now, but I do not have more details yet

[2020-03-11 13:43] sergey-tihon commented on #62
We saw 2 exceptions (during creation of new site collection)
[code]

[code]

after Googling I found [this answer](https://social.msdn.microsoft.com/Forums/windows/en-US/93916510-7eca-49b3-8260-3337223838c2/cryptographicexception-keyset-does-not-exist?forum=clr)

@Yvand how you local environment was configured? What permission IIS/appPool account has on the machine?

[2020-03-11 14:39] Yvand commented on #62
I should have provided you with more information to test this, as I had some trouble too.

I tested in 2 ways:

- With a PowerShell script:

[code]

- Directly with a .pfx file. I don't remember that I had any problem with a .pfx file though. I assumed it always works since it contains the private key (and I assume is exportable by design).
I created my .pfx files from the certificates MMC console

[2020-03-11 15:00] sergey-tihon commented on #62
Thanks, we will try this option as well.

I did it using `openssl`
[code]

[2020-03-12 21:00] antuantc commented on #81
Hi,

That suggestion did not work but you can go ahead and close it.  Once I get
some time, I will try it from the beginning.

thanks,
Tuan

On Tue, Mar 3, 2020 at 7:22 AM Yvan Duhamel <notifications@github.com>
wrote:

[2020-03-13 10:42] Yvand commented on #62
@sergey-tihon is everything working fine?

[2020-03-13 10:49] sergey-tihon commented on #62
@Yvand no, still the same issue.
Can you share how you export certificate from MMC and how you specify cert password for `$tenant`? Did configure private key usage permissions for cert stored in `"cert:\localMachine\my"`?

[2020-03-13 12:20] Yvand commented on #62
@sergey-tihon I just tested again the following scenario;

- Create a self-signed certificate in computer store:
`New-SelfSignedCertificate -DnsName "AzureCPClientCertificate" -CertStoreLocation "cert:\LocalMachine\My" -KeyExportPolicy Exportable -KeySpec Signature`
- From the certificates console: I export it as a .pfx with all default options.
- Delete the certificate from the computer store
- G

[2020-03-13 14:01] sergey-tihon commented on #62
Hmm, where do you persist `ClientCertificatePrivateKeyPassword` ? I still see hardcoded value in `dev` branch, but cannot find line where you persist `password` that we type when upload certificate.

[2020-03-13 14:38] Yvand commented on #62
ClientCertificatePrivateKeyPassword is not persisted, it's a const used to export/import the certificate (with its private key) that is persisted in the configuration database.
The password you type in the configuration page is used only to decrypt the .pfx file (it assumes it is password protected).
It looks like your .pfx file is not password protected, and importing it fails because it expects

[2020-03-16 16:36] Yvand commented on #62
@sergey-tihon can you please update/comment? I'd like to publish the v16, unless you find a blocking issue

[2020-03-19 18:02] sergey-tihon commented on #62
@Yvand Sorry, for my slow response here.
 I've tried to find `repro` steps for, but no success for now.

It works for some period of time (after tenant creation), so I am able to create site collection choosing site collection admin from picker, I see successful communication with Graph.
[code]

after some period of time (here is inconsistent) when I try to change site collection admin to another

[2020-03-31 15:05] Yvand commented on #62
@sergey-tihon sorry I completely forgot to reply.
I didn't repro this issue but I probably didn't try as much as you.
I don't have a clue about why it occurs, the only thing I find strange is that it tries to re-import the certificate because it of a config change, but the version is the same so it didn't actually change.

Could it happen somehow when the access token expires?
I need to try this i

[2020-04-01 14:06] Yvand commented on #62
The renewal of access token works as expected in my environment. When it happens, the following is recorded in the logs:

[code]

You do not seem to be in that scenario. For some reason, the AzureCP config is refreshed with no reason (since it's the same version), that should not happen on a process that has already cached that config version.

[2020-04-01 16:43] sergey-tihon commented on #62
how can I help you troubleshoot this? IIRC, I saw AzureCP messages in ULS logs from multiple processes, not only w3wp but able from owstimer. Can User Profile Server somehow use AzureCP?

[2020-04-02 09:29] Yvand commented on #62
My understanding of the issue is the following:
In a given process instance, AzureCP works fine for some time until, for some reason, it refreshes its config despite the version didn't change, and fails at the step of importing the certificate.
Is this correct? Is it always this behavior?

If so, can you provide the AzureCP logs which illustrate exactly this? They should contain the following sequ

[2020-04-02 11:26] sergey-tihon commented on #62
Ok, I will try

[2020-04-02 11:26] #62 closed

[2020-04-23 12:25] dvanboven commented on #63
I've got the same issue and when I try to add the (again) .dll assembly in the GAC, I receive the following message:

Assembly AzureCP, Version=1.0.0.0, Culture=neutral, PublicKeyToken=65dc6b5903b51636 sucessfully re-added to the GAC

[2020-04-24 11:13] Yvand commented on #63
- Did you restart PowerShell after you updated the assembly in the GAC?
- What version did you download?
- In "C:\Windows\Microsoft.NET\assembly\GAC_MSIL\AzureCP\v4.0_1.0.0.0__65dc6b5903b51636\AzureCP.dll" > Properties > Details: what is the version?

[2020-04-27 13:50] photoliner opened #83 "empty result set when adding users to Web Application?"
I manually configured AzureCP three times in a row (each independent farms, hosted in the same Azure tenant) but one gets me nuts.
Following this (https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/sharepoint-on-premises-tutorial) and this (https://yvand.github.io/AzureCP/Install-AzureCP.html) tutorial, everything seems to be fine. No error messages, no red lines.
Besides the fact t

[2020-04-28 11:04] photoliner commented on #83
Nevermind.
There was one little thing that broke the entire show...
I ticked the box "Filter out Guest users" with the idea in mind, that every non-tenant related user accounts would fall out of the query result. Instead those are the only users which I got back.
![image](https://user-images.githubusercontent.com/64419029/80480100-5b472680-8950-11ea-803a-872d3935d231.png)

Maybe as an idea for the

[2020-04-28 11:04] #83 closed

[2020-05-01 03:48] upatel911 opened #84 "AZURECP :-The table is not keeping the "Email" value, the cell return to empty after clicking on save"
Reference to same issue raised by Custom domains allowed?  #45

Issue found in the in the AzureCP Claim types configuration in central admin: http://server_name/_admin/azurecp/ClaimTypesConfig.aspx
![64766645-05537900-d54f-11e9-8bf0-4087fe8f568e](https://user-images.githubusercontent.com/64625880/80780466-0583a180-8b3d-11ea-8f01-3c22c148ecd8.png)

The issue is that after configuring the AzureCP on

[2020-05-04 11:02] dvanboven commented on #63
I'm so sorry for the delay ...

Below the answers on your question:
- yes, I've restarted PowerShell (even the whole server)
- the latest version: https://github.com/Yvand/AzureCP/releases/download/16.0.20200303.1092/AzureCP.wsp
- file version: 16.0.15215.1092 and product version: 16.0.20200303.1092

[2020-05-04 16:20] Yvand commented on #63
@dvanboven for some reason the configuration object of LDAPCP was not created.
Can you visit LDAPCP global configuration page in central administration > security? It should immediately create it.

[2020-05-04 19:59] dvanboven commented on #63
Excellent, that was the trick! It works now 👍

[2020-05-05 08:45] #63 closed

[2020-05-05 08:59] Yvand commented on #84
You changed the default configuration and associated the metadata Email with the Azure AD property UserPrincipalName.
But it should be associated with the Azure AD property Mail instead, as done by default:
![image](https://user-images.githubusercontent.com/8788631/81049841-47a33f00-8ebf-11ea-8708-34dcdfdc84c4.png)

[2020-05-05 12:57] upatel911 commented on #84
Hello Yvand,
Thank you so much for your prompt reply and suggestion.
Here below are my configuration settings. can you please review and let me know where i am wrong setting it up. The "Work Email" not saving under Picker Entity.

<img width="490" alt="UserAttributes" src="https://user-images.githubusercontent.com/64625880/81068373-40c00080-8eae-11ea-8b89-b0560123eba0.PNG">

[2020-05-05 12:59] upatel911 commented on #84
I have sent you the User Attributes screenshot above.
here below are the AZURECP configuration. Please advise where I am wrong here.

![Global Configuration](https://user-images.githubusercontent.com/64625880/81068524-811f7e80-8eae-11ea-83c4-ac0fa3e0055a.png)

![Claim Type Configuration](https://user-images.githubusercontent.com/64625880/81068565-94324e80-8eae-11ea-9358-ec92f8bf07fe.png)

[2020-05-05 15:57] Yvand commented on #84
I recommend that you configure Azure AD and the SharePoint trust as documented in [this page](https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/sharepoint-on-premises-tutorial).
In your current configuration, you use the emailaddress claim type as the identity claim type. This is different from the recommended configuration above.

[2020-05-05 19:43] upatel911 commented on #84
Thank you.
I think the work email issue resolved now.

Sent from my iPhone

[2020-05-06 03:46] uday30980 commented on #84
Thank You Yvand its working. the Work Email issue resolved with new configuration. i have attacheed the new claim type configuration screenshot.
However got the following issues. Need your expert advise to fix this issue.
We have 3 tier farm.
1. Application Server (Running Central Admin Site and Search)
2. WFE1 (load balancing)
3. WFE2 (load balancing)
The People Picker Control not working and not

[2020-05-06 03:48] uday30980 commented on #84
here below are my existing mapping.....

$map1 = New-SPClaimTypeMapping -IncomingClaimType "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name" -IncomingClaimTypeDisplayName "name" -LocalClaimType "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/upn"
$map2 = New-SPClaimTypeMapping -IncomingClaimType "http://schemas.microsoft.com/ws/2008/06/identity/claims/role" -IncomingClaimTypeDisp

[2020-05-06 07:40] Yvand commented on #84
@uday30980 you just need to reset the AzureCP claim types mapping. You can do that in the central administration > security > AzrueCP claim types mapping page, and click on button Reset configuration.

[2020-05-06 12:44] upatel911 opened #85 "Unexpected [AzureCP] Cannot continue because identity claim type 'http://schemas.xmlsoap.org/ws/2005/05/identity/claims/upn' set in the SPTrustedIdentityTokenIssuer 'AzureAD' is missing in the ClaimTypeConfig list. 69a34f9f-dafc-c0d8-649e-a10bf4e3a569"
However got the following issues. Need your expert advise to fix this issue.
We have 3 tier farm.

Application Server (Running Central Admin Site and Search)
WFE1 (load balancing)
WFE2 (load balancing)
The People Picker Control not working and not giving any results when request go to WFE1.
The People Picker Control working fine on WFE2 when search for the users.
We have checked the ULS Logs on WF

[2020-05-11 11:47] Yvand commented on #85
@upatel911 Can you reset the AzureCP claim types mapping? You can do that in the central administration > security > AzrueCP claim types mapping page, and click on button Reset configuration.

[2020-05-13 19:08] dvanboven opened #86 "Installation issue with the SPSolution"
When I try to install the AzureCP, I get the following error:

[code]

I've checked the following:
[code]

I've also restarted the server.

Can you please help me with this?
Thanks in advance!

David

[2020-05-14 08:49] Yvand commented on #86
Can you start a new powershell process and check if you have the same errors ?

[2020-05-14 14:03] dvanboven commented on #86
Yes, I got the same errors. I also uninstalled it and reinstalled it.
But no luck.

[2020-05-14 14:44] Yvand commented on #86
Are you running those commands in the server running central administration?
Does this server run SharePoint web applications service?
Is the deployment of AzureCP solution successful in solutions page?

[2020-05-14 15:46] dvanboven commented on #86
Yes, this server is running central administration.
No, I don't see the "Sharepoint Web Applications" service at the server. Or do you mean if this Sharepoint server is hosting the Web Applications? Then, I think yes.
No, the AzureCP solution is not at the "manage farm features".

[2020-05-14 16:40] Yvand commented on #86
Can you double check in central admin site > services on server, if the server running central administration is running the service "Microsoft SharePoint Web Applications"?
Deployment may not work if it's stopped on this server.
Can you also check in central admin site > farm solutions if AzureCP.wsp is successfully deployed?

[2020-05-14 19:03] dvanboven commented on #86
It's not at the services:
![services](https://user-images.githubusercontent.com/40298841/81974679-2f9d8f00-9626-11ea-9b19-c4fd727749f1.PNG)

It's not at the features:
![features](https://user-images.githubusercontent.com/40298841/81974677-2f9d8f00-9626-11ea-89d7-0bfdc9d6bff3.PNG)

I cannot find "farm solutions" at the Central Administration:
![central_admin](https://user-images.githubusercontent.c

[2020-05-15 11:53] Yvand commented on #86
You are unlucky enough to get the issue that happens sometimes with SharePoint, which fails to deploy a solution correctly. To fix it, carefully follow **all** the steps documented on [this page](https://yvand.github.io/AzureCP/Fix-setup-issues.html).

[2020-05-20 12:23] dvanboven commented on #86
I've successfully disabled and removed the "AzureCP" SPFeature:
[code]
But when I try to disable and uninstall the "AzureCP_Administration" SPFeature, I get the following errors:
[code]

Can you please assist me with this?

p.s. the following commands have not been run:
[code]

[2020-05-21 15:42] Yvand commented on #86
Does file `feature.xml` exist in `C:\Program Files\Common Files\Microsoft Shared\Web Server Extensions\16\Template\Features\AzureCP_Administration`, on the server running central administration, and are you running all the commands in that server?
Can you also copy/paste the content of that `feature.xml` file?

[2020-05-22 13:25] dvanboven commented on #86
Yes, the file exists in that location. And I've been running all the commands on that same server (we've only got one).

The content of the _feature.xml_:
[code]

[2020-05-22 16:50] Yvand commented on #86
I think it will work to just add the -Url to Disable-SPFeature cmdlet:

[code]

[2020-05-25 17:47] dvanboven commented on #86
Excellent, that was the trick!

But when I execute `Remove-SPSolution "AzureCP.wsp" -Confirm:$false` it gives me the following error:
[code]

Do I need to choose for the "-override"?

[2020-05-25 18:05] dvanboven commented on #86
Shall I install it again?

[2020-05-26 14:45] Yvand commented on #86
You can absolutely install it again, but before you do that, delete the solution completely, and re-add it from scratch.

[2020-05-27 08:37] dvanboven commented on #86
Alright, I installed it again and now I installed it successful. Coming night the server will be restarted and tomorrow I'll test the setup. Keep you posted.

[2020-05-27 16:52] abhishek0818 opened #87 "AzureCP is not able to find UPN in AzureAD"
hi Team,

I have performed integration of sharepoint wth AAD from https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/sharepoint-on-premises-tutorial#additional-resources link. But my testing is not successful.

Following is the details regarding my testing scenario.
Given -
1. I have one sharepoint server and userId (firstname.lastname@domain.local), using this userId I can access s

[2020-05-28 12:59] dvanboven commented on #86
The installation and configuration is completed successfully, great news!

But at this moment I cannot select users from Azure, only from the on-prem AD. Do you know what's going wrong or how to troubleshoot this?

[2020-05-29 09:58] Yvand commented on #86
The easiest way is to look at SharePoint logs and filter on Product/Area "AzureCP"

[2020-06-09 09:22] Yvand commented on #87
Closing issue due to no response, feel free to reopen it if needed

[2020-06-09 09:22] #87 closed

[2020-06-09 09:22] Yvand commented on #86
@dvanboven any update? Can this issue be closed?

[2020-06-09 09:23] Yvand commented on #85
Closing issue due to no response, feel free to reopen it if needed

[2020-06-09 09:23] #85 closed

[2020-06-09 09:23] #81 closed

[2020-06-09 09:24] #78 closed

[2020-06-09 09:24] Yvand commented on #84
Closing issue due to no response, feel free to reopen it if needed

[2020-06-09 09:24] #84 closed

[2020-06-12 08:21] Yvand opened #88 "Searching users with a single quote in the people picker doesn't work"
Using AzureCP 16.0, in the people picker, you type a value with a single quote, for example: user', and it returns an error.
In the logs, AzureCP records this:

[code]

Cause:
Single quotes should be double escaped as documented in https://docs.microsoft.com/en-us/graph/query-parameters#escaping-single-quotes

[2020-06-15 07:37] #88 closed

[2020-06-15 12:43] dvanboven commented on #86
Hi @Yvand , at this moment I'm discussing this with a colleague of mine. She will investigate this error and I'll keep you posted.

Sorry again for the delay

[2020-06-15 18:50] kghoang77 opened #89 "Having issue with using AzureCP on SharePoint 2019 with June CU 16.0.10359.20000"
Having issue with using AzureCP on SharePoint 2019 with June CU 16.0.10359.20000

The install went through fine.  But the name resolution doesn't work with AzureAD.

Thanks
Khanh

[2020-06-17 09:03] Yvand commented on #89
Did you configure the tenant?
Can you look at the SharePoint logs and filter on product/area "AzureCP" to see what is happening?

[2020-06-19 14:45] dvanboven commented on #86
A colleague of mine told me that she doesn't see any AzureCP values in the logging. It's configured at verbose logging.

They are visible in the dev environment, which is working fine

[2020-06-22 07:54] Yvand commented on #86
Can you follow the steps in https://yvand.github.io/AzureCP/Fix-setup-issues.html to see what exactly is wrong in your setup?

[2020-06-24 14:48] dvanboven commented on #86
Is the output below enough? Or do you need some more information?

Get-SPClaimProvider| ?{$_.DisplayName -like "AzureCP"} | fl *

[code]

Get-SPFeature| ?{$_.DisplayName -like 'AzureCP*'}| fl *

[code]

[2020-06-25 07:29] Yvand commented on #86
Then you need to follow the step "Recreate missing feature folders and add feature.xml" in https://yvand.github.io/AzureCP/Fix-setup-issues.html to properly remove the AzureCP features.

[2020-06-29 20:39] sikandersa commented on #39
Is there any resolution on this. I'm also facing the same issue. Except AD, Azure users are not appearing in AzureCP ? Any Help

[2020-06-30 12:42] sikandersa opened #91 "Azure AD Users not appearing post Azure CP Configure"
Have installed AzureCP v16 on our on-prem SharePoint 2013 Farm. However when trying to add users to a site, the on-prem AD account is showing, and the Azure AD account is not showing in the people picker with AzureCP.
In other words, I cannot select the correct Azure AD account which works without Azure CP with Name/Role Claims mapping which we have defined with this article : https://docs.microso

[2020-06-30 12:47] Yvand commented on #39
Same question as when the issue was raised:
Can you check logs and filter on Product/Area "AzureCP" to see what's going on?

[2020-06-30 12:48] Yvand commented on #91
@sikandersa can you check the SharePoint logs and filter on Product/Area "AzureCP" to see what happens?

[2020-06-30 15:27] sikandersa opened #92 "Migration of Windows AD Account to Azure AD for SharePoint"
We have configured from Windows AD to Azure AD authentication for Sharepoint following the below article and need to know how we can mapp the access for Azure AD account permissions (from Windows credentials to Azure AD)

https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/sharepoint-on-premises-tutorial

[2020-07-01 07:41] Yvand commented on #92
Sorry but your question is way too vague. What did you try and what does not work?

[2020-07-06 16:47] sikandersa commented on #91
Unexpected    [AzureCP] Unexpected error(s) occurred while querying Azure AD tenant 'Tenant Name':  [EXCEPTION 1]: Microsoft.Graph.ServiceException: Code: Authorization_RequestDenied  Message: Insufficient privileges to complete the operation.
Directory Read all permission was already given

[2020-07-07 08:34] Yvand commented on #91
Can you send a screenshot of the permissions page in the Azure AD tenant?

[2020-07-08 00:15] jconduit opened #93 "Issue when logging on as a user withing a group added by azurecp"
[AzureCP] Unexpected error occurred in Initialize, while refreshing configuration: System.IO.FileNotFoundException: Could not load file or assembly 'System.Net.Http, Version=4.2.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The system cannot find the file specified., Callstack:
 at azurecp.AzureTenant.SetAzureADContext(String claimsProviderName, Int32 timeout)

[2020-07-08 07:38] Yvand commented on #93
Somehow, some assemblies that AzureCP depends on are missing in the SharePoint server.
You can unzip AzureCP.wsp using [7-zip](https://www.7-zip.org/), and compare the assemblies in the archive with the ones present in the GAC of the machine (C:\Windows\Microsoft.NET\assembly\GAC_MSIL) to find which ones are missing.
You can also apply the PowerShell script in https://yvand.github.io/AzureCP/Insta

[2020-07-08 10:57] sikandersa commented on #92
How we need to migrate the permissions from Windows Claims to Azure ID post switching the authentication from Windows to Azure trusted identity token issuer

[2020-07-09 06:48] Yvand commented on #92
You can use [SPFarm.MigrateUserAccount](https://docs.microsoft.com/en-us/dotnet/api/microsoft.sharepoint.administration.spfarm.migrateuseraccount?view=sharepoint-server#Microsoft_SharePoint_Administration_SPFarm_MigrateUserAccount_System_String_System_String_System_Boolean_):

[code]

[2020-07-10 09:10] gauravPOC opened #94 "Group User is not able to login Error [AzureCP] Unexpected error(s) occurred in AugmentEntity"
I have Already setup AzureCP for 2 farm and working fine. But for other farm same configuration giving below error :[AzureCP] Unexpected error(s) occurred in AugmentEntity.

When i have done some deep study then i found when i unchecked "Augmentation" option then it  works file but then Azure AD group user doen not work.

I have uplaoded the error log. Please help
[errror.txt](https://github.com/Y

[2020-07-10 11:27] sikandersa commented on #92
Can we restrict to Site Collection level for migrating the user permission from source to destination ?

[2020-07-10 14:25] gauravPOC commented on #94
Adding some more logs from AzureCP product Area
[azurecp.txt](https://github.com/Yvand/AzureCP/files/4903662/azurecp.txt)

[2020-07-10 14:33] Yvand commented on #92
No, migration is farm wide

[2020-07-10 14:35] Yvand commented on #94
AzureCP cannot get an access token for your tenant:
`07/10/2020 11:38:32.82	w3wp.exe (HCLT-PC4814-1:0x3C10)	0x4550	AzureCP	Core	1337	Unexpected	[AzureCP] Could not get access token before timeout of 4000 ms for tenant 'XXX'
Do you need to configure a proxy? Did you configure the proxy in the w3wp of SharePoint STS?

[2020-07-11 06:59] gauravPOC commented on #94
Thanks Yvan. I am not using any proxy. But when  I unchecked "Augmentation" option then it works file. still it seems to be proxy issue.

[2020-07-11 07:58] gauravPOC commented on #94
I have downloaded fiddler and test the application then it is working fine but after closing fiddler it again stopped. it seems something block from network side. i have gone through the log and it stuck when it move to /_trust/default.aspx to
graph.microsoft.com:443
/v1.0/users?$filter=UserPrincipalName+eq+%27gaurav-a%40hcl.com%27
/v1.0/users/24bdad81-3f6f-4816-9382-4907830622a1/microsoft.graph.g

[2020-07-13 08:40] dvanboven commented on #86
The folders within the feature directory are there, so that's good.
At the 25th of May I already uninstalled everything and afterwards I installed en configured it again.

Is it possible to assist me with a remote session or do you've got another tip/trick?

[2020-07-15 13:37] Yvand commented on #94
@gauravPOC the symptoms you describe really look like a SSL trust issue. Can you enable CAPI2 logs in the event viewer and reproduce the error?

[2020-07-15 13:43] Yvand commented on #86
@dvanboven the error message is not related to a setup issue in SharePoint/AzureCP, Graph API is telling you that it does not find the client ID in the tenant you specified, and usually those messages are accurate.
Did you double check this?

[2020-07-15 14:57] dvanboven commented on #86
After I received this error, I deleted the original App Registration and I created a brand new one. Afterwards the error disappeared, but still it's not working properly. When I'll add a user to a site, it will only do a lookup within the on-prem AD.

[2020-07-15 15:54] Yvand commented on #86
Does AzureCP create the permissions as expected? You can check the SharePoint logs and filter on Product/Area "AzureCP" to confirm this

[2020-07-16 04:11] gauravPOC commented on #94
I had apply proxy and it is stated working fine. But my question is there any way to work w/o proxy. Can i exclude Graph API call from firewall.

[2020-07-16 08:36] Yvand commented on #94
It depends on your infrastructure, only your network/security teams can answer this question.

[2020-07-16 09:06] gauravPOC commented on #94
Thankyou very much Yvan. Much appreciated.

Regards
Gaurav
________________________________
From: Yvan Duhamel <notifications@github.com>
Sent: Thursday, July 16, 2020 2:06 PM
To: Yvand/AzureCP <AzureCP@noreply.github.com>
Cc: Gaurav Agarwal <Gaurav-A@hcl.com>; Mention <mention@noreply.github.com>
Subject: Re: [Yvand/AzureCP] Group User is not able to login Error [AzureCP] Unexpected error(s) occu

[2020-07-16 14:38] dvanboven commented on #86
When I filter the "Area" at "AzureCP", it's empty. The logfile contains the last 20 minutes.
Or do I need to check the logfile, after I reinstalled the AzureCP?

[2020-07-16 16:46] vargasfe opened #95 "AzureAD in sovereign cloud"
I am using the current release of AzureCP.

Getting the error below in logs when testing connection to tenant in Central Admin.
The login url for the SPTrustedLoginProvider is in fact https://login.microsoftonline.us/GUID/wsfed

Any suggestions are greatly appreciated.
Thanks,
Fernando

Confidential Client requests are not supported on the public endpoint (login.microsoftonline.com) for tenants in

[2020-07-17 07:13] #94 closed

[2020-07-17 07:14] Yvand commented on #86
Indeed, it's only if AzureCP is installed that it will record messages in area "AzureCP"

[2020-07-20 08:49] Yvand commented on #95
hi Fernando, your request couldn't have been with been in a better timing, because I'm working on implementing the support for national clouds deployments.
I just published [v18 beta](https://github.com/Yvand/AzureCP/releases/tag/18.0.20200717.1147) that includes this support.
Are you willing to test it?

Once you installed v18 and added your tenant to AzureCP, you need to set properties LoginServ

[2020-07-20 16:55] vargasfe commented on #95
Hello,

Thanks for this timely update!

Unfortunately I was not successful with my testing.

I Retracted the previous version

I Remove the previous version

Installed and deployed the Beta version

I reset the configuration

Added my Tenant

This command results in the error below.

$tenant = $config.GetAzureTenantByName("XXX.onMicrosoft.com") – yes, I used the correct tenant name J

Method invoc

[2020-07-21 09:05] Yvand commented on #95
AzureCP 18 uses newer versions of Microsoft Graph. Did you restart PowerShell after the update, to ensure you load the new versions?

[2020-07-21 14:19] vargasfe commented on #95
Thanks Yvan.

This time I was able to run the configuration script successfully.  However, I keep getting the same error as before – see below.

Both endpoints are set correctly:
$tenant.LoginServiceEndpoint = "https://login.microsoftonline.us"

$tenant.GraphServiceEndpoint = "https://graph.microsoft.us"

Is it possible that the error is something else than what is being logged?

Thanks,

Fernando

[2020-07-23 07:35] Yvand commented on #95
Hi Fernando, it looks like AzureCP is still connecting to login.microsoftonline.com.
Can you open a new PowerShell process and run these commands to confirm the properties were actually updated:

[code]

[2020-07-23 13:34] vargasfe commented on #95
Thanks Yvan,

Everything seems to be configured correctly but I still get the same error in the log and in the UI (Unable to get access token for tenant 'srcincgov1.onMicrosoft.com': One or more errors occurred.).

PS C:\Windows\system32> $tenant.LoginServiceEndpoint

$tenant.GraphServiceEndpoint

https://login.microsoftonline.us

https://graph.microsoft.us

PS C:\Windows\system32>

A lightbulb ju

[2020-07-24 08:44] Yvand commented on #95
hi Fernando,
indeed, the “Test Connection to Tenant” button cannot work because you cannot override the default endpoint URLs in this page, you have to do it later in PowerShell.
I did add the endpoints here as the need to change them is a rare scenario (you are only the 2nd person to request it), and I want to keep this dialog as simple as possible. Does that make sense? Did you find any other is

[2020-07-24 21:58] vargasfe commented on #95
Hi Yvan,

Am I confused?

Based on what you said below, after setting the endpoints in PowerShell, the Test Connection to Tenant button should work.

Even so, I don’t see why the button couldn’t read the endpoint from the Tenant configuration and then try the connection?

I am just glad it’s working where it counts J

Thanks,

Fernando

From: Yvan Duhamel <notifications@github.com>
Sent: Friday, J

[2020-07-25 10:47] gauravPOC opened #96 "Unable to get access token for tenant '189de737-c93a-4f5a-8b68-6f4ca9941912': One or more errors occurred."
Hi Yvan,

I am unable to connect AzureCP  from central admin after giving Tenant ID, Application ID and Client secret and click on Test Connection its giving below error
 Unable to get access token for tenant '189de737-c93a-4f5a-8b68-6f4ca9941912': One or more errors occurred.

I have also implement proxy on server and checked but no luck.

After enable Verbose log i getting below Error :-
[] Unex

[2020-07-27 07:28] Yvand commented on #95
hi Fernando, the “Test Connection to Tenant” button uses only the data you enter for a new tenant (tenant name, client id, client secret / certificate), and for the rest it uses the default settings (including endpoints URLs).
Also, the endpoints URLs are per tenant, it's not a global setting.

[2020-07-27 07:31] Yvand commented on #96
can you sign-in to the SharePoint server as the application pool / farm account, open IE and try to browse the following sites:

* https://login.windows.net
* https://login.microsoftonline.com
* https://graph.microsoft.com

If one does is not accessible / shows errors, AzureCP cannot work, as they are all required for Graph API to work.

[2020-07-27 07:39] gauravPOC commented on #96
Thanks Yvan. Your doubt is correct. This is because of TLS which restricted the communication between AzureCP to AzureAD. i have disable TLS 1.0 and 1.1 and enable TLS 1.2 only and it works fine. Thanks a lot for your help.

[2020-07-27 07:51] #96 closed

[2020-07-27 19:16] dvanboven commented on #86
I've uninstalled the AzureCP and installed + configured the latest version, but still no luck.

When I use the people picker for the first time, I see the wait cursor for a few seconds and then only the results are being shown of the on-prem AD. When I use the people picker again, the wait cursor disappear after a blink of the eye, but still only on-prem AD users.

When I check the LOG, I see the

[2020-07-29 08:00] Yvand commented on #86
AzureCP uses [NuGet package Microsoft.IdentityModel.Clients.ActiveDirectory](https://www.nuget.org/packages/Microsoft.IdentityModel.Clients.ActiveDirectory/5.2.6), which requires System.Net.Http (>= 4.3.4)

* What is the SharePoint version?
* What is the OS version?
* What is the version of "C:\Windows\Microsoft.NET\Framework64\v4.0.30319\clr.dll" ?
* What is the version of "C:\Windows\Microsoft.N

[2020-07-31 14:47] dvanboven commented on #86
Sharepoint version: Microsoft Sharepoint Server 2016 (Configuration database version: 16.0.4678.1001)
OS version: Windows Server 2016
Clr.dll version: 4.7.3620.0
System.Net.Http.dll version: 4.7.2661.0

[2020-08-03 14:35] Yvand commented on #86
Are you by any chance able to test the sample code provided [here](https://docs.microsoft.com/en-us/dotnet/api/system.net.http.httpclient?view=netframework-4.8) to validate if System.Net.Http.dll can actually be used on the SharePoint server?

[2020-08-03 20:03] dvanboven commented on #86
To be honest, I'm not familiar with testing an C# code, but I've tried it via Visual Studio 2017. I've created a new project and within the project a new classlibrary. The code below I've executed:
[code]

See screenshot for output/logging:
![classlib_1](https://user-images.githubusercontent.com/40298841/89222272-111bb400-d5d5-11ea-93f3-903930d17807.png)

[2020-08-05 08:09] Yvand commented on #86
@dvanboven let's try something more simple, can you run this PowerShell cmdlet and let me know if it succeeds:

[code]

[2020-08-05 08:16] dvanboven commented on #86
Below the output of the version you asked:
[code]

Below the output of another (older) version:
[code]

[2020-08-05 12:07] Yvand commented on #86
.NET framework is quite up to date and I'm not sure it'll update the assembly.
Let's try to update [System.Net.Http](https://www.nuget.org/packages/System.Net.Http), but it's not that straightforward:

1. In the Visual Studio project you created, add [NuGet package](https://www.nuget.org/packages/System.Net.Http) as a reference. It will download System.Net.Http.dll locally
2. Add System.Net.Http.d

[2020-08-05 12:20] dvanboven commented on #86
Thanks for your prompt response!
Is this change affecting the whole Sharepoint server/enviroment, or will I only update the .dll for the AzureCP?

[2020-08-06 08:45] Yvand commented on #86
The one to use is the one you highlighted. Yes, it will add the assembly to the GAC, so it will be available to everything machine wide (not just AzureCP)
And yes it is compatible with .NET Framework 4.7.2

[2020-08-06 13:07] #89 closed

[2020-08-08 10:47] #64 closed

[2020-08-12 13:19] dvanboven commented on #86
Alright, I need to discuss the replacement with a colleague of mine. But he's on holiday, so I'll update you next month.

To summarize it for me:
- I need to copy the highlighted dll to C:\VSProject\
- And run the code below:
[code]

[2020-08-12 13:48] Yvand commented on #86
Correct

[2020-08-13 10:30] gauravPOC opened #97 "Remove AD claim Provider"
Hi Yvan,

After enableing the AzureCP Trusted Identity Provider on the web application for Azure AD, We need to enable Windows Authentication (which is required for Search Crawling account on the Default zone), and i have also hide the Window AD claim Provider using below script using given blog.
$cpm = Get-SPClaimProviderManager
$cp = Get-SPClaimProvider -Identity "AD"
$cp.IsVisible = $false
$cpm

[2020-08-13 10:55] #91 closed

[2020-08-14 09:28] #93 closed

[2020-08-15 10:11] gauravPOC commented on #97
HI Yvan,

Do we setup AzureAD authentication on any other zone . Will AzureCP support or it is supports only on Default zone. i am looking alternate to crawl search as Search can only crawl with default zone then OWA is working otherwise lots of issue coming.

Please help

Regards
Gaurav

[2020-08-16 15:32] #92 closed

[2020-08-17 10:13] gauravPOC commented on #97
Please help to resolve this issue.

Regards
Gaurav

[2020-08-17 12:20] Yvand commented on #97
AzureCP returns entities from any zone, as long as it is enabled in at least 1 zone.

[2020-08-20 09:11] LachlanJB opened #98 "Quick question on AzureCP function"
Hi,
Is it possible to have the AzureCP work for 2 SharePoint WebApps that each authenticate against their own enterprise app in Azure Active Directory (same Azure Tenancy)?

I see that the documentation specifies that "Due to limitations of SharePoint API, do not associate AzureCP with more than 1 SPTrustedIdentityTokenIssuer" so I assume this will require development of the AzureCP solution to ma

[2020-08-20 13:30] Yvand commented on #98
Unfortunately, you cannot set AzureCP with 2 SPTrustedIdentityTokenIssuer, that's not something that can be fixed in AzureCP as it's really a SharePoint limitation.
But there is a possible solution: you can associate AzureCP with 1, and use AzureCP.Developers.zip (that comes with each release) to createa a copy of AzureCP and associate it with the 2nd SPTrustedIdentityTokenIssuer. However, this ap

[2020-08-21 07:51] paulaeschlimann opened #99 "Could not load file or assembly 'System.Net.Http, Version=4.2.0.0, [...]' with version 17.0.20200618.1133"
I updated AzureCP from previously version 15.3.20191120.1028 to now 17.0.20200618.1133. Since then, I can no longer test the connection to Azure AD tenant in CA on the AzureCPSettings page. If I try so, a "File Not Found." error is raised. In the ULS log I see:

[code]

I did read that there was some troubleshooting done in issue https://github.com/Yvand/AzureCP/issues/86.

I cannot load the menti

[2020-09-01 11:48] vishnookumar commented on #66
Hi Yvand,
I have implemented the AzureCP. Changed the AzureCP configuration to set "User identifier for 'Guest' users" to UserPrincipalName. After that, searching for Guest Email address: vishnookumar@gmail.com is not resolving the user in people picker (Eg: when we copy paste the guest user email address). However, pasting the UPN (Eg: vishnookumar_gmail.com#EXT#@vishnoodev.onmicrosoft.com) is re

[2020-09-03 09:59] Yvand commented on #66
@vishnookumar to allow guest accounts to connect, there is a configuration on both sides: AzureCP and Azure AD.
Also, to avoid caching issues, you should always make your tests in a new site collection, each time you change the config in AzureCP

[2020-09-03 11:10] vishnookumar commented on #66
@Yvand , I checked it on a new site collection as well, but the email ID of the guest is not resolving. Screenshot below.

When typing the guest user name:
![image](https://user-images.githubusercontent.com/70580406/92107767-f02cc580-ee03-11ea-80ed-6a2c6c24c08d.png)

When entering the guest user email ID:
![image](https://user-images.githubusercontent.com/70580406/92107925-308c4380-ee04-11ea-8bdb-

[2020-09-13 11:38] rootofdigits opened #100 "user profile configuration"
Hi Yvand.
Thank you for amazing framework we have fast and stable SSO now thanks to you.

our user profiles are missing attributes values. such as (display name, mobile number ...etc)

I tried to configure them via powershell and central admin > azurecp user mapping GUI nothing changed I tried all three mapping options there without and reflection on user profiles. I guessed there might be work do

[2020-09-14 15:22] Yvand commented on #100
@rootofdigits thank you for your feedback!
Are you talking about profiles properties in the User Profile Application, or in the site collections?
FYI, AzureCP can only set profiles properties in the site collections, where user is added for the 1st time in the site collection

[2020-09-14 16:09] rootofdigits commented on #100
Hi Yvand,

Thank you for your response!
Site collection users profiles missing some attributes Such as mail, job, phone etc and the display name is mail.
I am not the AzureAD admin and I don’t have access to configure trust claims and user mappings over-there but I need to know if there is a guide to help us configure the site collection to populate full profiles attributes? I believe from researc

[2020-09-15 12:11] rootofdigits commented on #100
Hi Yvand,

I figured out that the AzureCP configurations are working well the research we need to do is pure AzureAD configurations in Claim user attributes.
we have conflict between choosing the identifier and display name they both have the same attribute as (required & optional claim type) when we changed display name to name users permissions lost :/
attached mapping on AzureAD
![azureadmappin

[2020-09-15 13:25] Yvand commented on #100
Ok, so AzureCP can set profiles properties in the site collections, but only for users that are added for the 1st time in the site collection.
So I suggest you you make your tests each time in a new temp site collection.

This feature does not rely on the configuration of the trust between Azure AD and SharePoint, it's a pure AzureCP configuration that you can see in central admin > security > Azu

[2020-09-18 16:37] #86 closed

[2020-09-23 14:10] #97 closed

[2020-09-23 15:47] mhintner opened #101 "AzureCP with multiple SPTrustedIdentityTokenIssuers"
Hi Yvan, I'm trying to make AzureCP runnable with multiple SPTrustedIdentityTokenIssuers. There are multiple WebApps, each with an associated AzureAD Tenant. I changed you code a bit so that the appropriate provider is selected at runtime.
![image](https://user-images.githubusercontent.com/11560089/94036298-72d1f080-fdc4-11ea-8356-426ed70c5df4.png)
Everything works fine as long as I'm using the Ro

[2020-09-24 14:49] Yvand commented on #101
Hi @mhintner, my current state of knowledge is that you cannot use the same claims provider (class) with multiple SPTrustedIdentityTokenIssuers because at runtime there is no way to determine what TrustedLoginProvider is currently calling.
Did you find a way to deal with that, but you're stuck on a different problem, or is it not working because of that?

[2020-09-24 14:56] mhintner commented on #101
Hi Yvand, I use the description of SPTrustedIdentityTokenIssuer to store the url of the RootSC and at runtime I try to find the correct one based on the current URL. This works fine for the RootSC in different WebApps but doesn't work for path based SCs below (at least not for SiteSettings, regular pages are ok). The error when opening the SiteSettings of a path based SC is "File not found".
Kind

[2020-09-25 14:35] Yvand commented on #101
When you say that non-root path-based SPSite don't work in site settings, what exactly is not working?

[2020-09-25 14:42] mhintner commented on #101
The error when opening the SiteSettings of a path based SC is "File not found".

[2020-09-25 14:52] Yvand commented on #101
So you simply navigate to the site settings and you get an error "File not found"?
I don't see how this error can be possibly related to the custom claims provider. What makes you think so?

[2020-09-25 14:56] mhintner commented on #101
Yes, that's the effect. It is reproducible in two environments, as soon as the ClaimsProvider is removed, everything works fine.

[2020-09-26 14:33] #98 closed

[2020-09-27 14:18] #99 closed

[2020-09-28 08:42] Yvand commented on #101
Do you have any technical details about what happens when you browse to that page?
Is AzureCP class called?

[2020-09-29 18:03] mhintner commented on #101
Yes AzureCP is called, but the following exception occurs:
Getting Error Message for Exception System.ArgumentNullException: Value cannot be null.
 at Microsoft.SharePoint.SPSite.OpenWeb(String strUrl, Boolean requireExactUrl)
 at Microsoft.SharePoint.SPSite.get_RootWeb()
 at Microsoft.SharePoint.Navigation.SPNavigationProvider.GetChildNodes(SiteMapNode node)
 at System.Web.UI.WebControls.SiteMapD

[2020-09-30 15:38] Yvand commented on #101
I don't have any possible explanation for this, AFAIK I never got that behavior

[2020-10-07 01:29] JeganBas opened #102 "AzureCP configuration | File not found Error"
Hi,
To fix the people picker issue in my SharePoint site,  I've been instructed to download and install Azure CP  component in my single server SharePoint 2016 Farm ( on-premises ), after deploying Azure CP (v 17),  when i tried to test the connection by providing the client ID and Secret, I'm getting **File not found error,** which is very weird  ,because uploading certificate file (.pfx) is opti

[2020-10-07 08:31] Yvand commented on #102
Do you get this error when you try to test the connection, or add it?
Can you try to add it without testing it?
I confirm that the certificate is optional, so you don't need to specify one if you specify a client secret.
v17 has significant improvements over v13 so you should really keep it.
But if you really decide to roll back to a lower version, you can find the history in the [releases](https:

[2020-10-07 10:42] JeganBas commented on #102
Hi @Yvand  thanks for replying,  I got the error while testing only.   When i proceed without testing I'm not getting the actual results, when i use the group email IDs in the SharePoint site.  It fails to resolve them.  Let me tryout with the low version and update you.

[2020-10-07 12:40] Yvand commented on #102
if it doesn't work you can check the logs as instructed in https://yvand.github.io/AzureCP/Troubleshoot-AzureCP.html
Again, I don't recommend that you downgrade to v13

[2020-10-08 10:36] JeganBas commented on #102
Hi @Yvand thanks for Sharing the link,  and i understand your concern, but still as per our team's recommendation we are trying to downgrade and testing the feature.

This time we are unable to deploy the AzureCP itself.  when  i tried to deploy the WSP file as a farm solution, its taking more time than usual.  For more than 3 hours the status hasn’t changed from deploying. I even tried to remove

[2020-10-11 16:53] JeganBas commented on #102
Hi @Yvand , I've tried the given Fix setup issues procedures, but still my issue is not getting resolved.  The solution is keep on showing as deploying, it is not moving to deployed status. I tried multiple other ways, nothing helps.

I even tried to install the v17 again, but even with v17 the status is same. never going to deployed status.

When i stopped and restarted the deployment using manua

[2020-10-12 08:00] Yvand commented on #102
@JeganBas this error is exactly the scenario described in https://yvand.github.io/AzureCP/Fix-setup-issues.html
You can follow the step by step in this article to fix the issue properly and totally clean your farm

[2020-10-12 13:19] gauravPOC opened #103 "Application is stuck to try login again and again"
When i already login on SharePoint site using Azure CP and remain same for 15 min and after 15 min when I click on any link then it is trying to validate again and stuck in a loop. PFB screenshot of the same. This is production issue therefore please help to close asap.
![ErrorSS](https://user-images.githubusercontent.com/60103218/95750997-93061880-0cbb-11eb-960e-3bbd5099a9c7.png)

[2020-10-13 07:24] Yvand commented on #103
This symptom can have hundreds of causes, so there is nothing to say unless you provide clear technical information about what exactly is happening.
An extract of the relevant SharePoint logs or a Fiddler trace could definitely be a good start.
You can check this page to determine if this somehow caused by AzureCP: https://yvand.github.io/AzureCP/Troubleshoot-AzureCP.html

[2020-10-13 07:58] gauravPOC commented on #103
Thanks Yuvan. Please find the attached Verbose log.
[login.zip](https://github.com/Yvand/AzureCP/files/5369810/login.zip)

[2020-10-13 10:55] gauravPOC commented on #103
i have seen that i open site on private browsing then it work and in normal browser it stucks on login screen. i have already share the log with you. Please help. I am trying to login Gaurav-a@hcl.com

[2020-10-14 09:09] gauravPOC commented on #103
Hi Yvan,

I have taken the fiddler log from server and uploaded. Please find the same This is a production issue and 10k user are impacted due to this. Please help to resolve this.
[wf13Fiddler.zip](https://github.com/Yvand/AzureCP/files/5376983/wf13Fiddler.zip)

[2020-10-16 21:25] jharbach opened #104 "V17 not working"
This is so consistant.  I had installed and configured AzureCP V16 on a Dev SharePoint 2016 server farm, and all worked fine.  When applying to production version was V17.  Installed correctly, but would not connect to the tenant.  In the ULS logs found this error:

Application error when access /_admin/azurecp/AzureCPSettings.aspx, Error=Could not load file or assembly 'System.Net.Http, Version=4

[2020-10-19 15:14] Yvand commented on #104
AzureCP uses 17 [NuGet package Microsoft.IdentityModel.Clients.ActiveDirectory 5.2.6](https://www.nuget.org/packages/Microsoft.IdentityModel.Clients.ActiveDirectory/5.2.6), which requires System.Net.Http (>= 4.3.4).
I think it's the cause of the issue, even though logs show that it tries to load System.Net.Http.dll V4.2.

Can you try the following script:

[code]

[2020-10-19 15:20] Yvand commented on #103
@gauravPOC please note that all information you share here are public.
Also, I appreciate that you have a high impact in production, but I simply cannot commit to work on such urgencies, it's a free open source project, not a commercial product.

I took a look at the Fiddler trace. You need to focus on the GET to /_layouts/15/Authenticate.aspx?Source=%2F%5Ftrust%2F
Somehow, SharePoint rejects the

[2020-10-19 15:38] jharbach commented on #104
Yvan,

When running:

[System.Reflection.Assembly]::Load("System.Net.Http, Version=4.2.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a")

I get:

"Could not load file or assembly 'System.Net.Http, Version=4.2.0.0,
Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The system cannot find the file
specified."

However, when running:

[System.Reflection.Assembly]::Loa

[2020-10-20 01:38] JeganBas commented on #102
@Yvand , finally I've found the root cause of this issue, that is the .NET Framework version.
**When i bumped up my .NET Framework to 4.8 version, I was able to install and configure AzureCP smoothly**. so i think @Yvand need to update the pre-requisites for
![cp](https://user-images.githubusercontent.com/45036764/96529478-e4f20400-12a2-11eb-82f3-3be1cc31b00f.jpg)
AzureCP to 4.8. I'd just thought

[2020-10-20 01:38] #102 closed

[2020-10-20 06:48] Yvand commented on #102
@JeganBas Thank you for reminding me about this, I forgot about it.
Do you remember what was your older version of .NET Framework, before you updated?

[2020-10-20 06:52] Yvand commented on #104
What is the version of .NET framework installed on the SharePoint servers?

[2020-10-20 13:25] jharbach commented on #104
Based on RegEdit and MS Docs, my production farms appear to be running 4.7.  I have a lower level 2016 environment also not working that is running 4.6.2.

[2020-10-21 12:21] jharbach commented on #104
This is my most recent reply (I went to the site to provide comment):

Based on RegEdit and MS Docs, my production farms appear to be running 4.7. I have a lower level 2016 environment also not working that is running 4.6.2.

My farms should be pretty much standard, so I guess the question now is whether I can install a .Net update to get the proper assemblies, or whether I should wait for a new i

[2020-10-21 15:54] Yvand commented on #104
@jharbach I just added System.Net.Http.dll to release https://github.com/Yvand/AzureCP/releases/tag/17.0.20200618.1133
Can you try to add it manually to the GAC and confirm if it resolves the issue?

[2020-10-21 17:47] jharbach commented on #104
Yvan,

I had uninstalled v17 from my test environment and reinstalled and configured V16 to document the process, just in case we went that direction with production.  So to do your test, I updated to V17 and verified I could not connect to AzureAD.  (I did not remove and recreate the Get-SPTrustedIdentityTokenIssuer at this time.)

I used the script at https://yvand.github.io/AzureCP/Install-Azur

[2020-10-22 03:20] JeganBas commented on #102
@Yvand  You're welcome. Earlier I had .NET framework 4.7, with which i thought we are satisfied the minimum requirement.

[2020-10-22 14:04] Yvand commented on #104
@jharbach thank you for the test.
[NuGet package System.Net.Http](https://www.nuget.org/packages/System.Net.Http/) has a dependency on [System.Security.Cryptography.X509Certificates (>= 4.3.0)](https://www.nuget.org/packages/System.Security.Cryptography.X509Certificates/), so might be that, but it's an old dependency so I don't buy it.

On the SharePoint server, can you try to load System.Net.Http

[2020-10-22 14:42] #100 closed

[2020-10-22 14:59] jharbach commented on #104
Yvan,

This is probably getting beyond me—I’m not a developer, I’m a system administrator.  I’m using the installable version of your tool because Microsoft recommended it (although made it clear they did not support it).  Version 16 clearly works on my SharePoint 2016 farms (without Visual Studio installed) and Version 17 doesn’t.  I am prepared to move forward with V16, as I have no other choice

[2020-10-23 09:35] plantoschka opened #105 "AzureCP timeout"
We are planning to move from ADFS to authentication trough Azure AD. Therefore we are moving from LDAPCP (ADFS) to AzureCP (Azure AD).

I've prepared the necessary setup in Azure AD and set up a new TrustedTokenIssuer in SharePoint. After that I enabled it in a web application and could successfully login with my Azure AD credentials and access a SP site.

After that I setup our tenant in Azure CP

[2020-10-26 14:15] Yvand commented on #104
@jharbach I understand. I was never able to reproduce this issue despite I run automated tests for SharePoint 2013 (Windows Server 2012 R2), SharePoint 2016 (Windows Server 2019) and SharePoint 2019 (Windows Server 2019).
So it's difficult for me to identify what DLL is missing, and I really want to avoid adding the so many assemblies (about 30)...

[2020-10-26 14:37] jharbach commented on #104
Yvan,

Thank you for the reply.  It might be co-incidental, but my farms are a combo you haven’t listed as being tested: SharePoint 2016 on Server 2016 (as opposed to 2019).

From: Yvan Duhamel <notifications@github.com>
Sent: Monday, October 26, 2020 10:16 AM
To: Yvand/AzureCP <AzureCP@noreply.github.com>
Cc: Harbach, John W <JHarbach@alionscience.com>; Mention <mention@noreply.github.com>
Subjec

[2020-10-26 14:49] Yvand commented on #104
My bad, I typed too fast, SharePoint 2016 runs in Windows Server 2016... And I never reproduced the issue, sadly...
(I'll update my comment above)

[2020-10-26 15:05] Yvand commented on #105
@plantoschka can you set AzureCP logs to verbose and check SharePoint logs to see why it is not working?
To set AzureCP logs to verbose:

[code]

[2020-10-29 12:45] plantoschka commented on #105
Issue is resolves. Missed this guide: https://yvand.github.io/AzureCP/Configure-AzureCP.html
After I added proxy configuration to web.exe.config it worked fine.

[2020-10-29 12:45] #105 closed

[2020-10-29 15:20] Yvand commented on #105
Thank you for updating the status of the issue!

[2020-11-03 09:10] Yvand commented on #104
@jharbach for your information, I'm updating the build pipeline for next version to include a separate package with all dependent assemblies.
Then I'll provide a script to manually install all missing assemblies in the GAC of SharePoint servers.
The reason why I don't include all dependent assemblies in the WSP package is that there are way too many (111!), and I expect that they are already prese

[2020-11-03 15:52] jharbach commented on #104
I’d love to help resolve this, but, unfortunately, my lower-level environment I was using for testing is no longer available, and it will be at least a few days before I can restore or rebuild it. As stated earlier, I’m not a developer, so I’m really only testing the installation process.  When I can get my environment working, is there a specific installation distribution you want me to test?

Fr

[2020-11-04 08:20] Yvand commented on #104
I published a pre-release of v18: https://github.com/Yvand/AzureCP/releases/tag/18.0.20201103.1194
You will likely have the same issue as v17, but I added archive "AzureCP-18.0.20201103.1194-dependencies.zip", which contains all the DLLs needed by AzureCP.
I'm working on a script that will use this archive to test each DLL and determine which one is missing (and add it).
I'll let you know when the

[2020-11-06 16:47] #101 closed

[2020-11-10 14:01] Yvand commented on #104
@jharbach I worked on this and I suspect that assembly System.Numerics.Vectors.dll might be the cause.
To verify it, can you please run the script below on a SharePoint server (no need to install anything before)?

[code]

[2020-11-10 15:55] jharbach commented on #104
When I run it as provided, the system cannot find the file specified.

When I run the same thing using Version=4.0.0.0, it finds and returns the assembly.

Thank you,
John Harbach
Alion Science and Technology
301-693-9692 (Cell)

From: Yvan Duhamel <notifications@github.com>
Sent: Tuesday, November 10, 2020 9:01 AM
To: Yvand/AzureCP <AzureCP@noreply.github.com>
Cc: Harbach, John W <JHarbach@alions

[2020-11-10 16:10] Yvand commented on #104
Great, thank you for the test, I'm pretty sure it's the cause of the issue:
NuGet package [System.Memory](https://www.nuget.org/packages/System.Memory/) has a dependency on it on .NET 4.6.1 but not on .NET 4.5, which I think can explain the randomness.
I'll add it to AzureCP package for v18, hopefully it will completely fix the problem.

[2020-11-10 16:13] jharbach commented on #104
Good news—that sounds encouraging!

From: Yvan Duhamel <notifications@github.com>
Sent: Tuesday, November 10, 2020 11:10 AM
To: Yvand/AzureCP <AzureCP@noreply.github.com>
Cc: Harbach, John W <JHarbach@alionscience.com>; Mention <mention@noreply.github.com>
Subject: [External]_Re: [Yvand/AzureCP] V17 not working (#104)

Great, thank you for the test, I'm pretty sure it's the cause of the issue:
NuG

[2020-11-10 22:14] vargasfe commented on #95
Hello Yvan,

I was so happy that we got AzureCP working with an Azure.us tenant but unfortunately it stopped working and I have not been able to diagnose the cause.

I have reconfigured AzureCP and re-added the tenant but the people picker just won’t return any results.

I added the endpoints with PowerShell

Add-Type -AssemblyName "AzureCP, Version=1.0.0.0, Culture=neutral, PublicKeyToken=65dc6b5

[2020-11-10 22:28] vargasfe commented on #95
Yvan,

Actually I found the following in the SP logs but still I can’t figure out why it stopped working…

Thanks for you help,

Fernando

11/10/2020 17:00:27.16               w3wp.exe (0x2160)                                       0x2DD8 AzureCP                             Core                                          1337       Unexpected       [AzureCP] Unable to get access token for tenant 'my

[2020-11-12 09:45] Yvand commented on #95
@vargasfe I have no idea why, all of a sudden, it stopped working with this error.

However, last week I replaced authentication library ADAL with MSAL.NET and improved further the integration of national clouds.
But I need to test it with national cloud (I don't have access to any) before I can publish it.
Are you interested in testing it?

[2020-11-12 13:21] jharbach commented on #104
Yvan, is there going to be a release of the V18 .wsp soon?  (Or a simple fix to V17, which is in place, but not working?)  I’m getting pressure to complete migration, and rolling back to a previous version or using a new beta version are not options that are easy to sell to management.

From: Yvan Duhamel <notifications@github.com>
Sent: Tuesday, November 10, 2020 11:10 AM
To: Yvand/AzureCP <Azure

[2020-11-12 14:56] vargasfe commented on #95
Yvan,

Yes, please. I’ll try anything at this point.

This people picker is dead in the water as it is.

Thanks,

Fernando

From: Yvan Duhamel <notifications@github.com>
Sent: Thursday, November 12, 2020 4:46 AM
To: Yvand/AzureCP <AzureCP@noreply.github.com>
Cc: vargasfe <vargasfe@yahoo.com>; Mention <mention@noreply.github.com>
Subject: Re: [Yvand/AzureCP] AzureAD in sovereign cloud (#95)

@varga

[2020-11-12 15:09] Yvand commented on #95
Hi Fernando, you can find it here: https://github.com/Yvand/AzureCP/releases/tag/18.0.20201112.1214

[2020-11-12 15:11] Yvand commented on #95
Notes:
- You will need to delete and recreate the Azure AD connection, because it will be automatically be bound to public Azure cloud
- You no longer need to set any property in PowerShell to set the national cloud, you do it directly in the UI when adding the tenant

[2020-11-12 15:14] Yvand commented on #104
Yes, v18 is coming, either today or tomorrow unless I spot a last minute problem in integration tests.
It is currently a pre-release: https://github.com/Yvand/AzureCP/releases/tag/18.0.20201112.1214
If all tests pass successfully, it will become the final v18 version

[2020-11-12 17:12] vargasfe commented on #95
Yvan,

Installing the wsp reports the following error:

Could not load file or assembly 'Microsoft.Graph, Version=3.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35' or one of its dependencies. The system cannot find the file specified.

Let me know what to do next.

Thanks,

Fernando

From: Yvan Duhamel <notifications@github.com>
Sent: Thursday, November 12, 2020 10:10 AM
To: Yvand/AzureCP

[2020-11-12 17:19] Yvand commented on #95
In https://github.com/Yvand/AzureCP/releases/tag/18.0.20201112.1214, can you download AzureCP-18.0.20201112.1214-dependencies.zip and unzip it in a directory on your SharePoint server.
Then, run the following script to find which assemblies are missing:

[code]

[2020-11-12 17:30] vargasfe commented on #95
Yvan,

I removed the previous version via powershell and was then able to install and deploy this successfully.

Everything in the configuration and adding the tenant seems to work fine including the “Test Connection to Tenant” but unfortunately people piker is not returning anything.

Do you have a powershell command to test the query people picker would make?

Thanks,

Fernando

From: Fernando V

[2020-11-12 21:52] vargasfe commented on #95
Yvan,

Below is the output of the dependency check. I am not sure why those assemblies are not available. The server is 100% up to date with patches. (Windows Server 2012R2)

Additionally, see the attached log for the errors when I try to use people picker.

I hope this helps.

I’ve sanitized the domain and user but otherwise the log is original

Thanks,

Fernando

GAC    Version        Location

[2020-11-13 10:02] Yvand commented on #95
I think the Microsoft.Threading.Tasks*.dll can be ignored, they also don't resolve in my working environment.
Can you please test to run this script:

[code]

[2020-11-13 12:52] Yvand commented on #95
Also, you can test to replay the queries using Postman collection here: https://yvand.github.io/AzureCP/Troubleshoot-AzureCP.html

[2020-11-13 18:05] vargasfe commented on #95
Yvan,

This is the result of the script below:

Still, people picker is not returning results.

Microsoft.Graph, Version=3.19.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35

Microsoft.Graph.Core, Version=1.22.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35

Newtonsoft.Json, Version=6.0.0.0, Culture=neutral, PublicKeyToken=30ad4fe6b2a6aeed

C:\Windows\Microsoft.Net\assembly\GAC_MSIL\Ne

[2020-11-13 18:58] vargasfe commented on #95
Yvan,

This log includes more than just AzureCP and I see issues with missing types for AzureCP.

I hope this helps.

Fernando

From: Yvan Duhamel <notifications@github.com>
Sent: Friday, November 13, 2020 5:03 AM
To: Yvand/AzureCP <AzureCP@noreply.github.com>
Cc: vargasfe <vargasfe@yahoo.com>; Mention <mention@noreply.github.com>
Subject: Re: [Yvand/AzureCP] AzureAD in sovereign cloud (#95)

I th

[2020-11-13 22:19] vargasfe commented on #95
Yvan,

Another piece of information.  After a while, the configuration changes itself from the USGov cloud to the Azure Public setting.

Let me know if I can help some how…

Fernando

From: Yvan Duhamel <notifications@github.com>
Sent: Friday, November 13, 2020 7:52 AM
To: Yvand/AzureCP <AzureCP@noreply.github.com>
Cc: vargasfe <vargasfe@yahoo.com>; Mention <mention@noreply.github.com>
Subject: Re

[2020-11-16 08:37] Yvand commented on #95
You can visualize the actual traffic between AzureCP and Azure using [Fiddler](https://www.telerik.com/download/fiddler).
Start Fiddler on the SharePoint WFE and trust its root certificate (it's a dangerous action, be aware of what it means).
At the bottom left window of Fiddler, make sure it's monitoring "All processes".

Then, in the web.config of the SharePoint web app, configure the proxy like

[2020-11-16 14:53] vargasfe commented on #95
Yvan,

Thanks for the below but I am not sure I would know what to do with that.

Did the logs I sent you provide any insight into the solution?

I am dead in the water with this one.

Thanks for your help.

Fernando

From: Yvan Duhamel <notifications@github.com>
Sent: Monday, November 16, 2020 3:37 AM
To: Yvand/AzureCP <AzureCP@noreply.github.com>
Cc: vargasfe <vargasfe@yahoo.com>; Mention <menti

[2020-11-16 15:02] Yvand commented on #95
You didn't send any log as far as I can see

[2020-11-16 15:17] vargasfe commented on #95
I sent the two logs attached here.

Hope it helps.

Fernando

From: Yvan Duhamel <notifications@github.com>
Sent: Monday, November 16, 2020 10:03 AM
To: Yvand/AzureCP <AzureCP@noreply.github.com>
Cc: vargasfe <vargasfe@yahoo.com>; Mention <mention@noreply.github.com>
Subject: Re: [Yvand/AzureCP] AzureAD in sovereign cloud (#95)

You didn't send any log as far as I can see

—
You are receiving this

[2020-11-16 15:22] Yvand commented on #95
Nope, I think you need to reply directly in GitHub. And given the noise when you reply by email, it's not a bad idea to stop doing that anyway.

[2020-11-16 16:41] vargasfe commented on #95
Ok, here are the log files I had emailed.

[AzureCP.log](https://github.com/Yvand/AzureCP/files/5548377/AzureCP.log)
[AzureCP_logging.log](https://github.com/Yvand/AzureCP/files/5548378/AzureCP_logging.log)

[2020-11-16 16:53] Yvand commented on #95
I see, to really understand what is wrong, you really need to follow the steps in my comment https://github.com/Yvand/AzureCP/issues/95#issuecomment-727825512

And just to be sure the update worked, can you check the version of "C:\Windows\Microsoft.NET\assembly\GAC_MSIL\AzureCP\v4.0_1.0.0.0__65dc6b5903b51636\AzureCP.dll" (go to its Properties > Details)

[2020-11-16 17:25] vargasfe commented on #95
The file version is 18.0.16024.1214.  Is this the right one?

I would follow your fiddler instructions but I am not sure what the implications are. I am acknowledging your warning.  If you can explain this in a DM I'd appreciate it.

[2020-11-17 15:51] Yvand commented on #95
Trusting Fiddler root certificate means that it will be added to your server trusted root authorities. It will be returned with this command:

[code]
As a consequence, any certificate issued by this one will be considered valid by your machine. Malicious code might use that.
So, just don't forget to remove it after you're done with the investigations.

[2020-11-17 17:27] jharbach commented on #104
Yvan, sorry to bother you again, but I need to put together a migration timeline that includes the final v18 version.  I’ll test with the pre-release, but when can we expect the final v18 release?

From: Yvan Duhamel <notifications@github.com>
Sent: Thursday, November 12, 2020 10:14 AM
To: Yvand/AzureCP <AzureCP@noreply.github.com>
Cc: Harbach, John W <JHarbach@alionscience.com>; Mention <mention@

[2020-11-17 18:51] vargasfe commented on #95
while using Fiddler I notice that the Test connection to tenant does not actually generate traffic to the tenant on the AzureUSGov cloud.

All the graph connections get the following response:
fiddler.network.https> HTTPS handshake to graph.microsoft.us (for #3) failed. System.IO.IOException Unable to read data from the transport connection: An existing connection was forcibly closed by the remote

[2020-11-17 22:28] NaveenKanukuntla commented on #104
@Yvand , I tried to use the pre-release but I get the same error : Could not load file or assembly 'System.Net.Http, Version=4.2.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The system cannot find the file specified.

I am running SharePoint 2016 on Windows Server 2012 R2 DC.

.NET Version
PSChildName                      Version
-----------

[2020-11-18 08:36] Yvand commented on #104
@NaveenKanukuntla in https://github.com/Yvand/AzureCP/releases/tag/18.0.20201112.1214, can you download AzureCP-18.0.20201112.1214-dependencies.zip and unzip it in a directory on your SharePoint server.
Then, can you run the following script to find which assemblies are missing:

[code]

[2020-11-18 08:41] Yvand commented on #95
For the AzurePulic, the easiest is to delete and re-add the AAD tenant.
For the HTTPS traffic in Fiddler, something must be misconfigured. Did you trust the fiddler root certificate?

[2020-11-18 09:18] staehelir opened #107 "No result in people picker if guest filter is enabled"
We use SharePoint Foundation 2013 with the newest AzureCP version. We add a second Azure AD to the AzureCP and want to filter out guest accounts. When we enable guest filter, then the people picker can't find any account from the second Azure AD. After disable the guest account filter, then the people picker shows all account from the second Azure AD.

[2020-11-18 13:43] NaveenKanukuntla commented on #104
@Yvand : Here is the outcome

[code]

[2020-11-18 14:03] NaveenKanukuntla commented on #104
@Yvand : I Installed the missing assemblies using PowerShell, but now, I get this error :

``Method 'AuthenticateRequestAsync' in type 'azurecp.AADAppOnlyAuthenticationProvider' from assembly 'AzureCP, Version=1.0.0.0, Culture=neutral, PublicKeyToken=65dc6b5903b51636' does not have an implementation.``

What else am I missing ?

[2020-11-18 14:13] Yvand commented on #104
Too bad, I just build a [new release](https://github.com/Yvand/AzureCP/releases/tag/18.0.20201118.1226) with System.Net.Http.dll included directly in AzureCP.wsp, and I wanted to ask you to update and test if it fixes the issue.
About this new error, can you try to just do an iisreset?

[2020-11-18 14:16] NaveenKanukuntla commented on #104
@Yvand : Yes, after installing the dlls , I did perform an IISRESET.

Do you want me to try the new release ?

[2020-11-18 14:21] Yvand commented on #104
@NaveenKanukuntla just before you do that, can you go to the properties > Details of "C:\Windows\Microsoft.NET\assembly\GAC_MSIL\AzureCP\v4.0_1.0.0.0__65dc6b5903b51636\AzureCP.dll" to double check that you are using the expected version?
The error message doesn't make sense tbh...

[2020-11-18 14:27] NaveenKanukuntla commented on #104
@Yvand : Here is the screenshot of the dll

![image](https://user-images.githubusercontent.com/19915644/99542671-53001880-2980-11eb-872b-7b8173f12233.png)

[2020-11-18 14:30] Yvand commented on #104
Ok, it's definitely the expected one. Please test to update with the new package, but I have no explanation about the error you encounter...

[2020-11-18 14:47] NaveenKanukuntla commented on #104
@Yvand : I get the same error with the new release as well. Could I be missing some other dll ?

[2020-11-18 14:56] Yvand commented on #104
Can you please load AzureCP.dll from the GAC using [ILSpy](https://github.com/icsharpcode/ILSpy), and check if all its references show as "Success - Found in Assembly List":

![image](https://user-images.githubusercontent.com/8788631/99546029-4ac2d000-29b6-11eb-84db-f223e71d9104.png)

Also, really just for the sake of a double check, can you browse to azurecp.AADAppOnlyAuthenticationProvider.Authe

[2020-11-18 15:15] NaveenKanukuntla commented on #104
I could not open ILSpy on the Server since it required .net 4.7.2.

So, Instead I coped it to my local desktop and the AuthenticateRequestAsync method body does not match with what you show:

![image](https://user-images.githubusercontent.com/19915644/99548513-ba20cb80-2986-11eb-8cfb-eea68c4903eb.png)

Probably because I am missing several assemblies on my desktop ?

[code]

[2020-11-18 15:18] Yvand commented on #104
Can you try using this [older version](https://github.com/icsharpcode/ILSpy/releases/tag/v5.0.2) on your SharePoint machine?
It's really important to test it on the machine that fails.
Also, just in case, can you try this command:

[code]

[2020-11-18 15:24] NaveenKanukuntla commented on #104
@Yvand : Here is the screenshot from an older ILSPy version on my SharePoint Server

![image](https://user-images.githubusercontent.com/19915644/99549510-b80b3c80-2987-11eb-932d-1a14b7477892.png)

![image](https://user-images.githubusercontent.com/19915644/99549620-d7a26500-2987-11eb-94c4-298a48ef9f46.png)

Here is the output from assembly log analyzer

[code]
Looks like Microsoft.SharePoint dll v

[2020-11-18 15:26] NaveenKanukuntla commented on #104
I just checked and yes, I do not have ver 15.0.0.0

![image](https://user-images.githubusercontent.com/19915644/99550189-6e6f2180-2988-11eb-8b08-2426670e4132.png)

[2020-11-18 15:54] NaveenKanukuntla commented on #104
Here is the output for Nito.AyncEx

Nito.AsyncEx, Version=4.0.1.0, Culture=neutral, PublicKeyToken=09d695329ca273b7

[2020-11-18 16:11] NaveenKanukuntla commented on #104
I recompiled your source code with SharePoint 2016  as Target project. Generated a new wsp. I still get the same error :

`Method 'AuthenticateRequestAsync' in type 'azurecp.AADAppOnlyAuthenticationProvider' from assembly 'AzureCP, Version=18.0.16024.1214, Culture=neutral, PublicKeyToken=12338a6b598a921d' does not have an implementation. `

[2020-11-18 16:17] Yvand commented on #104
I just tested (again) the new version on a SharePoint 2016 farm and it works just fine.
The server seems to be missing something but I have no idea what this is. Also, the decompiled code of method azurecp.AADAppOnlyAuthenticationProvider.AuthenticateRequestAsync() is very different from my environments. In fact yours looks very much better, but I wonder if it can explain the issue. In this method

[2020-11-18 16:21] NaveenKanukuntla commented on #104
@Yvand : I have a feeling it could be requiring .NET 4.7.2 or higher

[2020-11-18 16:27] Yvand commented on #104
@NaveenKanukuntla I think I know why.
I use [Nito.AsyncEx.StrongNamed](https://www.nuget.org/packages/Nito.AsyncEx.StrongNamed/) instead of [Nito.AsyncEx](https://www.nuget.org/packages/Nito.AsyncEx/) because it is strong named. I thought they were aligned, but they are not: Nito.AsyncEx.StrongNamed seems not maintained and has dependencies on Microsoft.Bcl* that I think you are missing, it would

[2020-11-18 16:31] NaveenKanukuntla commented on #104
@Yvand : Yes, I was just looking at the same thing, dependencies for Nito.AyncEx. I was checking my GAC for Microsoft.Bcl dlls. Do not see them anywhere.

I will wait for your new build. I have a demo tomorrow , So I am trying to get it to work.

[2020-11-18 16:55] Yvand commented on #104
Well, really sorry but for some reason, I cannot get the Microsoft.Bcl* DLLs, even after adding all NuGet packages.
Maybe you can try to add them manually on your server for your demo (I really think it's the issue).
On my side, I'll work on replacing [Nito.AsyncEx.StrongNamed](https://www.nuget.org/packages/Nito.AsyncEx.StrongNamed/) with [Nito.AsyncEx](https://www.nuget.org/packages/Nito.AsyncEx

[2020-11-18 19:56] vargasfe commented on #95
Yvan,
I removed the tenant, reset the AzureCP Configuration, retracted the solutions, removed the solution.
Then, I installed the 1226 release, configured the tenant for the AzureUSGovernment cloud and tested.
Fiddler shows that both login and graph endpoints being used are the .com and not the .us.
Also, as I mentioned before, the tenant configuration is changing the AzureUSGovernment to AzurePub

[2020-11-18 20:29] vargasfe commented on #95
If I set the cloud instance to "AzureUSGovernment" with powershell and test the people picker, I can see in fiddler that the login to the .us endpoint is successful but the subsequent calls to graph.microsoft.us fail with "fiddler.network.https> HTTPS handshake to graph.microsoft.us (for #5) failed. System.IO.IOException Unable to read data from the transport connection: An existing connection was

[2020-11-19 11:06] Yvand commented on #95
@vargasfe about the endpoint reverting to AzurePublic on its own, I wonder if you could be in a multi-server farm, and somehow one of the server is still running with an older AzureCP.dll.
It would explain the issue, and probably also some of the other weird behaviors you noticed.

[2020-11-19 13:04] Yvand commented on #104
@NaveenKanukuntla can you please give a try to https://github.com/Yvand/AzureCP/releases/tag/18.0.20201119.1228 ?

[2020-11-19 14:53] NaveenKanukuntla commented on #104
@Yvand I have tested it and I still get the same error :

`Method 'AuthenticateRequestAsync' in type 'azurecp.AADAppOnlyAuthenticationProvider' from assembly 'AzureCP, Version=1.0.0.0, Culture=neutral, PublicKeyToken=65dc6b5903b51636' does not have an implementation. `

For now, I am using V16. As the demo is in another 4 hours today.

[2020-11-19 15:07] Yvand commented on #104
It's so weird, I updated AzureCP to use the latest Nito.AsyncEx, which has very different dependencies compared to the outdated Nito.AsyncEx.StrongNamed, and yet you continue to get the issue.

I have it working like a charm on my automated CI test: a fresh new SharePoint 2016 / Windows Server 2016 DC with .NET framework 4.7.3620 (version of "C:\Windows\Microsoft.NET\Framework64\v4.0.30319\clr.dll

[2020-11-19 15:09] NaveenKanukuntla commented on #104
I believe , there is a dependency on .NET 4.7.2 or above
I will try to see if my Windows team can update the .net version and let you know what happens.

Anyways, thank you very much for diligently trying to solve the issue.

[2020-11-19 15:27] Yvand commented on #104
No worries, I want this to work and get rid of this kind of ridiculous setup issues.
Based on your previous comment https://github.com/Yvand/AzureCP/issues/104#issuecomment-729252011 you are already running with version 4.7.3620 (same as me)

I have a theory:
Both [Nito.AsyncEx](https://www.nuget.org/packages/Nito.AsyncEx/) (through a dependency on [System.Collections.Immutable](https://www.nuget.

[2020-11-19 15:41] vargasfe commented on #95
Yvan,

This is a single server farm.

Do you have any thoughts on why the calls to graph.us generate an error?

What should I do?

Thanks,

Fernando

From: Yvan Duhamel <notifications@github.com>
Sent: Thursday, November 19, 2020 6:07 AM
To: Yvand/AzureCP <AzureCP@noreply.github.com>
Cc: vargasfe <vargasfe@yahoo.com>; Mention <mention@noreply.github.com>
Subject: Re: [Yvand/AzureCP] AzureAD in sov

[2020-11-19 16:14] Yvand commented on #104
Well, I just tested to switch the TargetFrameworkVersion of AzureCP from v4.6.1 to v4.7.2, and the result is pretty spectacular:
It reduced the number of dependencies from 115 (!!) to 18, so I'm very seriously thinking about changing that for good.

The downside is that SharePoint 2013+ require only 4.5, so some would need to update specifically for using AzureCP, but [4.5](https://docs.microsoft.

[2020-11-19 16:35] Yvand commented on #95
@vargasfe tomorrow I'll propose you to test a new version (not released yet).
It doesn't address specifically your issue (because I have no idea why it occurs), but it aims to significantly reduce the various setup issues that occurred with v17 and the betas of v18 so far.
The only drawback is that it requires at least .NET Framework 4.7.2.
The reason for that change is the side note "2" documente

[2020-11-19 17:34] NaveenKanukuntla commented on #104
Thank you Yvan. If you have the new solution ready, which is targeting 4.7.2. I will give it a shot and test it for you.

[2020-11-19 17:38] Yvand commented on #104
Here it is (I'll run CI tests only tomorrow): https://github.com/Yvand/AzureCP/releases/tag/18.0.20201119.1236

[2020-11-19 22:45] vargasfe commented on #95
FYI
I tested the 1236 release and it did not resolve the issue I have.
The .Net version on the server is 4.8.03761

When AzureCP thinks the tenant is in the .com cloud, I see in Fiddler an attempt to login which fails, a tunnel to graph.microsoft.com (connect) which fails because of the failed authentication and finally a query which also fails because of failed authentication.
After setting the C

[2020-11-19 23:24] vargasfe commented on #95
From the SP Log:

11/19/2020 18:16:15.62 	OWSTIMER.EXE (0x3488)                   	0x195C	SharePoint Foundation         	Topology                      	75dz	High    	The SPPersistedObject with Name AzureCPConfig, Id 0e9f8fb6-b314-4ccc-866d-dec0be76c237, Parent 540ddd3a-47c1-4b24-9d35-1aa5c0d778b8 failed to initialize with the following error: System.Reflection.TargetInvocationException: Exception

[2020-11-19 23:29] vargasfe commented on #95
I checked the dependencies for this release and all assemblies are installed.

[2020-11-20 08:41] Yvand commented on #95
The "Could not load file or assembly" errors for the owstimer.exe, did you restart the SPTimerV4 service after updating AzureCP? It's mandatory for it to load the new version.

About the connection errors, can you test to run this script:

[code]

[2020-11-20 15:37] vargasfe commented on #95
I installed release 1245 making sure to restart the SPTimer service - Still I get no results in people picker.

Here is the result of the invoke-webrequest commands: 1 success, 2 fail

StatusCode        : 200
StatusDescription : OK
Content           :

                    <!DOCTYPE html>
                    <html dir="ltr" class="" lang="en">
                    <head>
                        <tit

[2020-11-20 15:44] Yvand commented on #95
@vargasfe ok, now I think I know what the problem is!
I bet it's a certificate issue, probably you did not run Windows Update for a long time on this VM, so you are missing some certificate authorities that are required to trust and access https://graph.microsoft.us and https://login.microsoftonline.us.

You can validate the actual problem by dumping the details of the WebException
As long as Invo

[2020-11-20 16:29] vargasfe commented on #95
The machine was fully updated within the last two weeks.

Here is the dump of the invoke-webrequest calls:

Call to https://login.microsoftonline.us
System.Net.WebException: The underlying connection was closed: An unexpected error occurred on a send. ---> System.IO.IOException: Unable to read data from the transport connection: An existing connection was forcibly closed by the remote host. ---> S

[2020-11-20 16:35] Yvand commented on #95
Could it be a proxy then? A firewall?

[2020-11-20 16:48] vargasfe commented on #95
I don't think so.
Fiddler says that the handshake fails.  What are the reasons the handshake to login and graph could fail?
Remember that this worked back in July.

[2020-11-20 17:25] Yvand commented on #95
I'm confident think it's a client side issue, independent of AzureCP.
Can you browse https://graph.microsoft.us and https://login.microsoftonline.us with IE from the server?

[2020-11-20 18:12] vargasfe commented on #95
navigating to graph.microsoft.us redirects me to https://developer.microsoft.com/en-us/graph

and navigating to https://login.microsoftonline.us redirects to https://portal.azure.us/#home

Something keeps changing the tenant cloudinstance to AzurePublic. I  keep setting back with powershell.

[2020-11-20 18:37] vargasfe commented on #95
Is there anything in the code that sets the securityprotocol version in use?

[2020-11-20 23:34] vargasfe commented on #95
Could it be that microsoft.us is rejecting the connecctions because of TLS?  Fiddler shows it is using TLS/1.0
I am just guessing at causes.
FYI - I just installed release 1245 against a AzurePublic cloud and it work without a hitch.

A SSLv3-compatible ClientHello handshake was found. Fiddler extracted the parameters below.

Version: 3.1 (TLS/1.0)
Random: 5F B8 51 45 C7 B7 38 A5 32 B0 03 92 C2 21

[2020-11-23 12:53] Yvand commented on #104
@NaveenKanukuntla were you able to test latest release? FYI on Friday I published a new one: https://github.com/Yvand/AzureCP/releases/tag/18.0.20201120.1245

[2020-11-23 14:51] Yvand commented on #95
I don't know that, but I found this article: https://docs.microsoft.com/en-us/azure/security/fundamentals/tls-certificate-changes
The time of the update matches pretty well the moment when you started getting issues:
"Azure Active Directory (Azure AD) services began this transition on July 7, 2020."

[2020-11-23 15:10] NaveenKanukuntla commented on #104
@Yvand : Sorry, was busy in configuring and demoing the V16 version. Sure, let me test it today and I will let you know how it goes.

[2020-11-23 17:46] vargasfe commented on #95
Yvan,
what is the expected successful response to
invoke-webrequest https://graph.microsoft.us

Does AzureCP work for you against a AzureUsGovernment tenant?
If it works for you, What IP address is the url resolving to?

[2020-11-23 21:18] NaveenKanukuntla commented on #104
@Yvand : I Installed and now I get the previous error

`File not Found :  System.IO.FileNotFoundException: Could not load file or assembly 'System.Net.Http, Version=4.2.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The system cannot find the file specified.`

I think it could be due to some .net framework dependencies, it does work on windows server 2016 though

[2020-11-24 08:48] Yvand commented on #104
It's so weird because:
- Since I switched TargetFrameworkVersion to v4.7.2, System.Net.Http.dll is not longer referenced at all in the project, and it's no longer added to the bin folder during compilation
- My dev box is a Win 2012 R2 with .NET 4.8 and the only System.Net.Http.dll present in the GAC is Version=4.0.0.0
I truly don't understand what keep trying to load this assembly in your environ

[2020-11-24 09:12] Yvand commented on #95
Yes AzureCP works perfectly fine against a AzureUsGovernment tenant, I've tested it for 2 weeks without any issue.

Here is the output of the Invoke-WebRequest in my SP server (note that I needed to use -UseBasicParsing):

[code]

[2020-11-25 05:47] vargasfe commented on #95
Yvan,
I made some configuration changes to the server re: TLS/SSL which makes AzureCP work as expected but only while Fiddler is running.

As soon as I close Fiddler, AzureCP stops working.
Can you think of why this might be or how to fix it?

Thanks,

[2020-11-25 08:10] Yvand commented on #95
After closing Fiddler, did you remove the proxy configuration in the web.config, where you set Fiddler as the proxy?

[2020-11-25 08:10] Yvand commented on #95
Can you also detail what changes you made?

[2020-11-25 15:05] NaveenKanukuntla commented on #104
@Yvand : Thanks for looking into this, it might as well be an issue with the box I have. Anyways, I did install the latest version on my other dev SharePoint 2016 / Win 2016 box and upgraded it to the latest version you have.

Works just fine. No issues there.

[2020-11-25 15:26] vargasfe commented on #95
I made changes to disable: TLS 1.0, TLS 1.1, SSL 2.0, SSL 3.0,  and RC4,
enable TLS 1.2 and SchUseStrongCryto for the .NetFramework

---- PS Script below ----

reg add "HKLM\SYSTEM\CurrentControlSet\Control\SecurityProviders\SCHANNEL\Ciphers\RC4 40/128" /f
reg add "HKLM\SYSTEM\CurrentControlSet\Control\SecurityProviders\SCHANNEL\Ciphers\RC4 40/128" /v Enabled /t REG_DWORD /d 00000000
reg add "HKLM

[2020-11-25 15:29] vargasfe commented on #95
Re: "After closing Fiddler, did you remove the proxy configuration in the web.config, where you set Fiddler as the proxy?"
I don't manually change any web.config files when running Fiddler.  Which file are you referring to?

[2020-11-25 16:21] vargasfe commented on #95
Ok. Finally!!
The solution to my problems was to do the TLS/SSL config changes above with one additional one listed below.
I also removed the proxy from the web.config of the web app (I don't remember putting it there but....)

It is all working as expected now.

Thanks a lot Yvan.
Fernando

reg add "HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\SecurityProviders\SChannel\KeyExchangeAlgorith

[2020-11-25 17:09] #103 closed

[2020-11-26 08:10] Yvand commented on #95
Perfect! FYI I made version 18.0.20201120.1245 the final public release for v18.
I'll close this issue, don't hesitate to open a new issue if you encounter any problem in the future.

[2020-11-26 08:10] #95 closed

[2020-11-26 08:11] Yvand commented on #104
Perfect! FYI I made version 18.0.20201120.1245 the final public release for v18.
I'll close this issue, can you please open a new one for the "Return security-enabled groups only" ?

[2020-11-26 08:11] #104 closed

[2020-11-30 13:16] rootofdigits commented on #100
Dear Yvand,

so after testing I find out that this is the issue as you said: "FYI, AzureCP can only set profiles properties in the site collections, where user is added for the 1st time in the site collection"
how I can add them for the first time if they already were added before we deployed AzureCP. I mean I need to perform this on existing old site collection and I am open to delete all users a